<a href="https://colab.research.google.com/github/loyoladesa/qoeprediction/blob/main/notebooks/Experimentos_Pytorch_Dados_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Configuração Ambiente

In [ ]:
!pip install torch-geometric
!pip install torch-sparse
!pip install torch-scatter
!pip install torch-cluster
!pip install torch-spline-conv

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch-geometric in /usr/local/lib/python3.9/dist-packages (2.3.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from torch-geometric) (1.10.1)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from torch-geometric) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from torch-geometric) (4.65.0)
Requirement already satisfied: psutil>=5.8.0 in /usr/local/lib/python3.9/dist-packages (from torch-geometric) (5.9.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.9/dist-packages (from torch-geometric) (1.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from torch-geometric) (1.22.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from torch-geometric) (3.1.2)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.9/dist-packages (from torch-geometric) (3.0.9)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->torch-geometric) (2.1.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->torch-geometric) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->torch-geometric) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->torch-geometric) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->torch-geometric) (2.0.12)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn->torch-geometric) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn->torch-geometric) (3.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch-sparse in /usr/local/lib/python3.9/dist-packages (0.6.17)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from torch-sparse) (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /usr/local/lib/python3.9/dist-packages (from scipy->torch-sparse) (1.22.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch-scatter in /usr/local/lib/python3.9/dist-packages (2.1.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch-cluster in /usr/local/lib/python3.9/dist-packages (1.6.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from torch-cluster) (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /usr/local/lib/python3.9/dist-packages (from scipy->torch-cluster) (1.22.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch-spline-conv in /usr/local/lib/python3.9/dist-packages (1.2.2)

In [ ]:
!pip install 'scipy>=1.8'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy>=1.8 in /usr/local/lib/python3.9/dist-packages (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /usr/local/lib/python3.9/dist-packages (from scipy>=1.8) (1.22.4)

In [ ]:
!pip install 'networkx<2.7'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: networkx<2.7 in /usr/local/lib/python3.9/dist-packages (2.6.3)

In [ ]:
!pip freeze

absl-py==1.4.0
alabaster==0.7.13
albumentations==1.2.1
altair==4.2.2
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arviz==0.15.1
astropy==5.2.2
astunparse==1.6.3
attrs==22.2.0
audioread==3.0.0
autograd==1.5
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
blis==0.7.9
bokeh==2.4.3
branca==0.6.0
CacheControl==0.12.11
cached-property==1.5.2
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.12
chex==0.1.7
click==8.1.3
cloudpickle==2.2.1
cmake==3.25.2
cmdstanpy==1.1.0
colorcet==3.0.1
colorlover==0.3.0
community==1.0.0b1
confection==0.0.4
cons==0.4.5
contextlib2==0.6.0.post1
contourpy==1.0.7
convertdate==2.4.0
cryptography==40.0.1
cufflinks==0.17.3
cvxopt==1.3.0
cvxpy==1.3.1
cycler==0.11.0
cymem==2.0.7
Cython==0.29.33
dask==2022.12.1
datascience==0.17.6
db-dtypes==1.1.1
dbus-python==1.2.16
debugpy==1.6.6
decorator==4.4.2
defusedxml==0.7.1
distributed==2022.12.1
dlib==19.24.1
dm-tree==0.1.8
docutils==0.16
dopamine-rl==4.0.6
earthengine-api==0.1.347
easydict==1.10
ecos==2.0.12
editdistance==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints==0.4
ephem==4.1.4
et-xmlfile==1.1.0
etils==1.1.1
etuples==0.3.8
exceptiongroup==1.1.1
fastai==2.7.12
fastcore==1.5.29
fastdownload==0.0.7
fastjsonschema==2.16.3
fastprogress==1.0.3
fastrlock==0.8.1
filelock==3.10.7
firebase-admin==5.3.0
Flask==2.2.3
flatbuffers==23.3.3
flax==0.6.8
folium==0.14.0
fonttools==4.39.3
frozendict==2.3.6
fsspec==2023.3.0
future==0.18.3
gast==0.4.0
GDAL==3.3.2
gdown==4.6.6
gensim==4.3.1
geographiclib==2.0
geopy==2.3.0
gin-config==0.5.0
glob2==0.7
google==2.0.3
google-api-core==2.11.0
google-api-python-client==2.70.0
google-auth==2.17.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==3.4.2
google-cloud-bigquery-storage==2.19.1
google-cloud-core==2.3.2
google-cloud-datastore==2.11.1
google-cloud-firestore==2.7.3
google-cloud-language==2.6.1
google-cloud-storage==2.7.0
google-cloud-translate==3.8.4
google-colab @ file:///colabtools/dist/google-colab-1.0.0.tar.gz
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.59.0
googledrivedownloader==0.4
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.53.0
grpcio-status==1.48.2
gspread==3.4.2
gspread-dataframe==3.0.8
gym==0.25.2
gym-notices==0.0.8
h5netcdf==1.1.0
h5py==3.8.0
HeapDict==1.0.1
hijri-converter==2.2.4
holidays==0.21.13
holoviews==1.15.4
html5lib==1.1
htmlmin==0.1.12
httpimport==1.3.0
httplib2==0.21.0
humanize==4.6.0
hyperopt==0.2.7
idna==3.4
ImageHash==4.3.1
imageio==2.25.1
imageio-ffmpeg==0.4.8
imagesize==1.4.1
imbalanced-learn==0.10.1
imgaug==0.4.0
importlib-metadata==6.1.0
importlib-resources==5.12.0
imutils==0.5.4
inflect==6.0.2
iniconfig==2.0.0
intel-openmp==2023.1.0
ipykernel==5.5.6
ipython==7.34.0
ipython-genutils==0.2.0
ipython-sql==0.4.1
ipywidgets==7.7.1
itsdangerous==2.1.2
jax==0.4.7
jaxlib @ https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.4.7+cuda11.cudnn86-cp39-cp39-manylinux2014_x86_64.whl
jieba==0.42.1
Jinja2==3.1.2
joblib==1.1.1
jsonpickle==3.0.1
jsonschema==4.3.3
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter-server==1.23.6
jupyter_core==5.3.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kaggle==1.5.13
keras==2.12.0
keras-vis==0.4.1
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
langcodes==3.3.0
lazy_loader==0.2
libclang==16.0.0
librosa==0.10.0.post2
lightgbm==3.3.5
lit==16.0.0
llvmlite==0.39.1
locket==1.0.0
logical-unification==0.4.5
LunarCalendar==0.0.9
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-venn==0.11.9
mdurl==0.1.2
miniKanren==1.0.3
missingno==0.5.2
mistune==0.8.4
mizani==0.8.1
mkl==2019.0
ml-dtypes==0.0.4
mlxtend==0.14.0
more-itertools==9.1.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
multimethod==1.9.1
multipledispatch==0.6.0
multitasking==0.0.11
murmurhash==1.0.9
music21==8.1.0
natsort==8.3.1
nbclient==0.7.2
nbconvert==6.5.4
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==2.6.3
nibabel==3.0.2
nltk==3.8.1
notebook==6.4.8
numba==0.56.4
numexpr==2.8.4
numpy==1.22.4
oauth2client==4.1.3
oauthlib==3.2.2
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
openpyxl==3.0.10
opt-einsum==3.3.0
optax==0.1.4
orbax==0.1.7
osqp==0.6.2.post0
packaging==23.0
palettable==3.3.0
pandas==1.4.4
pandas-datareader==0.10.0
pandas-gbq==0.17.9
pandas-profiling==3.2.0
pandocfilters==1.5.0
panel==0.14.4
param==1.13.0
parso==0.8.3
partd==1.3.0
pathlib==1.0.1
pathy==0.10.1
patsy==0.5.3
pep517==0.13.0
pexpect==4.8.0
phik==0.12.3
pickleshare==0.7.5
Pillow==8.4.0
pip-tools==6.6.2
platformdirs==3.2.0
plotly==5.13.1
plotnine==0.10.1
pluggy==1.0.0
pooch==1.6.0
portpicker==1.3.9
prefetch-generator==1.0.3
preshed==3.0.8
prettytable==0.7.2
proglog==0.1.10
progressbar2==4.2.0
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.38
prophet==1.1.2
proto-plus==1.22.2
protobuf==3.20.3
psutil==5.9.4
psycopg2==2.9.5
ptyprocess==0.7.0
py4j==0.10.9.7
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycparser==2.21
pyct==0.5.0
pydantic==1.10.7
pydata-google-auth==1.7.0
pydot==1.4.2
pydot-ng==2.0.0
pydotplus==2.0.2
PyDrive==1.3.1
pyerfa==2.0.0.3
pygame==2.3.0
Pygments==2.14.0
PyGObject==3.36.0
pymc==5.1.2
PyMeeus==0.5.12
pymystem3==0.2.0
PyOpenGL==3.1.6
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
pytensor==2.10.1
pytest==7.2.2
python-apt==0.0.0
python-dateutil==2.8.2
python-louvain==0.16
python-slugify==8.0.1
python-utils==3.5.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.2.1
qdldl==0.1.5.post3
qudida==0.0.4
regex==2022.10.31
requests==2.27.1
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rich==13.3.3
rpy2==3.5.5
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
screen-resolution-extra==0.0.0
scs==3.2.2
seaborn==0.12.2
Send2Trash==1.8.0
shapely==2.0.1
six==1.16.0
sklearn-pandas==2.2.0
smart-open==6.3.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4
soxr==0.3.4
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
Sphinx==3.5.4
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.47
sqlparse==0.4.3
srsly==2.4.6
statsmodels==0.13.5
sympy==1.11.1
tables==3.7.0
tabulate==0.8.10
tangled-up-in-unicode==0.2.0
tblib==1.7.0
tenacity==8.2.2
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-datasets==4.8.3
tensorflow-estimator==2.12.0
tensorflow-gcs-config==2.12.0
tensorflow-hub==0.13.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.12.0
tensorflow-probability==0.19.0
tensorstore==0.1.35
termcolor==2.2.0
terminado==0.17.1
text-unidecode==1.3
textblob==0.17.1
tf-slim==1.1.0
thinc==8.1.9
threadpoolctl==3.1.0
tifffile==2023.3.21
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch @ https://download.pytorch.org/whl/cu118/torch-2.0.0%2Bcu118-cp39-cp39-linux_x86_64.whl
torch-cluster==1.6.1
torch-scatter==2.1.1
torch-sparse==0.6.17
torch-spline-conv==1.2.2
torch_geometric @ git+https://github.com/pyg-team/pytorch_geometric.git@87744e28ebb392b22829048b2cb94ff98e720987
torchaudio @ https://download.pytorch.org/whl/cu118/torchaudio-2.0.1%2Bcu118-cp39-cp39-linux_x86_64.whl
torchdata==0.6.0
torchsummary==1.5.1
torchtext==0.15.1
torchvision @ https://download.pytorch.org/whl/cu118/torchvision-0.15.1%2Bcu118-cp39-cp39-linux_x86_64.whl
tornado==6.2
tqdm==4.65.0
traitlets==5.7.1
triton==2.0.0
tweepy==4.13.0
typer==0.7.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uritemplate==4.1.1
urllib3==1.26.15
vega-datasets==0.9.0
visions==0.7.4
wasabi==1.1.1
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==3.6.4
wordcloud==1.8.2.2
wrapt==1.14.1
xarray==2022.12.0
xarray-einstats==0.5.1
xgboost==1.7.5
xkit==0.0.0
xlrd==2.0.1
yellowbrick==1.5
yfinance==0.2.14
zict==2.2.0
zipp==3.15.0

## Graph Attention Networks

In [ ]:
# We assume that PyTorch is already installed
import torch
torchversion = torch.__version__

# Install PyTorch Scatter, PyTorch Sparse, and PyTorch Geometric
#!pip install -q torch-scatter -f https://data.pyg.org/whl/torch-{torchversion}.html
#!pip install -q torch-sparse -f https://data.pyg.org/whl/torch-{torchversion}.html
!pip install -q git+https://github.com/pyg-team/pytorch_geometric.git

# Numpy for matrices
import numpy as np
np.random.seed(0)

# Visualization
import networkx as nx
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
import pandas as pd
from torch.utils.data import DataLoader, Dataset, SubsetRandomSampler

  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
  Building wheel for torch_geometric (pyproject.toml) ... done

## Implement GAT vs. GCN

In [ ]:
import torch.nn.functional as F
from torch.nn import Linear, Dropout
from torch_geometric.nn import GCNConv, GATv2Conv


class GCN(torch.nn.Module):
  """Graph Convolutional Network"""
  def __init__(self, dim_in, dim_h, dim_out):
    super().__init__()
    self.gcn1 = GCNConv(dim_in, dim_h)
    self.gcn2 = GCNConv(dim_h, dim_out)
    self.optimizer = torch.optim.Adam(self.parameters(),
                                      lr=0.01,
                                      weight_decay=5e-4)

  def forward(self, x, edge_index):
    h = F.dropout(x, p=0.5, training=self.training)
    h = self.gcn1(h, edge_index)
    h = torch.relu(h)
    h = F.dropout(h, p=0.5, training=self.training)
    h = self.gcn2(h, edge_index)
    return h, F.log_softmax(h, dim=1)


class GAT(torch.nn.Module):
  """Graph Attention Network"""
  def __init__(self, dim_in, dim_h, dim_out, heads=8):
    super().__init__()
    self.gat1 = GATv2Conv(dim_in, dim_h, heads=heads)
    self.gat2 = GATv2Conv(dim_h*heads, dim_out, heads=1)
    self.optimizer = torch.optim.Adam(self.parameters(),
                                      lr=0.005,
                                      weight_decay=5e-4)

  def forward(self, x, edge_index):
    h = F.dropout(x, p=0.6, training=self.training)
    h = self.gat1(x, edge_index)
    h = F.elu(h)
    h = F.dropout(h, p=0.6, training=self.training)
    h = self.gat2(h, edge_index)
    return h, F.log_softmax(h, dim=1)

def accuracy(pred_y, y):
    """Calculate accuracy."""
    return ((pred_y == y).sum() / len(y)).item()

def precision(pred_y, y):
    """Calculate accuracy."""
    pred_positivos = (pred_y == 1)  
    real_positivos = (y == 1)
    tp = torch.bitwise_and(pred_positivos,real_positivos).sum()      
       
    return (tp/pred_positivos.sum())

def recall(pred_y, y):
    """Calculate accuracy."""
    pred_positivos = (pred_y == 1)  
    real_positivos = (y == 1)
    tp = torch.bitwise_and(pred_positivos,real_positivos).sum()

    pred_negativos = (pred_y == 0)  
    real_negativos = (y == 0)
    tn = torch.bitwise_and(pred_negativos,real_negativos).sum()
    fn = pred_negativos.sum() - tn

    return (tp/(tp+fn))

def f1_score(pred_y, y):
    """Calculate accuracy."""
    prec = precision(pred_y,y)
    rec = recall(pred_y,y)
    
    return ((2*rec*prec)/(rec+prec))

def train(model, data):
    """Train a GNN model and return the trained model."""
    criterion = torch.nn.CrossEntropyLoss()
    optimizer = model.optimizer
    epochs = 200

    model.train()
    for epoch in range(epochs+1):
        # Training
        optimizer.zero_grad()
        _, out = model(data.x, data.edge_index)
        loss = criterion(out[data.train_mask], data.y[data.train_mask])
        acc = accuracy(out[data.train_mask].argmax(dim=1), data.y[data.train_mask])
        loss.backward()
        optimizer.step()

        # Validation
        val_loss = criterion(out[data.val_mask], data.y[data.val_mask])
        val_acc = accuracy(out[data.val_mask].argmax(dim=1), data.y[data.val_mask])

        # Print metrics every 10 epochs
        if(epoch % 10 == 0):
            print(f'Epoch {epoch:>3} | Train Loss: {loss:.3f} | Train Acc: '
                  f'{acc*100:>6.2f}% | Val Loss: {val_loss:.2f} | '
                  f'Val Acc: {val_acc*100:.2f}%')
          
    return model

def test(model, data):
    """Evaluate the model on test set and print the accuracy score."""
    model.eval()
    _, out = model(data.x, data.edge_index)
    acc = accuracy(out.argmax(dim=1)[data.test_mask], data.y[data.test_mask])
    prec = precision(out.argmax(dim=1)[data.test_mask], data.y[data.test_mask])
    rec = recall(out.argmax(dim=1)[data.test_mask], data.y[data.test_mask])
    f1 = f1_score(out.argmax(dim=1)[data.test_mask], data.y[data.test_mask])
    return acc,prec,rec,f1

# Mount Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Experimento Classificação Dataset Completo

## Dataset RNP

### Carregar Vértices

In [ ]:
from torch_geometric.data import Data
from torch_geometric.loader import DataLoader

In [ ]:
path_dataset_metricas_rnp_transposto = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_1.csv'
path_dataset_metricas_rnp_transposto_final_semana = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_final_semana.csv'
path_dataset_metricas_rnp_normalizado = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_3_normalizado.csv'
path_dataset_rnp_3 = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_testes_2.csv'

In [ ]:
dados = pd.read_csv(path_dataset_metricas_rnp_transposto, delimiter=",")
dados = dados.T
dados

,0,1,2,3,4,5,6,7,8,9,...,215,216,217,218,219,220,221,222,223,224
id,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,215.0,216.0,217.0,218.0,219.0,220.0,221.0,222.0,223.0,224.0
f_0,845572.0,820199.0,112000.0,7840729.0,866019.0,858103.0,884162.0,839173.0,4102432.0,869847.0,...,58.0,53.0,58.0,0.0,0.0,58.0,56.0,54.0,58.0,58.0
f_1,847565.0,787375.0,112000.0,3424706.0,864759.0,878133.0,890030.0,869218.0,3399700.0,860043.0,...,58.0,53.0,58.0,0.0,0.0,58.0,56.0,54.0,58.0,58.0
f_2,803419.0,831836.0,112000.0,3847770.0,861982.0,694367.0,904923.0,852103.0,3679127.0,817417.0,...,58.0,53.0,58.0,0.0,0.0,58.0,56.0,54.0,58.0,58.0
f_3,355415.0,808513.0,112000.0,7283799.0,854601.0,873149.0,932813.0,894016.0,1751930.0,871788.0,...,58.0,53.0,58.0,0.0,0.0,58.0,56.0,54.0,58.0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_24316,0.0,0.0,8830.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
f_24317,0.0,0.0,9080.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
f_24318,0.0,0.0,52830.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
f_24319,0.0,0.0,46200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
f_24320,0.0,0.0,60800.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_max_scaled = dados.copy() 
for column in df_max_scaled.columns: 
    df_max_scaled[column] = df_max_scaled[column]  / df_max_scaled[column].max() 
      
display(df_max_scaled)

,0,1,2,3,4,5,6,7,8,9,...,215,216,217,218,219,220,221,222,223,224
id,0.000000,0.000001,0.000001,3.619861e-07,0.000004,0.000006,0.000006,0.000008,0.000002,0.000010,...,1.000000,1.00000,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.00000,1.000000
f_0,0.927910,0.911870,0.072964,9.460782e-01,0.965740,0.974980,0.929866,0.938655,0.807083,0.957579,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
f_1,0.930097,0.875378,0.072964,4.132319e-01,0.964335,0.997738,0.936037,0.972262,0.668833,0.946787,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
f_2,0.881652,0.924808,0.072964,4.642797e-01,0.961239,0.788942,0.951700,0.953118,0.723805,0.899861,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
f_3,0.390024,0.898878,0.072964,8.788779e-01,0.953008,0.992075,0.981032,1.000000,0.344662,0.959716,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_24316,0.000000,0.000000,0.005752,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24317,0.000000,0.000000,0.005915,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24318,0.000000,0.000000,0.034417,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24319,0.000000,0.000000,0.030098,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24320,0.000000,0.000000,0.039609,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000

In [ ]:
df_max_scaled.to_csv(path_dataset_metricas_rnp_normalizado,index=False)

In [ ]:
mediana_RTT = df_max_scaled[2].median()
print(mediana_RTT)

0.005921824104234527

In [ ]:
def classificar_alvo(x):
  if x < mediana_RTT:
    return 0
  return 1

In [ ]:
dados = df_max_scaled

### Obter Target

In [ ]:
target =dados[2].apply(classificar_alvo)

In [ ]:
target

id         0
f_0        1
f_1        1
f_2        1
f_3        1
          ..
f_24316    0
f_24317    0
f_24318    1
f_24319    1
f_24320    1
Name: 2, Length: 24322, dtype: int64

In [ ]:
target.value_counts()

1    12197
0    12125
Name: 2, dtype: int64

In [ ]:
dados.to_csv(path_dataset_rnp_3,index='False')

### Constantes

In [ ]:
path_adj = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/grafo.adj'
path_gexf = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/grafo_causalidade_rnp_1.gexf'
path_nodes = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto.csv'
path_dataset_rnp_final = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_1.csv'
path_dataset_metricas_rnp_transposto = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_1.csv'
path_gat_model = '/content/drive/MyDrive/Seagate/RNP/gat_model_1.csv'

### Carregar Arestas

In [ ]:
X = nx.read_gexf(path_gexf)

In [ ]:
n_vertices = X.number_of_nodes()
n_arestas = X.number_of_edges()
print(n_arestas)
print(n_vertices)

9085
225

In [ ]:
df_edge = nx.to_pandas_edgelist(X)

In [ ]:
df_edge

     source target    id
0         0      1     0
1         0      3     1
2         0      4     2
3         0      5     3
4         0      6     4
...     ...    ...   ...
9080    224     88  9080
9081    224     96  9081
9082    224    223  9082
9083    224     78  9083
9084    224    216  9084

[9085 rows x 3 columns]

In [ ]:
colunas = list(df_edge.columns)

In [ ]:
convert_dict = {}
for coluna in colunas:
  convert_dict[coluna] = float

In [ ]:
df_edge = df_edge.astype(convert_dict)  
print(df_edge.dtypes)

source    float64
target    float64
id        float64
dtype: object

In [ ]:
df_edge

      source  target      id
0        0.0     1.0     0.0
1        0.0     3.0     1.0
2        0.0     4.0     2.0
3        0.0     5.0     3.0
4        0.0     6.0     4.0
...      ...     ...     ...
9080   224.0    88.0  9080.0
9081   224.0    96.0  9081.0
9082   224.0   223.0  9082.0
9083   224.0    78.0  9083.0
9084   224.0   216.0  9084.0

[9085 rows x 3 columns]

In [ ]:
df_edge = df_edge.drop(columns=['id'])
df_edge

      source  target
0        0.0     1.0
1        0.0     3.0
2        0.0     4.0
3        0.0     5.0
4        0.0     6.0
...      ...     ...
9080   224.0    88.0
9081   224.0    96.0
9082   224.0   223.0
9083   224.0    78.0
9084   224.0   216.0

[9085 rows x 2 columns]

In [ ]:
df_edge = df_edge.T
df_edge

,0,1,2,3,4,5,6,7,8,9,...,9075,9076,9077,9078,9079,9080,9081,9082,9083,9084
source,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0
target,1.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,...,67.0,221.0,217.0,104.0,212.0,88.0,96.0,223.0,78.0,216.0

In [ ]:
df_edge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, source to target
Columns: 9085 entries, 0 to 9084
dtypes: float64(9085)
memory usage: 142.1+ KB

In [ ]:
type(df_edge.values)

numpy.ndarray

### Transformar em Tensores

In [ ]:
dados

,0,1,2,3,4,5,6,7,8,9,...,215,216,217,218,219,220,221,222,223,224
id,0.000000,0.000001,0.000001,3.619861e-07,0.000004,0.000006,0.000006,0.000008,0.000002,0.000010,...,1.000000,1.00000,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.00000,1.000000
f_0,0.927910,0.911870,0.072964,9.460782e-01,0.965740,0.974980,0.929866,0.938655,0.807083,0.957579,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
f_1,0.930097,0.875378,0.072964,4.132319e-01,0.964335,0.997738,0.936037,0.972262,0.668833,0.946787,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
f_2,0.881652,0.924808,0.072964,4.642797e-01,0.961239,0.788942,0.951700,0.953118,0.723805,0.899861,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
f_3,0.390024,0.898878,0.072964,8.788779e-01,0.953008,0.992075,0.981032,1.000000,0.344662,0.959716,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_24316,0.000000,0.000000,0.005752,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24317,0.000000,0.000000,0.005915,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24318,0.000000,0.000000,0.034417,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24319,0.000000,0.000000,0.030098,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24320,0.000000,0.000000,0.039609,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000

In [ ]:
dados = dados.drop(2,axis='columns')
dados

,0,1,3,4,5,6,7,8,9,10,...,215,216,217,218,219,220,221,222,223,224
id,0.000000,0.000001,3.619861e-07,0.000004,0.000006,0.000006,0.000008,0.000002,0.000010,0.000011,...,1.000000,1.00000,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.00000,1.000000
f_0,0.927910,0.911870,9.460782e-01,0.965740,0.974980,0.929866,0.938655,0.807083,0.957579,0.944346,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
f_1,0.930097,0.875378,4.132319e-01,0.964335,0.997738,0.936037,0.972262,0.668833,0.946787,0.966271,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
f_2,0.881652,0.924808,4.642797e-01,0.961239,0.788942,0.951700,0.953118,0.723805,0.899861,0.890265,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
f_3,0.390024,0.898878,8.788779e-01,0.953008,0.992075,0.981032,1.000000,0.344662,0.959716,0.961735,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_24316,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24317,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24318,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24319,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24320,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000

In [ ]:
x = torch.tensor(dados.values, dtype=torch.float)

In [ ]:
edge_index = torch.tensor(df_edge.values, dtype=torch.long)

In [ ]:
y = target.to_numpy()

In [ ]:
y = torch.tensor(target.values, dtype=torch.long)

## Criar Data

In [ ]:
dados

,0,1,3,4,5,6,7,8,9,10,...,215,216,217,218,219,220,221,222,223,224
id,0.000000,0.000001,3.619861e-07,0.000004,0.000006,0.000006,0.000008,0.000002,0.000010,0.000011,...,1.000000,1.00000,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.00000,1.000000
f_0,0.927910,0.911870,9.460782e-01,0.965740,0.974980,0.929866,0.938655,0.807083,0.957579,0.944346,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
f_1,0.930097,0.875378,4.132319e-01,0.964335,0.997738,0.936037,0.972262,0.668833,0.946787,0.966271,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
f_2,0.881652,0.924808,4.642797e-01,0.961239,0.788942,0.951700,0.953118,0.723805,0.899861,0.890265,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
f_3,0.390024,0.898878,8.788779e-01,0.953008,0.992075,0.981032,1.000000,0.344662,0.959716,0.961735,...,0.269767,0.24537,0.267281,0.0,0.0,0.263636,0.253394,0.243243,0.26009,0.258929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_24316,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24317,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24318,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24319,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000
f_24320,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.000000

### Validação Cruzada

#### K-fold

In [ ]:
def kfold(k,random_indices):  
  print(random_indices)
  intervalo = len(random_indices)/k
  print('Intervalo = ',intervalo)
  folds = []
  for fold in range(k):
    if((fold+1)==k):
      dados_fold = random_indices[int(fold*intervalo):]
      folds.append(dados_fold)    
    else:
      dados_fold = random_indices[int(fold*intervalo):(int((fold+1)*intervalo))]
      folds.append(dados_fold)    
  return folds

In [ ]:
random_indices = np.random.permutation(range(dados.shape[0]))

In [ ]:
folds = kfold(10,random_indices)

[18617 10231 20130 ... 11980  5164 15778]
Intervalo =  2432.2

In [ ]:
type(folds[2])

numpy.ndarray

#### CrossVal

In [ ]:
from numpy.core.multiarray import concatenate
soma_acc=0
soma_prec=0
soma_rec=0
soma_f1=0
for rodada in range(len(folds)):
  teste = rodada
  val = 0  
  if(rodada!=9):
    val = teste + 1  
  test_data = folds[teste]
  val_data = folds[val]
  train_data = []
  for treino in range(len(folds)):
    if(treino!=teste and treino!=val):
      train_data = train_data + (folds[treino].tolist())
  train_mask = []
  test_mask = []
  val_mask = []

  for cont in range(len(random_indices)):
    if(cont in train_data):
      train_mask.append(True)
      test_mask.append(False)
      val_mask.append(False)
    else:
      train_mask.append(False)
      test_mask.append(True)
      val_mask.append(True)
  train_mask = torch.tensor(train_mask, dtype=torch.bool)
  test_mask = torch.tensor(test_mask, dtype=torch.bool)
  val_mask = torch.tensor(val_mask, dtype=torch.bool)
  data = Data(x=x, edge_index=edge_index, y=y)
  data.train_mask = train_mask
  data.test_mask = test_mask
  data.val_mask = val_mask
  

    # Create GAT model
  gat = GAT(dados.shape[1], 8, 2)
  print(gat)

# Train
  train(gat, data)

# Test
  acc,prec,rec,f1 = test(gat, data)
  print(f'\nGAT test precision: {prec*100:.2f}%\n')
  print(f'\nGAT test recall: {rec*100:.2f}%\n')
  print(f'\nGAT test f1 score: {f1*100:.2f}%\n')
  print(f'\nGAT test accuracy: {acc*100:.2f}%\n')
  soma_acc = soma_acc + acc
  soma_prec = soma_prec + prec
  soma_rec = soma_rec + rec
  soma_f1 = soma_f1 + f1

GAT(
  (gat1): GATv2Conv(224, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.797 | Train Acc:  49.80% | Val Loss: 0.79 | Val Acc: 50.68%
Epoch  10 | Train Loss: 0.693 | Train Acc:  52.34% | Val Loss: 0.70 | Val Acc: 51.05%
Epoch  20 | Train Loss: 0.653 | Train Acc:  59.65% | Val Loss: 0.66 | Val Acc: 58.61%
Epoch  30 | Train Loss: 0.627 | Train Acc:  69.35% | Val Loss: 0.63 | Val Acc: 69.45%
Epoch  40 | Train Loss: 0.605 | Train Acc:  68.35% | Val Loss: 0.60 | Val Acc: 68.85%
Epoch  50 | Train Loss: 0.593 | Train Acc:  69.10% | Val Loss: 0.59 | Val Acc: 69.76%
Epoch  60 | Train Loss: 0.584 | Train Acc:  69.29% | Val Loss: 0.58 | Val Acc: 70.35%
Epoch  70 | Train Loss: 0.575 | Train Acc:  70.02% | Val Loss: 0.57 | Val Acc: 71.07%
Epoch  80 | Train Loss: 0.567 | Train Acc:  70.84% | Val Loss: 0.56 | Val Acc: 71.24%
Epoch  90 | Train Loss: 0.558 | Train Acc:  71.35% | Val Loss: 0.56 | Val Acc: 71.79%
Epoch 100 | Train Loss: 0.552 | Train Acc:  71.83% | Val Loss: 0.55 | Val Acc: 72.47%
Epoch 110 | Train Loss: 0.544 | Train Acc:  72.21% | Val Loss: 0.54 | Val Acc: 72.70%
Epoch 120 | Train Loss: 0.538 | Train Acc:  72.42% | Val Loss: 0.54 | Val Acc: 73.36%
Epoch 130 | Train Loss: 0.536 | Train Acc:  73.16% | Val Loss: 0.54 | Val Acc: 73.50%
Epoch 140 | Train Loss: 0.531 | Train Acc:  73.20% | Val Loss: 0.53 | Val Acc: 73.77%
Epoch 150 | Train Loss: 0.533 | Train Acc:  74.10% | Val Loss: 0.53 | Val Acc: 73.58%
Epoch 160 | Train Loss: 0.530 | Train Acc:  74.03% | Val Loss: 0.53 | Val Acc: 74.22%
Epoch 170 | Train Loss: 0.526 | Train Acc:  74.19% | Val Loss: 0.52 | Val Acc: 74.28%
Epoch 180 | Train Loss: 0.519 | Train Acc:  74.07% | Val Loss: 0.52 | Val Acc: 74.26%
Epoch 190 | Train Loss: 0.529 | Train Acc:  74.61% | Val Loss: 0.53 | Val Acc: 74.26%
Epoch 200 | Train Loss: 0.515 | Train Acc:  74.86% | Val Loss: 0.51 | Val Acc: 74.65%

GAT test precision: 80.66%


GAT test recall: 64.11%


GAT test f1 score: 71.44%


GAT test accuracy: 74.57%

GAT(
  (gat1): GATv2Conv(224, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.793 | Train Acc:  49.15% | Val Loss: 0.79 | Val Acc: 49.44%
Epoch  10 | Train Loss: 0.691 | Train Acc:  54.24% | Val Loss: 0.69 | Val Acc: 53.89%
Epoch  20 | Train Loss: 0.658 | Train Acc:  59.79% | Val Loss: 0.65 | Val Acc: 61.20%
Epoch  30 | Train Loss: 0.636 | Train Acc:  66.67% | Val Loss: 0.63 | Val Acc: 68.48%
Epoch  40 | Train Loss: 0.616 | Train Acc:  68.61% | Val Loss: 0.61 | Val Acc: 70.25%
Epoch  50 | Train Loss: 0.605 | Train Acc:  67.61% | Val Loss: 0.59 | Val Acc: 69.33%
Epoch  60 | Train Loss: 0.594 | Train Acc:  69.19% | Val Loss: 0.58 | Val Acc: 70.54%
Epoch  70 | Train Loss: 0.586 | Train Acc:  69.42% | Val Loss: 0.58 | Val Acc: 71.18%
Epoch  80 | Train Loss: 0.577 | Train Acc:  70.24% | Val Loss: 0.57 | Val Acc: 71.83%
Epoch  90 | Train Loss: 0.570 | Train Acc:  70.55% | Val Loss: 0.56 | Val Acc: 72.29%
Epoch 100 | Train Loss: 0.563 | Train Acc:  70.69% | Val Loss: 0.55 | Val Acc: 72.18%
Epoch 110 | Train Loss: 0.557 | Train Acc:  71.50% | Val Loss: 0.55 | Val Acc: 72.86%
Epoch 120 | Train Loss: 0.552 | Train Acc:  71.61% | Val Loss: 0.54 | Val Acc: 72.74%
Epoch 130 | Train Loss: 0.545 | Train Acc:  72.09% | Val Loss: 0.54 | Val Acc: 72.80%
Epoch 140 | Train Loss: 0.541 | Train Acc:  72.58% | Val Loss: 0.54 | Val Acc: 73.46%
Epoch 150 | Train Loss: 0.537 | Train Acc:  73.17% | Val Loss: 0.53 | Val Acc: 73.64%
Epoch 160 | Train Loss: 0.533 | Train Acc:  73.05% | Val Loss: 0.53 | Val Acc: 73.50%
Epoch 170 | Train Loss: 0.532 | Train Acc:  73.01% | Val Loss: 0.53 | Val Acc: 73.87%
Epoch 180 | Train Loss: 0.528 | Train Acc:  73.28% | Val Loss: 0.52 | Val Acc: 73.73%
Epoch 190 | Train Loss: 0.525 | Train Acc:  73.51% | Val Loss: 0.52 | Val Acc: 74.14%
Epoch 200 | Train Loss: 0.525 | Train Acc:  73.60% | Val Loss: 0.52 | Val Acc: 74.20%

GAT test precision: 75.67%


GAT test recall: 74.29%


GAT test f1 score: 74.97%


GAT test accuracy: 74.94%

GAT(
  (gat1): GATv2Conv(224, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.755 | Train Acc:  50.71% | Val Loss: 0.76 | Val Acc: 49.30%
Epoch  10 | Train Loss: 0.705 | Train Acc:  53.34% | Val Loss: 0.71 | Val Acc: 52.59%
Epoch  20 | Train Loss: 0.665 | Train Acc:  57.60% | Val Loss: 0.66 | Val Acc: 57.73%
Epoch  30 | Train Loss: 0.639 | Train Acc:  63.47% | Val Loss: 0.63 | Val Acc: 63.94%
Epoch  40 | Train Loss: 0.619 | Train Acc:  66.11% | Val Loss: 0.61 | Val Acc: 67.11%
Epoch  50 | Train Loss: 0.604 | Train Acc:  67.88% | Val Loss: 0.60 | Val Acc: 69.08%
Epoch  60 | Train Loss: 0.594 | Train Acc:  69.53% | Val Loss: 0.58 | Val Acc: 70.70%
Epoch  70 | Train Loss: 0.586 | Train Acc:  69.26% | Val Loss: 0.58 | Val Acc: 71.07%
Epoch  80 | Train Loss: 0.578 | Train Acc:  69.91% | Val Loss: 0.57 | Val Acc: 71.69%
Epoch  90 | Train Loss: 0.571 | Train Acc:  70.41% | Val Loss: 0.56 | Val Acc: 72.02%
Epoch 100 | Train Loss: 0.563 | Train Acc:  71.05% | Val Loss: 0.55 | Val Acc: 71.92%
Epoch 110 | Train Loss: 0.557 | Train Acc:  71.38% | Val Loss: 0.55 | Val Acc: 72.53%
Epoch 120 | Train Loss: 0.551 | Train Acc:  71.92% | Val Loss: 0.54 | Val Acc: 72.86%
Epoch 130 | Train Loss: 0.545 | Train Acc:  72.12% | Val Loss: 0.54 | Val Acc: 73.19%
Epoch 140 | Train Loss: 0.541 | Train Acc:  72.45% | Val Loss: 0.53 | Val Acc: 73.68%
Epoch 150 | Train Loss: 0.538 | Train Acc:  72.52% | Val Loss: 0.53 | Val Acc: 73.66%
Epoch 160 | Train Loss: 0.532 | Train Acc:  72.99% | Val Loss: 0.52 | Val Acc: 74.14%
Epoch 170 | Train Loss: 0.532 | Train Acc:  73.48% | Val Loss: 0.52 | Val Acc: 74.73%
Epoch 180 | Train Loss: 0.538 | Train Acc:  73.70% | Val Loss: 0.53 | Val Acc: 75.53%
Epoch 190 | Train Loss: 0.528 | Train Acc:  73.02% | Val Loss: 0.52 | Val Acc: 74.22%
Epoch 200 | Train Loss: 0.523 | Train Acc:  73.94% | Val Loss: 0.51 | Val Acc: 75.06%

GAT test precision: 76.80%


GAT test recall: 73.27%


GAT test f1 score: 74.99%


GAT test accuracy: 75.31%

GAT(
  (gat1): GATv2Conv(224, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.758 | Train Acc:  49.86% | Val Loss: 0.76 | Val Acc: 49.13%
Epoch  10 | Train Loss: 0.710 | Train Acc:  52.18% | Val Loss: 0.70 | Val Acc: 53.24%
Epoch  20 | Train Loss: 0.665 | Train Acc:  53.97% | Val Loss: 0.66 | Val Acc: 56.01%
Epoch  30 | Train Loss: 0.636 | Train Acc:  65.92% | Val Loss: 0.63 | Val Acc: 66.41%
Epoch  40 | Train Loss: 0.615 | Train Acc:  69.73% | Val Loss: 0.61 | Val Acc: 70.34%
Epoch  50 | Train Loss: 0.599 | Train Acc:  69.48% | Val Loss: 0.60 | Val Acc: 69.04%
Epoch  60 | Train Loss: 0.589 | Train Acc:  68.97% | Val Loss: 0.59 | Val Acc: 68.39%
Epoch  70 | Train Loss: 0.582 | Train Acc:  70.28% | Val Loss: 0.58 | Val Acc: 69.46%
Epoch  80 | Train Loss: 0.574 | Train Acc:  70.47% | Val Loss: 0.57 | Val Acc: 69.87%
Epoch  90 | Train Loss: 0.567 | Train Acc:  70.91% | Val Loss: 0.57 | Val Acc: 70.01%
Epoch 100 | Train Loss: 0.561 | Train Acc:  71.27% | Val Loss: 0.56 | Val Acc: 70.34%
Epoch 110 | Train Loss: 0.554 | Train Acc:  71.55% | Val Loss: 0.56 | Val Acc: 70.98%
Epoch 120 | Train Loss: 0.549 | Train Acc:  72.26% | Val Loss: 0.55 | Val Acc: 71.49%
Epoch 130 | Train Loss: 0.545 | Train Acc:  72.46% | Val Loss: 0.55 | Val Acc: 71.86%
Epoch 140 | Train Loss: 0.539 | Train Acc:  72.83% | Val Loss: 0.54 | Val Acc: 72.27%
Epoch 150 | Train Loss: 0.535 | Train Acc:  73.09% | Val Loss: 0.54 | Val Acc: 72.74%
Epoch 160 | Train Loss: 0.534 | Train Acc:  73.09% | Val Loss: 0.53 | Val Acc: 72.89%
Epoch 170 | Train Loss: 0.528 | Train Acc:  73.55% | Val Loss: 0.53 | Val Acc: 72.97%
Epoch 180 | Train Loss: 0.535 | Train Acc:  73.06% | Val Loss: 0.54 | Val Acc: 72.23%
Epoch 190 | Train Loss: 0.524 | Train Acc:  73.96% | Val Loss: 0.52 | Val Acc: 73.94%
Epoch 200 | Train Loss: 0.522 | Train Acc:  74.17% | Val Loss: 0.52 | Val Acc: 73.90%

GAT test precision: 80.72%


GAT test recall: 63.70%


GAT test f1 score: 71.21%


GAT test accuracy: 73.69%

GAT(
  (gat1): GATv2Conv(224, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.765 | Train Acc:  49.71% | Val Loss: 0.76 | Val Acc: 49.91%
Epoch  10 | Train Loss: 0.687 | Train Acc:  55.34% | Val Loss: 0.68 | Val Acc: 55.56%
Epoch  20 | Train Loss: 0.653 | Train Acc:  60.39% | Val Loss: 0.66 | Val Acc: 59.63%
Epoch  30 | Train Loss: 0.630 | Train Acc:  64.80% | Val Loss: 0.63 | Val Acc: 63.66%
Epoch  40 | Train Loss: 0.612 | Train Acc:  67.27% | Val Loss: 0.62 | Val Acc: 65.71%
Epoch  50 | Train Loss: 0.599 | Train Acc:  69.09% | Val Loss: 0.60 | Val Acc: 67.67%
Epoch  60 | Train Loss: 0.589 | Train Acc:  69.81% | Val Loss: 0.60 | Val Acc: 68.30%
Epoch  70 | Train Loss: 0.580 | Train Acc:  69.55% | Val Loss: 0.59 | Val Acc: 68.20%
Epoch  80 | Train Loss: 0.573 | Train Acc:  70.43% | Val Loss: 0.58 | Val Acc: 68.22%
Epoch  90 | Train Loss: 0.566 | Train Acc:  71.03% | Val Loss: 0.58 | Val Acc: 69.48%
Epoch 100 | Train Loss: 0.558 | Train Acc:  71.57% | Val Loss: 0.57 | Val Acc: 69.70%
Epoch 110 | Train Loss: 0.551 | Train Acc:  72.23% | Val Loss: 0.57 | Val Acc: 69.93%
Epoch 120 | Train Loss: 0.545 | Train Acc:  72.59% | Val Loss: 0.56 | Val Acc: 70.11%
Epoch 130 | Train Loss: 0.540 | Train Acc:  73.01% | Val Loss: 0.55 | Val Acc: 70.94%
Epoch 140 | Train Loss: 0.535 | Train Acc:  73.13% | Val Loss: 0.55 | Val Acc: 71.10%
Epoch 150 | Train Loss: 0.531 | Train Acc:  73.57% | Val Loss: 0.55 | Val Acc: 71.16%
Epoch 160 | Train Loss: 0.530 | Train Acc:  73.88% | Val Loss: 0.55 | Val Acc: 71.78%
Epoch 170 | Train Loss: 0.525 | Train Acc:  73.79% | Val Loss: 0.54 | Val Acc: 71.80%
Epoch 180 | Train Loss: 0.522 | Train Acc:  73.97% | Val Loss: 0.54 | Val Acc: 71.80%
Epoch 190 | Train Loss: 0.522 | Train Acc:  74.27% | Val Loss: 0.54 | Val Acc: 72.89%
Epoch 200 | Train Loss: 0.516 | Train Acc:  74.61% | Val Loss: 0.54 | Val Acc: 72.52%

GAT test precision: 81.68%


GAT test recall: 57.72%


GAT test f1 score: 67.64%


GAT test accuracy: 72.21%

GAT(
  (gat1): GATv2Conv(224, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.804 | Train Acc:  49.05% | Val Loss: 0.80 | Val Acc: 48.64%
Epoch  10 | Train Loss: 0.720 | Train Acc:  52.81% | Val Loss: 0.72 | Val Acc: 52.47%
Epoch  20 | Train Loss: 0.670 | Train Acc:  57.07% | Val Loss: 0.67 | Val Acc: 56.48%
Epoch  30 | Train Loss: 0.639 | Train Acc:  63.35% | Val Loss: 0.64 | Val Acc: 63.59%
Epoch  40 | Train Loss: 0.616 | Train Acc:  66.75% | Val Loss: 0.62 | Val Acc: 65.87%
Epoch  50 | Train Loss: 0.602 | Train Acc:  68.37% | Val Loss: 0.61 | Val Acc: 67.31%
Epoch  60 | Train Loss: 0.591 | Train Acc:  69.99% | Val Loss: 0.60 | Val Acc: 69.02%
Epoch  70 | Train Loss: 0.583 | Train Acc:  69.68% | Val Loss: 0.59 | Val Acc: 68.83%
Epoch  80 | Train Loss: 0.575 | Train Acc:  70.53% | Val Loss: 0.58 | Val Acc: 69.68%
Epoch  90 | Train Loss: 0.568 | Train Acc:  70.69% | Val Loss: 0.58 | Val Acc: 69.88%
Epoch 100 | Train Loss: 0.562 | Train Acc:  70.95% | Val Loss: 0.57 | Val Acc: 70.35%
Epoch 110 | Train Loss: 0.555 | Train Acc:  71.70% | Val Loss: 0.56 | Val Acc: 70.70%
Epoch 120 | Train Loss: 0.549 | Train Acc:  72.09% | Val Loss: 0.56 | Val Acc: 71.90%
Epoch 130 | Train Loss: 0.544 | Train Acc:  72.39% | Val Loss: 0.55 | Val Acc: 71.69%
Epoch 140 | Train Loss: 0.539 | Train Acc:  72.75% | Val Loss: 0.55 | Val Acc: 71.98%
Epoch 150 | Train Loss: 0.534 | Train Acc:  73.21% | Val Loss: 0.54 | Val Acc: 72.53%
Epoch 160 | Train Loss: 0.531 | Train Acc:  73.37% | Val Loss: 0.54 | Val Acc: 72.53%
Epoch 170 | Train Loss: 0.530 | Train Acc:  73.22% | Val Loss: 0.54 | Val Acc: 72.06%
Epoch 180 | Train Loss: 0.523 | Train Acc:  73.76% | Val Loss: 0.54 | Val Acc: 72.66%
Epoch 190 | Train Loss: 0.522 | Train Acc:  73.87% | Val Loss: 0.53 | Val Acc: 73.19%
Epoch 200 | Train Loss: 0.519 | Train Acc:  74.38% | Val Loss: 0.53 | Val Acc: 72.86%

GAT test precision: 78.35%


GAT test recall: 64.24%


GAT test f1 score: 70.60%


GAT test accuracy: 73.23%

GAT(
  (gat1): GATv2Conv(224, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.869 | Train Acc:  49.77% | Val Loss: 0.87 | Val Acc: 49.28%
Epoch  10 | Train Loss: 0.706 | Train Acc:  51.34% | Val Loss: 0.71 | Val Acc: 51.32%
Epoch  20 | Train Loss: 0.662 | Train Acc:  57.44% | Val Loss: 0.66 | Val Acc: 57.96%
Epoch  30 | Train Loss: 0.633 | Train Acc:  68.10% | Val Loss: 0.63 | Val Acc: 67.93%
Epoch  40 | Train Loss: 0.610 | Train Acc:  68.84% | Val Loss: 0.61 | Val Acc: 68.61%
Epoch  50 | Train Loss: 0.596 | Train Acc:  68.65% | Val Loss: 0.59 | Val Acc: 68.05%
Epoch  60 | Train Loss: 0.587 | Train Acc:  69.53% | Val Loss: 0.59 | Val Acc: 68.98%
Epoch  70 | Train Loss: 0.578 | Train Acc:  70.06% | Val Loss: 0.58 | Val Acc: 69.49%
Epoch  80 | Train Loss: 0.568 | Train Acc:  70.73% | Val Loss: 0.57 | Val Acc: 70.60%
Epoch  90 | Train Loss: 0.560 | Train Acc:  70.96% | Val Loss: 0.56 | Val Acc: 71.05%
Epoch 100 | Train Loss: 0.553 | Train Acc:  71.78% | Val Loss: 0.55 | Val Acc: 71.69%
Epoch 110 | Train Loss: 0.546 | Train Acc:  72.28% | Val Loss: 0.54 | Val Acc: 72.31%
Epoch 120 | Train Loss: 0.541 | Train Acc:  72.50% | Val Loss: 0.54 | Val Acc: 72.35%
Epoch 130 | Train Loss: 0.536 | Train Acc:  72.81% | Val Loss: 0.53 | Val Acc: 72.92%
Epoch 140 | Train Loss: 0.533 | Train Acc:  73.05% | Val Loss: 0.53 | Val Acc: 72.96%
Epoch 150 | Train Loss: 0.529 | Train Acc:  73.66% | Val Loss: 0.53 | Val Acc: 72.99%
Epoch 160 | Train Loss: 0.526 | Train Acc:  73.70% | Val Loss: 0.53 | Val Acc: 73.23%
Epoch 170 | Train Loss: 0.532 | Train Acc:  73.01% | Val Loss: 0.53 | Val Acc: 72.76%
Epoch 180 | Train Loss: 0.525 | Train Acc:  74.21% | Val Loss: 0.52 | Val Acc: 73.97%
Epoch 190 | Train Loss: 0.519 | Train Acc:  74.05% | Val Loss: 0.52 | Val Acc: 73.99%
Epoch 200 | Train Loss: 0.517 | Train Acc:  74.33% | Val Loss: 0.52 | Val Acc: 74.14%

GAT test precision: 77.88%


GAT test recall: 68.57%


GAT test f1 score: 72.93%


GAT test accuracy: 74.53%

GAT(
  (gat1): GATv2Conv(224, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.832 | Train Acc:  50.24% | Val Loss: 0.84 | Val Acc: 50.25%
Epoch  10 | Train Loss: 0.703 | Train Acc:  52.65% | Val Loss: 0.70 | Val Acc: 54.67%
Epoch  20 | Train Loss: 0.652 | Train Acc:  62.31% | Val Loss: 0.65 | Val Acc: 61.62%
Epoch  30 | Train Loss: 0.624 | Train Acc:  67.48% | Val Loss: 0.63 | Val Acc: 67.29%
Epoch  40 | Train Loss: 0.607 | Train Acc:  69.43% | Val Loss: 0.61 | Val Acc: 69.02%
Epoch  50 | Train Loss: 0.594 | Train Acc:  68.65% | Val Loss: 0.60 | Val Acc: 68.28%
Epoch  60 | Train Loss: 0.585 | Train Acc:  69.94% | Val Loss: 0.59 | Val Acc: 68.94%
Epoch  70 | Train Loss: 0.575 | Train Acc:  70.44% | Val Loss: 0.59 | Val Acc: 69.20%
Epoch  80 | Train Loss: 0.567 | Train Acc:  70.74% | Val Loss: 0.58 | Val Acc: 69.45%
Epoch  90 | Train Loss: 0.558 | Train Acc:  71.44% | Val Loss: 0.57 | Val Acc: 70.56%
Epoch 100 | Train Loss: 0.550 | Train Acc:  72.06% | Val Loss: 0.56 | Val Acc: 71.46%
Epoch 110 | Train Loss: 0.545 | Train Acc:  72.19% | Val Loss: 0.55 | Val Acc: 71.83%
Epoch 120 | Train Loss: 0.543 | Train Acc:  72.92% | Val Loss: 0.55 | Val Acc: 71.98%
Epoch 130 | Train Loss: 0.535 | Train Acc:  73.08% | Val Loss: 0.54 | Val Acc: 72.31%
Epoch 140 | Train Loss: 0.531 | Train Acc:  73.24% | Val Loss: 0.54 | Val Acc: 73.23%
Epoch 150 | Train Loss: 0.529 | Train Acc:  73.73% | Val Loss: 0.54 | Val Acc: 72.88%
Epoch 160 | Train Loss: 0.526 | Train Acc:  73.75% | Val Loss: 0.53 | Val Acc: 73.07%
Epoch 170 | Train Loss: 0.534 | Train Acc:  72.83% | Val Loss: 0.54 | Val Acc: 72.74%
Epoch 180 | Train Loss: 0.522 | Train Acc:  73.79% | Val Loss: 0.53 | Val Acc: 73.58%
Epoch 190 | Train Loss: 0.516 | Train Acc:  74.31% | Val Loss: 0.52 | Val Acc: 73.77%
Epoch 200 | Train Loss: 0.520 | Train Acc:  73.74% | Val Loss: 0.53 | Val Acc: 73.62%

GAT test precision: 71.33%


GAT test recall: 79.50%


GAT test f1 score: 75.20%


GAT test accuracy: 74.01%

GAT(
  (gat1): GATv2Conv(224, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.762 | Train Acc:  49.83% | Val Loss: 0.79 | Val Acc: 47.34%
Epoch  10 | Train Loss: 0.652 | Train Acc:  63.24% | Val Loss: 0.66 | Val Acc: 63.12%
Epoch  20 | Train Loss: 0.623 | Train Acc:  68.59% | Val Loss: 0.63 | Val Acc: 68.49%
Epoch  30 | Train Loss: 0.600 | Train Acc:  68.06% | Val Loss: 0.61 | Val Acc: 67.28%
Epoch  40 | Train Loss: 0.585 | Train Acc:  69.27% | Val Loss: 0.59 | Val Acc: 68.32%
Epoch  50 | Train Loss: 0.574 | Train Acc:  70.04% | Val Loss: 0.58 | Val Acc: 69.43%
Epoch  60 | Train Loss: 0.564 | Train Acc:  70.96% | Val Loss: 0.57 | Val Acc: 70.61%
Epoch  70 | Train Loss: 0.554 | Train Acc:  71.88% | Val Loss: 0.56 | Val Acc: 71.39%
Epoch  80 | Train Loss: 0.545 | Train Acc:  72.28% | Val Loss: 0.56 | Val Acc: 71.61%
Epoch  90 | Train Loss: 0.541 | Train Acc:  72.70% | Val Loss: 0.55 | Val Acc: 72.81%
Epoch 100 | Train Loss: 0.534 | Train Acc:  73.00% | Val Loss: 0.54 | Val Acc: 73.05%
Epoch 110 | Train Loss: 0.534 | Train Acc:  73.40% | Val Loss: 0.54 | Val Acc: 73.61%
Epoch 120 | Train Loss: 0.530 | Train Acc:  73.42% | Val Loss: 0.54 | Val Acc: 73.69%
Epoch 130 | Train Loss: 0.524 | Train Acc:  73.53% | Val Loss: 0.53 | Val Acc: 73.71%
Epoch 140 | Train Loss: 0.522 | Train Acc:  73.71% | Val Loss: 0.53 | Val Acc: 73.96%
Epoch 150 | Train Loss: 0.519 | Train Acc:  74.13% | Val Loss: 0.52 | Val Acc: 74.27%
Epoch 160 | Train Loss: 0.518 | Train Acc:  74.06% | Val Loss: 0.53 | Val Acc: 74.08%
Epoch 170 | Train Loss: 0.516 | Train Acc:  74.48% | Val Loss: 0.52 | Val Acc: 74.72%
Epoch 180 | Train Loss: 0.514 | Train Acc:  74.39% | Val Loss: 0.52 | Val Acc: 74.47%
Epoch 190 | Train Loss: 0.514 | Train Acc:  75.00% | Val Loss: 0.52 | Val Acc: 74.64%
Epoch 200 | Train Loss: 0.510 | Train Acc:  74.62% | Val Loss: 0.52 | Val Acc: 74.90%

GAT test precision: 77.34%


GAT test recall: 72.34%


GAT test f1 score: 74.76%


GAT test accuracy: 75.46%

GAT(
  (gat1): GATv2Conv(224, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.765 | Train Acc:  50.94% | Val Loss: 0.76 | Val Acc: 51.24%
Epoch  10 | Train Loss: 0.693 | Train Acc:  54.12% | Val Loss: 0.70 | Val Acc: 53.11%
Epoch  20 | Train Loss: 0.654 | Train Acc:  59.29% | Val Loss: 0.65 | Val Acc: 59.34%
Epoch  30 | Train Loss: 0.629 | Train Acc:  67.91% | Val Loss: 0.63 | Val Acc: 68.92%
Epoch  40 | Train Loss: 0.609 | Train Acc:  68.86% | Val Loss: 0.61 | Val Acc: 69.11%
Epoch  50 | Train Loss: 0.599 | Train Acc:  67.84% | Val Loss: 0.60 | Val Acc: 68.28%
Epoch  60 | Train Loss: 0.589 | Train Acc:  69.75% | Val Loss: 0.59 | Val Acc: 69.97%
Epoch  70 | Train Loss: 0.580 | Train Acc:  69.53% | Val Loss: 0.58 | Val Acc: 70.26%
Epoch  80 | Train Loss: 0.573 | Train Acc:  70.27% | Val Loss: 0.57 | Val Acc: 70.48%
Epoch  90 | Train Loss: 0.565 | Train Acc:  70.82% | Val Loss: 0.56 | Val Acc: 71.47%
Epoch 100 | Train Loss: 0.557 | Train Acc:  71.48% | Val Loss: 0.55 | Val Acc: 71.74%
Epoch 110 | Train Loss: 0.551 | Train Acc:  71.85% | Val Loss: 0.55 | Val Acc: 71.72%
Epoch 120 | Train Loss: 0.546 | Train Acc:  72.03% | Val Loss: 0.54 | Val Acc: 72.72%
Epoch 130 | Train Loss: 0.541 | Train Acc:  72.62% | Val Loss: 0.54 | Val Acc: 73.16%
Epoch 140 | Train Loss: 0.540 | Train Acc:  72.77% | Val Loss: 0.53 | Val Acc: 73.38%
Epoch 150 | Train Loss: 0.536 | Train Acc:  73.33% | Val Loss: 0.53 | Val Acc: 73.94%
Epoch 160 | Train Loss: 0.530 | Train Acc:  73.39% | Val Loss: 0.53 | Val Acc: 73.85%
Epoch 170 | Train Loss: 0.528 | Train Acc:  73.21% | Val Loss: 0.52 | Val Acc: 74.20%
Epoch 180 | Train Loss: 0.525 | Train Acc:  74.03% | Val Loss: 0.52 | Val Acc: 74.35%
Epoch 190 | Train Loss: 0.521 | Train Acc:  73.95% | Val Loss: 0.52 | Val Acc: 74.57%
Epoch 200 | Train Loss: 0.523 | Train Acc:  74.48% | Val Loss: 0.52 | Val Acc: 74.68%

GAT test precision: 83.78%


GAT test recall: 59.35%


GAT test f1 score: 69.48%


GAT test accuracy: 74.16%

In [ ]:
print(f'\nGAT test precision: {(soma_prec/10)*100:.2f}%\n')
print(f'\nGAT test recall: {(soma_rec/10)*100:.2f}%\n')
print(f'\nGAT test f1 score: {(soma_f1/10)*100:.2f}%\n')
print(f'\nGAT test accuracy: {(soma_acc/10)*100:.2f}%\n')

GAT test precision: 78.42%


GAT test recall: 67.71%


GAT test f1 score: 72.32%


GAT test accuracy: 74.21%

# Experimento Classificação Dataset Final de Semana

## Dataset RNP

### Carregar Vértices

In [ ]:
from torch_geometric.data import Data
from torch_geometric.loader import DataLoader

In [ ]:
path_dataset_metricas_rnp_transposto = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_1.csv'
path_dataset_metricas_rnp_transposto_final_semana = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_final_semana.csv'

path_dataset_rnp_3 = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_testes_2_final_semana.csv'

In [ ]:
nos_retirados = [4, 14, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 52, 56, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 148, 158, 166, 176, 188, 189, 190, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215]

In [ ]:
len(nos_retirados)

84

In [ ]:
dados = pd.read_csv(path_dataset_metricas_rnp_transposto_final_semana, delimiter=",")
dados = dados.T
dados

,0,1,2,3,4,5,6,7,8,9,...,302,303,304,305,306,307,308,309,310,311
id,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,302.0,303.0,304.0,305.0,306.0,307.0,308.0,309.0,310.0,311.0
f_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,70560.0,16820.0,43740.0,57940.0,132430.0,38210.0,18670.0,26910.0,38390.0,168540.0
f_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,68000.0,16300.0,34800.0,57900.0,90000.0,38100.0,18600.0,26600.0,38300.0,8440.0
f_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,93200.0,20500.0,124000.0,58100.0,514000.0,39000.0,18800.0,28800.0,38500.0,1535000.0
f_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,68080.0,15280.0,34880.0,59120.0,101120.0,25300.0,50270.0,26720.0,38470.0,9210.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_6739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47500.0,14700.0,56400.0,57600.0,115000.0,23500.0,19500.0,32200.0,28100.0,8880.0
f_6740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47600.0,18500.0,56600.0,57700.0,115000.0,23700.0,32800.0,32300.0,28300.0,9040.0
f_6741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47570.0,14710.0,56450.0,57660.0,115000.0,23650.0,22090.0,32270.0,28190.0,10068.0
f_6742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47500.0,14600.0,56400.0,57600.0,115000.0,23600.0,19500.0,32200.0,28100.0,8930.0
f_6743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47600.0,14800.0,56500.0,57800.0,115000.0,23800.0,44700.0,32300.0,28300.0,19500.0

In [ ]:
dados = dados.drop(columns=nos_retirados)

In [ ]:
dados

,0,1,2,3,5,6,7,8,9,10,...,302,303,304,305,306,307,308,309,310,311
id,0.0,1.0,2.0,3.0,5.0,6.0,7.0,8.0,9.0,10.0,...,302.0,303.0,304.0,305.0,306.0,307.0,308.0,309.0,310.0,311.0
f_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,70560.0,16820.0,43740.0,57940.0,132430.0,38210.0,18670.0,26910.0,38390.0,168540.0
f_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,68000.0,16300.0,34800.0,57900.0,90000.0,38100.0,18600.0,26600.0,38300.0,8440.0
f_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,93200.0,20500.0,124000.0,58100.0,514000.0,39000.0,18800.0,28800.0,38500.0,1535000.0
f_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,68080.0,15280.0,34880.0,59120.0,101120.0,25300.0,50270.0,26720.0,38470.0,9210.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_6739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47500.0,14700.0,56400.0,57600.0,115000.0,23500.0,19500.0,32200.0,28100.0,8880.0
f_6740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47600.0,18500.0,56600.0,57700.0,115000.0,23700.0,32800.0,32300.0,28300.0,9040.0
f_6741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47570.0,14710.0,56450.0,57660.0,115000.0,23650.0,22090.0,32270.0,28190.0,10068.0
f_6742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47500.0,14600.0,56400.0,57600.0,115000.0,23600.0,19500.0,32200.0,28100.0,8930.0
f_6743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47600.0,14800.0,56500.0,57800.0,115000.0,23800.0,44700.0,32300.0,28300.0,19500.0

In [ ]:
df_max_scaled = dados.copy() 
for column in df_max_scaled.columns: 
    df_max_scaled[column] = df_max_scaled[column]  / df_max_scaled[column].max() 
      
display(df_max_scaled)

,0,1,2,3,5,6,7,8,9,10,...,302,303,304,305,306,307,308,309,310,311
id,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.000462,0.000393,0.000357,0.000343,0.000190,0.000319,0.000410,0.000145,0.000108,0.000203
f_0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.107890,0.021816,0.051398,0.065174,0.082204,0.039719,0.024827,0.012664,0.013409,0.109798
f_1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.103976,0.021141,0.040893,0.065129,0.055866,0.039605,0.024734,0.012518,0.013378,0.005498
f_2,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.142508,0.026589,0.145711,0.065354,0.319056,0.040541,0.025000,0.013553,0.013447,1.000000
f_3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.104098,0.019818,0.040987,0.066502,0.062768,0.026299,0.066848,0.012574,0.013437,0.006000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_6739,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072630,0.019066,0.066275,0.064792,0.071384,0.024428,0.025931,0.015153,0.009815,0.005785
f_6740,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072783,0.023995,0.066510,0.064904,0.071384,0.024636,0.043617,0.015200,0.009885,0.005889
f_6741,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072737,0.019079,0.066334,0.064859,0.071384,0.024584,0.029375,0.015186,0.009846,0.006559
f_6742,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072630,0.018936,0.066275,0.064792,0.071384,0.024532,0.025931,0.015153,0.009815,0.005818
f_6743,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072783,0.019196,0.066392,0.065017,0.071384,0.024740,0.059441,0.015200,0.009885,0.012704

In [ ]:
dados = df_max_scaled

In [ ]:
dados = dados.fillna(0)
dados

,0,1,2,3,5,6,7,8,9,10,...,302,303,304,305,306,307,308,309,310,311
id,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.000462,0.000393,0.000357,0.000343,0.000190,0.000319,0.000410,0.000145,0.000108,0.000203
f_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.107890,0.021816,0.051398,0.065174,0.082204,0.039719,0.024827,0.012664,0.013409,0.109798
f_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.103976,0.021141,0.040893,0.065129,0.055866,0.039605,0.024734,0.012518,0.013378,0.005498
f_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.142508,0.026589,0.145711,0.065354,0.319056,0.040541,0.025000,0.013553,0.013447,1.000000
f_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.104098,0.019818,0.040987,0.066502,0.062768,0.026299,0.066848,0.012574,0.013437,0.006000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_6739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072630,0.019066,0.066275,0.064792,0.071384,0.024428,0.025931,0.015153,0.009815,0.005785
f_6740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072783,0.023995,0.066510,0.064904,0.071384,0.024636,0.043617,0.015200,0.009885,0.005889
f_6741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072737,0.019079,0.066334,0.064859,0.071384,0.024584,0.029375,0.015186,0.009846,0.006559
f_6742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072630,0.018936,0.066275,0.064792,0.071384,0.024532,0.025931,0.015153,0.009815,0.005818
f_6743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072783,0.019196,0.066392,0.065017,0.071384,0.024740,0.059441,0.015200,0.009885,0.012704

In [ ]:
média_RTT = dados[311].median()
print(média_RTT)

0.005563517915309446

In [ ]:
def classificar_alvo(x):
  if x < média_RTT:
    return 0
  return 1

### Obter Target

In [ ]:
target =dados[311].apply(classificar_alvo)

In [ ]:
target

id        0
f_0       1
f_1       0
f_2       1
f_3       1
         ..
f_6739    1
f_6740    1
f_6741    1
f_6742    1
f_6743    1
Name: 311, Length: 6745, dtype: int64

In [ ]:
target.value_counts()

1    3399
0    3346
Name: 311, dtype: int64

In [ ]:
dados.to_csv(path_dataset_rnp_3,index='False')

### Constantes

In [ ]:
path_adj = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/grafo.adj'
path_gexf = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/grafo_causalidade_rnp_1.gexf'
path_nodes = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto.csv'
path_dataset_rnp_final = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_1.csv'
path_dataset_metricas_rnp_transposto = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_1.csv'
path_gat_model = '/content/drive/MyDrive/Seagate/RNP/gat_model_1.csv'

### Carregar Arestas

In [ ]:
X = nx.read_gexf(path_gexf)

In [ ]:
n_vertices = X.number_of_nodes()
n_arestas = X.number_of_edges()
print(n_arestas)
print(n_vertices)

9085
225

In [ ]:
df_edge = nx.to_pandas_edgelist(X)

In [ ]:
df_edge

     source target    id
0         0      1     0
1         0      3     1
2         0      4     2
3         0      5     3
4         0      6     4
...     ...    ...   ...
9080    224     88  9080
9081    224     96  9081
9082    224    223  9082
9083    224     78  9083
9084    224    216  9084

[9085 rows x 3 columns]

In [ ]:
colunas = list(df_edge.columns)

In [ ]:
convert_dict = {}
for coluna in colunas:
  convert_dict[coluna] = float

In [ ]:
df_edge = df_edge.astype(convert_dict)  
print(df_edge.dtypes)

source    float64
target    float64
id        float64
dtype: object

In [ ]:
df_edge

      source  target      id
0        0.0     1.0     0.0
1        0.0     3.0     1.0
2        0.0     4.0     2.0
3        0.0     5.0     3.0
4        0.0     6.0     4.0
...      ...     ...     ...
9080   224.0    88.0  9080.0
9081   224.0    96.0  9081.0
9082   224.0   223.0  9082.0
9083   224.0    78.0  9083.0
9084   224.0   216.0  9084.0

[9085 rows x 3 columns]

In [ ]:
df_edge = df_edge.drop(columns=['id'])
df_edge

      source  target
0        0.0     1.0
1        0.0     3.0
2        0.0     4.0
3        0.0     5.0
4        0.0     6.0
...      ...     ...
9080   224.0    88.0
9081   224.0    96.0
9082   224.0   223.0
9083   224.0    78.0
9084   224.0   216.0

[9085 rows x 2 columns]

### Transformar em Tensores

In [ ]:
dados

,0,1,2,3,5,6,7,8,9,10,...,302,303,304,305,306,307,308,309,310,311
id,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.000462,0.000393,0.000357,0.000343,0.000190,0.000319,0.000410,0.000145,0.000108,0.000203
f_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.107890,0.021816,0.051398,0.065174,0.082204,0.039719,0.024827,0.012664,0.013409,0.109798
f_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.103976,0.021141,0.040893,0.065129,0.055866,0.039605,0.024734,0.012518,0.013378,0.005498
f_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.142508,0.026589,0.145711,0.065354,0.319056,0.040541,0.025000,0.013553,0.013447,1.000000
f_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.104098,0.019818,0.040987,0.066502,0.062768,0.026299,0.066848,0.012574,0.013437,0.006000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_6739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072630,0.019066,0.066275,0.064792,0.071384,0.024428,0.025931,0.015153,0.009815,0.005785
f_6740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072783,0.023995,0.066510,0.064904,0.071384,0.024636,0.043617,0.015200,0.009885,0.005889
f_6741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072737,0.019079,0.066334,0.064859,0.071384,0.024584,0.029375,0.015186,0.009846,0.006559
f_6742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072630,0.018936,0.066275,0.064792,0.071384,0.024532,0.025931,0.015153,0.009815,0.005818
f_6743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.072783,0.019196,0.066392,0.065017,0.071384,0.024740,0.059441,0.015200,0.009885,0.012704

In [ ]:
dados = dados.drop(311,axis='columns')
dados

,0,1,2,3,5,6,7,8,9,10,...,301,302,303,304,305,306,307,308,309,310
id,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.000258,0.000462,0.000393,0.000357,0.000343,0.000190,0.000319,0.000410,0.000145,0.000108
f_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.030060,0.107890,0.021816,0.051398,0.065174,0.082204,0.039719,0.024827,0.012664,0.013409
f_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029452,0.103976,0.021141,0.040893,0.065129,0.055866,0.039605,0.024734,0.012518,0.013378
f_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.034760,0.142508,0.026589,0.145711,0.065354,0.319056,0.040541,0.025000,0.013553,0.013447
f_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029538,0.104098,0.019818,0.040987,0.066502,0.062768,0.026299,0.066848,0.012574,0.013437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_6739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029195,0.072630,0.019066,0.066275,0.064792,0.071384,0.024428,0.025931,0.015153,0.009815
f_6740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029281,0.072783,0.023995,0.066510,0.064904,0.071384,0.024636,0.043617,0.015200,0.009885
f_6741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029555,0.072737,0.019079,0.066334,0.064859,0.071384,0.024584,0.029375,0.015186,0.009846
f_6742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029538,0.072630,0.018936,0.066275,0.064792,0.071384,0.024532,0.025931,0.015153,0.009815
f_6743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029623,0.072783,0.019196,0.066392,0.065017,0.071384,0.024740,0.059441,0.015200,0.009885

In [ ]:
x = torch.tensor(dados.values, dtype=torch.float)

In [ ]:
edge_index = torch.tensor(df_edge.values, dtype=torch.long)

In [ ]:
y = target.to_numpy()

In [ ]:
y = torch.tensor(target.values, dtype=torch.long)

## Criar Data

In [ ]:
dados

,0,1,2,3,5,6,7,8,9,10,...,301,302,303,304,305,306,307,308,309,310
id,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.000258,0.000462,0.000393,0.000357,0.000343,0.000190,0.000319,0.000410,0.000145,0.000108
f_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.030060,0.107890,0.021816,0.051398,0.065174,0.082204,0.039719,0.024827,0.012664,0.013409
f_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029452,0.103976,0.021141,0.040893,0.065129,0.055866,0.039605,0.024734,0.012518,0.013378
f_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.034760,0.142508,0.026589,0.145711,0.065354,0.319056,0.040541,0.025000,0.013553,0.013447
f_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029538,0.104098,0.019818,0.040987,0.066502,0.062768,0.026299,0.066848,0.012574,0.013437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_6739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029195,0.072630,0.019066,0.066275,0.064792,0.071384,0.024428,0.025931,0.015153,0.009815
f_6740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029281,0.072783,0.023995,0.066510,0.064904,0.071384,0.024636,0.043617,0.015200,0.009885
f_6741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029555,0.072737,0.019079,0.066334,0.064859,0.071384,0.024584,0.029375,0.015186,0.009846
f_6742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029538,0.072630,0.018936,0.066275,0.064792,0.071384,0.024532,0.025931,0.015153,0.009815
f_6743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.029623,0.072783,0.019196,0.066392,0.065017,0.071384,0.024740,0.059441,0.015200,0.009885

### Validação Cruzada

#### K-fold

In [ ]:
def kfold(k,random_indices):  
  print(random_indices)
  intervalo = len(random_indices)/k
  print('Intervalo = ',intervalo)
  folds = []
  for fold in range(k):
    if((fold+1)==k):
      dados_fold = random_indices[int(fold*intervalo):]
      folds.append(dados_fold)    
    else:
      dados_fold = random_indices[int(fold*intervalo):(int((fold+1)*intervalo))]
      folds.append(dados_fold)    
  return folds

In [ ]:
random_indices = np.random.permutation(range(dados.shape[0]))

In [ ]:
folds = kfold(10,random_indices)

[1397 1450 4994 ... 3692 1795 4702]
Intervalo =  674.5

#### CrossVal

In [ ]:
from numpy.core.multiarray import concatenate
soma_acc=0
soma_prec=0
soma_rec=0
soma_f1=0
for rodada in range(len(folds)):
  teste = rodada
  val = 0  
  if(rodada!=9):
    val = teste + 1  
  test_data = folds[teste]
  val_data = folds[val]
  train_data = []
  for treino in range(len(folds)):
    if(treino!=teste and treino!=val):
      train_data = train_data + (folds[treino].tolist())
  train_mask = []
  test_mask = []
  val_mask = []

  for cont in range(len(random_indices)):
    if(cont in train_data):
      train_mask.append(True)
      test_mask.append(False)
      val_mask.append(False)
    else:
      train_mask.append(False)
      test_mask.append(True)
      val_mask.append(True)
  train_mask = torch.tensor(train_mask, dtype=torch.bool)
  test_mask = torch.tensor(test_mask, dtype=torch.bool)
  val_mask = torch.tensor(val_mask, dtype=torch.bool)
  data = Data(x=x, edge_index=edge_index, y=y)
  data.train_mask = train_mask
  data.test_mask = test_mask
  data.val_mask = val_mask
  

    # Create GAT model
  gat = GAT(dados.shape[1], 8, 2)
  print(gat)

# Train
  train(gat, data)

# Test
  acc,prec,rec,f1 = test(gat, data)
  print(f'\nGAT test precision: {prec*100:.2f}%\n')
  print(f'\nGAT test recall: {rec*100:.2f}%\n')
  print(f'\nGAT test f1 score: {f1*100:.2f}%\n')
  print(f'\nGAT test accuracy: {acc*100:.2f}%\n')
  soma_acc = soma_acc + acc
  soma_prec = soma_prec + prec
  soma_rec = soma_rec + rec
  soma_f1 = soma_f1 + f1

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.730 | Train Acc:  49.05% | Val Loss: 0.73 | Val Acc: 48.78%
Epoch  10 | Train Loss: 0.693 | Train Acc:  53.28% | Val Loss: 0.69 | Val Acc: 54.11%
Epoch  20 | Train Loss: 0.675 | Train Acc:  58.65% | Val Loss: 0.67 | Val Acc: 59.67%
Epoch  30 | Train Loss: 0.658 | Train Acc:  63.25% | Val Loss: 0.65 | Val Acc: 64.05%
Epoch  40 | Train Loss: 0.641 | Train Acc:  68.12% | Val Loss: 0.63 | Val Acc: 70.72%
Epoch  50 | Train Loss: 0.621 | Train Acc:  68.68% | Val Loss: 0.61 | Val Acc: 72.72%
Epoch  60 | Train Loss: 0.605 | Train Acc:  70.07% | Val Loss: 0.59 | Val Acc: 72.57%
Epoch  70 | Train Loss: 0.589 | Train Acc:  70.33% | Val Loss: 0.57 | Val Acc: 73.09%
Epoch  80 | Train Loss: 0.581 | Train Acc:  70.29% | Val Loss: 0.56 | Val Acc: 73.98%
Epoch  90 | Train Loss: 0.572 | Train Acc:  71.15% | Val Loss: 0.55 | Val Acc: 73.61%
Epoch 100 | Train Loss: 0.569 | Train Acc:  71.26% | Val Loss: 0.55 | Val Acc: 72.35%
Epoch 110 | Train Loss: 0.567 | Train Acc:  71.05% | Val Loss: 0.54 | Val Acc: 73.61%
Epoch 120 | Train Loss: 0.562 | Train Acc:  72.07% | Val Loss: 0.55 | Val Acc: 73.83%
Epoch 130 | Train Loss: 0.558 | Train Acc:  71.74% | Val Loss: 0.54 | Val Acc: 74.13%
Epoch 140 | Train Loss: 0.555 | Train Acc:  72.26% | Val Loss: 0.53 | Val Acc: 74.43%
Epoch 150 | Train Loss: 0.552 | Train Acc:  72.57% | Val Loss: 0.53 | Val Acc: 73.98%
Epoch 160 | Train Loss: 0.554 | Train Acc:  72.09% | Val Loss: 0.53 | Val Acc: 74.72%
Epoch 170 | Train Loss: 0.546 | Train Acc:  72.46% | Val Loss: 0.53 | Val Acc: 74.57%
Epoch 180 | Train Loss: 0.544 | Train Acc:  72.35% | Val Loss: 0.52 | Val Acc: 74.72%
Epoch 190 | Train Loss: 0.545 | Train Acc:  73.30% | Val Loss: 0.52 | Val Acc: 74.94%
Epoch 200 | Train Loss: 0.561 | Train Acc:  71.72% | Val Loss: 0.54 | Val Acc: 74.13%

GAT test precision: 68.83%


GAT test recall: 83.16%


GAT test f1 score: 75.32%


GAT test accuracy: 72.65%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.743 | Train Acc:  50.02% | Val Loss: 0.75 | Val Acc: 50.04%
Epoch  10 | Train Loss: 0.716 | Train Acc:  50.50% | Val Loss: 0.71 | Val Acc: 52.19%
Epoch  20 | Train Loss: 0.688 | Train Acc:  53.97% | Val Loss: 0.68 | Val Acc: 56.71%
Epoch  30 | Train Loss: 0.668 | Train Acc:  61.73% | Val Loss: 0.67 | Val Acc: 62.94%
Epoch  40 | Train Loss: 0.656 | Train Acc:  65.79% | Val Loss: 0.66 | Val Acc: 64.86%
Epoch  50 | Train Loss: 0.644 | Train Acc:  67.12% | Val Loss: 0.64 | Val Acc: 69.38%
Epoch  60 | Train Loss: 0.628 | Train Acc:  69.37% | Val Loss: 0.63 | Val Acc: 71.61%
Epoch  70 | Train Loss: 0.612 | Train Acc:  69.42% | Val Loss: 0.61 | Val Acc: 72.57%
Epoch  80 | Train Loss: 0.599 | Train Acc:  70.14% | Val Loss: 0.59 | Val Acc: 71.46%
Epoch  90 | Train Loss: 0.591 | Train Acc:  70.39% | Val Loss: 0.58 | Val Acc: 72.28%
Epoch 100 | Train Loss: 0.581 | Train Acc:  70.61% | Val Loss: 0.58 | Val Acc: 71.91%
Epoch 110 | Train Loss: 0.573 | Train Acc:  71.20% | Val Loss: 0.56 | Val Acc: 72.50%
Epoch 120 | Train Loss: 0.568 | Train Acc:  71.59% | Val Loss: 0.56 | Val Acc: 73.02%
Epoch 130 | Train Loss: 0.566 | Train Acc:  71.24% | Val Loss: 0.55 | Val Acc: 72.28%
Epoch 140 | Train Loss: 0.563 | Train Acc:  71.72% | Val Loss: 0.55 | Val Acc: 71.68%
Epoch 150 | Train Loss: 0.559 | Train Acc:  72.24% | Val Loss: 0.55 | Val Acc: 74.35%
Epoch 160 | Train Loss: 0.555 | Train Acc:  72.98% | Val Loss: 0.55 | Val Acc: 75.39%
Epoch 170 | Train Loss: 0.553 | Train Acc:  72.96% | Val Loss: 0.54 | Val Acc: 73.31%
Epoch 180 | Train Loss: 0.545 | Train Acc:  72.81% | Val Loss: 0.54 | Val Acc: 74.20%
Epoch 190 | Train Loss: 0.547 | Train Acc:  72.44% | Val Loss: 0.53 | Val Acc: 73.91%
Epoch 200 | Train Loss: 0.543 | Train Acc:  73.09% | Val Loss: 0.53 | Val Acc: 75.09%

GAT test precision: 74.45%


GAT test recall: 72.19%


GAT test f1 score: 73.30%


GAT test accuracy: 74.35%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.729 | Train Acc:  50.00% | Val Loss: 0.71 | Val Acc: 53.37%
Epoch  10 | Train Loss: 0.732 | Train Acc:  50.74% | Val Loss: 0.75 | Val Acc: 48.63%
Epoch  20 | Train Loss: 0.687 | Train Acc:  51.41% | Val Loss: 0.69 | Val Acc: 49.89%
Epoch  30 | Train Loss: 0.667 | Train Acc:  63.31% | Val Loss: 0.67 | Val Acc: 64.27%
Epoch  40 | Train Loss: 0.657 | Train Acc:  65.03% | Val Loss: 0.66 | Val Acc: 64.57%
Epoch  50 | Train Loss: 0.644 | Train Acc:  67.62% | Val Loss: 0.65 | Val Acc: 69.83%
Epoch  60 | Train Loss: 0.629 | Train Acc:  70.24% | Val Loss: 0.63 | Val Acc: 71.24%
Epoch  70 | Train Loss: 0.613 | Train Acc:  70.26% | Val Loss: 0.62 | Val Acc: 69.98%
Epoch  80 | Train Loss: 0.597 | Train Acc:  70.57% | Val Loss: 0.61 | Val Acc: 72.42%
Epoch  90 | Train Loss: 0.588 | Train Acc:  70.64% | Val Loss: 0.60 | Val Acc: 71.31%
Epoch 100 | Train Loss: 0.578 | Train Acc:  71.22% | Val Loss: 0.59 | Val Acc: 71.46%
Epoch 110 | Train Loss: 0.571 | Train Acc:  71.03% | Val Loss: 0.58 | Val Acc: 71.31%
Epoch 120 | Train Loss: 0.564 | Train Acc:  71.81% | Val Loss: 0.57 | Val Acc: 71.39%
Epoch 130 | Train Loss: 0.561 | Train Acc:  71.85% | Val Loss: 0.57 | Val Acc: 72.57%
Epoch 140 | Train Loss: 0.558 | Train Acc:  72.09% | Val Loss: 0.57 | Val Acc: 72.65%
Epoch 150 | Train Loss: 0.555 | Train Acc:  72.15% | Val Loss: 0.56 | Val Acc: 73.24%
Epoch 160 | Train Loss: 0.555 | Train Acc:  71.85% | Val Loss: 0.56 | Val Acc: 71.02%
Epoch 170 | Train Loss: 0.553 | Train Acc:  72.03% | Val Loss: 0.56 | Val Acc: 72.35%
Epoch 180 | Train Loss: 0.549 | Train Acc:  72.05% | Val Loss: 0.56 | Val Acc: 72.35%
Epoch 190 | Train Loss: 0.544 | Train Acc:  72.52% | Val Loss: 0.56 | Val Acc: 72.94%
Epoch 200 | Train Loss: 0.544 | Train Acc:  73.44% | Val Loss: 0.55 | Val Acc: 74.13%

GAT test precision: 73.51%


GAT test recall: 68.94%


GAT test f1 score: 71.15%


GAT test accuracy: 72.65%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.716 | Train Acc:  49.59% | Val Loss: 0.71 | Val Acc: 49.52%
Epoch  10 | Train Loss: 0.719 | Train Acc:  50.11% | Val Loss: 0.71 | Val Acc: 51.37%
Epoch  20 | Train Loss: 0.688 | Train Acc:  49.85% | Val Loss: 0.68 | Val Acc: 51.52%
Epoch  30 | Train Loss: 0.672 | Train Acc:  61.90% | Val Loss: 0.67 | Val Acc: 62.56%
Epoch  40 | Train Loss: 0.663 | Train Acc:  62.56% | Val Loss: 0.66 | Val Acc: 61.38%
Epoch  50 | Train Loss: 0.650 | Train Acc:  65.33% | Val Loss: 0.65 | Val Acc: 66.64%
Epoch  60 | Train Loss: 0.635 | Train Acc:  68.68% | Val Loss: 0.63 | Val Acc: 68.50%
Epoch  70 | Train Loss: 0.618 | Train Acc:  69.37% | Val Loss: 0.62 | Val Acc: 69.31%
Epoch  80 | Train Loss: 0.603 | Train Acc:  69.70% | Val Loss: 0.60 | Val Acc: 70.87%
Epoch  90 | Train Loss: 0.591 | Train Acc:  70.46% | Val Loss: 0.59 | Val Acc: 69.61%
Epoch 100 | Train Loss: 0.581 | Train Acc:  70.48% | Val Loss: 0.59 | Val Acc: 70.50%
Epoch 110 | Train Loss: 0.570 | Train Acc:  71.26% | Val Loss: 0.58 | Val Acc: 72.28%
Epoch 120 | Train Loss: 0.565 | Train Acc:  71.76% | Val Loss: 0.57 | Val Acc: 71.53%
Epoch 130 | Train Loss: 0.564 | Train Acc:  72.50% | Val Loss: 0.57 | Val Acc: 72.79%
Epoch 140 | Train Loss: 0.556 | Train Acc:  72.87% | Val Loss: 0.57 | Val Acc: 72.79%
Epoch 150 | Train Loss: 0.556 | Train Acc:  72.42% | Val Loss: 0.57 | Val Acc: 72.57%
Epoch 160 | Train Loss: 0.555 | Train Acc:  72.42% | Val Loss: 0.57 | Val Acc: 72.79%
Epoch 170 | Train Loss: 0.548 | Train Acc:  72.72% | Val Loss: 0.56 | Val Acc: 72.13%
Epoch 180 | Train Loss: 0.545 | Train Acc:  72.98% | Val Loss: 0.56 | Val Acc: 72.72%
Epoch 190 | Train Loss: 0.543 | Train Acc:  73.48% | Val Loss: 0.56 | Val Acc: 73.31%
Epoch 200 | Train Loss: 0.542 | Train Acc:  73.18% | Val Loss: 0.55 | Val Acc: 71.31%

GAT test precision: 81.95%


GAT test recall: 64.95%


GAT test f1 score: 72.47%


GAT test accuracy: 74.43%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.728 | Train Acc:  50.96% | Val Loss: 0.74 | Val Acc: 49.59%
Epoch  10 | Train Loss: 0.725 | Train Acc:  50.04% | Val Loss: 0.71 | Val Acc: 52.71%
Epoch  20 | Train Loss: 0.688 | Train Acc:  50.57% | Val Loss: 0.68 | Val Acc: 52.85%
Epoch  30 | Train Loss: 0.668 | Train Acc:  62.14% | Val Loss: 0.67 | Val Acc: 61.97%
Epoch  40 | Train Loss: 0.657 | Train Acc:  66.18% | Val Loss: 0.66 | Val Acc: 65.46%
Epoch  50 | Train Loss: 0.644 | Train Acc:  68.24% | Val Loss: 0.64 | Val Acc: 68.79%
Epoch  60 | Train Loss: 0.627 | Train Acc:  69.22% | Val Loss: 0.63 | Val Acc: 67.83%
Epoch  70 | Train Loss: 0.611 | Train Acc:  70.53% | Val Loss: 0.61 | Val Acc: 70.05%
Epoch  80 | Train Loss: 0.597 | Train Acc:  70.72% | Val Loss: 0.59 | Val Acc: 71.24%
Epoch  90 | Train Loss: 0.584 | Train Acc:  71.03% | Val Loss: 0.58 | Val Acc: 70.79%
Epoch 100 | Train Loss: 0.578 | Train Acc:  71.29% | Val Loss: 0.57 | Val Acc: 71.39%
Epoch 110 | Train Loss: 0.569 | Train Acc:  71.44% | Val Loss: 0.57 | Val Acc: 71.16%
Epoch 120 | Train Loss: 0.566 | Train Acc:  71.98% | Val Loss: 0.57 | Val Acc: 70.87%
Epoch 130 | Train Loss: 0.557 | Train Acc:  71.89% | Val Loss: 0.56 | Val Acc: 72.20%
Epoch 140 | Train Loss: 0.558 | Train Acc:  71.78% | Val Loss: 0.56 | Val Acc: 72.20%
Epoch 150 | Train Loss: 0.557 | Train Acc:  72.74% | Val Loss: 0.57 | Val Acc: 71.24%
Epoch 160 | Train Loss: 0.551 | Train Acc:  73.05% | Val Loss: 0.55 | Val Acc: 72.35%
Epoch 170 | Train Loss: 0.549 | Train Acc:  72.50% | Val Loss: 0.55 | Val Acc: 72.79%
Epoch 180 | Train Loss: 0.545 | Train Acc:  73.44% | Val Loss: 0.55 | Val Acc: 73.17%
Epoch 190 | Train Loss: 0.542 | Train Acc:  73.54% | Val Loss: 0.55 | Val Acc: 72.65%
Epoch 200 | Train Loss: 0.541 | Train Acc:  73.05% | Val Loss: 0.55 | Val Acc: 72.35%

GAT test precision: 81.92%


GAT test recall: 62.54%


GAT test f1 score: 70.93%


GAT test accuracy: 73.02%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.727 | Train Acc:  50.59% | Val Loss: 0.73 | Val Acc: 50.41%
Epoch  10 | Train Loss: 0.700 | Train Acc:  52.11% | Val Loss: 0.71 | Val Acc: 49.96%
Epoch  20 | Train Loss: 0.687 | Train Acc:  53.74% | Val Loss: 0.70 | Val Acc: 51.82%
Epoch  30 | Train Loss: 0.667 | Train Acc:  60.23% | Val Loss: 0.67 | Val Acc: 57.60%
Epoch  40 | Train Loss: 0.654 | Train Acc:  66.09% | Val Loss: 0.66 | Val Acc: 63.31%
Epoch  50 | Train Loss: 0.640 | Train Acc:  67.57% | Val Loss: 0.65 | Val Acc: 63.75%
Epoch  60 | Train Loss: 0.625 | Train Acc:  69.92% | Val Loss: 0.63 | Val Acc: 65.53%
Epoch  70 | Train Loss: 0.609 | Train Acc:  71.02% | Val Loss: 0.62 | Val Acc: 65.90%
Epoch  80 | Train Loss: 0.594 | Train Acc:  71.29% | Val Loss: 0.61 | Val Acc: 67.01%
Epoch  90 | Train Loss: 0.584 | Train Acc:  71.83% | Val Loss: 0.60 | Val Acc: 68.42%
Epoch 100 | Train Loss: 0.573 | Train Acc:  71.61% | Val Loss: 0.60 | Val Acc: 68.35%
Epoch 110 | Train Loss: 0.567 | Train Acc:  72.02% | Val Loss: 0.59 | Val Acc: 68.42%
Epoch 120 | Train Loss: 0.562 | Train Acc:  72.68% | Val Loss: 0.59 | Val Acc: 69.31%
Epoch 130 | Train Loss: 0.558 | Train Acc:  72.78% | Val Loss: 0.58 | Val Acc: 69.31%
Epoch 140 | Train Loss: 0.557 | Train Acc:  73.02% | Val Loss: 0.58 | Val Acc: 70.20%
Epoch 150 | Train Loss: 0.552 | Train Acc:  73.46% | Val Loss: 0.57 | Val Acc: 68.35%
Epoch 160 | Train Loss: 0.550 | Train Acc:  72.68% | Val Loss: 0.58 | Val Acc: 69.46%
Epoch 170 | Train Loss: 0.546 | Train Acc:  73.02% | Val Loss: 0.57 | Val Acc: 70.05%
Epoch 180 | Train Loss: 0.543 | Train Acc:  73.18% | Val Loss: 0.57 | Val Acc: 69.61%
Epoch 190 | Train Loss: 0.540 | Train Acc:  74.13% | Val Loss: 0.56 | Val Acc: 69.90%
Epoch 200 | Train Loss: 0.551 | Train Acc:  71.18% | Val Loss: 0.57 | Val Acc: 68.94%

GAT test precision: 78.89%


GAT test recall: 55.08%


GAT test f1 score: 64.87%


GAT test accuracy: 69.09%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.761 | Train Acc:  50.46% | Val Loss: 0.76 | Val Acc: 50.85%
Epoch  10 | Train Loss: 0.699 | Train Acc:  50.85% | Val Loss: 0.70 | Val Acc: 50.11%
Epoch  20 | Train Loss: 0.676 | Train Acc:  52.67% | Val Loss: 0.68 | Val Acc: 51.00%
Epoch  30 | Train Loss: 0.661 | Train Acc:  58.91% | Val Loss: 0.67 | Val Acc: 57.08%
Epoch  40 | Train Loss: 0.643 | Train Acc:  68.70% | Val Loss: 0.65 | Val Acc: 65.31%
Epoch  50 | Train Loss: 0.624 | Train Acc:  69.63% | Val Loss: 0.63 | Val Acc: 66.35%
Epoch  60 | Train Loss: 0.603 | Train Acc:  70.68% | Val Loss: 0.62 | Val Acc: 66.86%
Epoch  70 | Train Loss: 0.587 | Train Acc:  71.57% | Val Loss: 0.61 | Val Acc: 68.12%
Epoch  80 | Train Loss: 0.575 | Train Acc:  71.76% | Val Loss: 0.60 | Val Acc: 68.20%
Epoch  90 | Train Loss: 0.565 | Train Acc:  72.28% | Val Loss: 0.60 | Val Acc: 67.83%
Epoch 100 | Train Loss: 0.561 | Train Acc:  72.70% | Val Loss: 0.60 | Val Acc: 68.05%
Epoch 110 | Train Loss: 0.555 | Train Acc:  73.28% | Val Loss: 0.59 | Val Acc: 68.27%
Epoch 120 | Train Loss: 0.548 | Train Acc:  73.59% | Val Loss: 0.59 | Val Acc: 69.76%
Epoch 130 | Train Loss: 0.547 | Train Acc:  73.52% | Val Loss: 0.59 | Val Acc: 68.27%
Epoch 140 | Train Loss: 0.543 | Train Acc:  73.54% | Val Loss: 0.59 | Val Acc: 67.75%
Epoch 150 | Train Loss: 0.543 | Train Acc:  72.20% | Val Loss: 0.59 | Val Acc: 67.83%
Epoch 160 | Train Loss: 0.535 | Train Acc:  73.57% | Val Loss: 0.59 | Val Acc: 69.61%
Epoch 170 | Train Loss: 0.535 | Train Acc:  72.89% | Val Loss: 0.59 | Val Acc: 68.94%
Epoch 180 | Train Loss: 0.536 | Train Acc:  74.65% | Val Loss: 0.58 | Val Acc: 69.76%
Epoch 190 | Train Loss: 0.531 | Train Acc:  74.80% | Val Loss: 0.59 | Val Acc: 69.53%
Epoch 200 | Train Loss: 0.532 | Train Acc:  74.57% | Val Loss: 0.58 | Val Acc: 70.05%

GAT test precision: 69.39%


GAT test recall: 68.46%


GAT test f1 score: 68.92%


GAT test accuracy: 69.38%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.737 | Train Acc:  50.15% | Val Loss: 0.75 | Val Acc: 48.48%
Epoch  10 | Train Loss: 0.714 | Train Acc:  50.69% | Val Loss: 0.71 | Val Acc: 51.30%
Epoch  20 | Train Loss: 0.686 | Train Acc:  53.50% | Val Loss: 0.69 | Val Acc: 54.04%
Epoch  30 | Train Loss: 0.668 | Train Acc:  62.01% | Val Loss: 0.67 | Val Acc: 61.68%
Epoch  40 | Train Loss: 0.655 | Train Acc:  65.90% | Val Loss: 0.66 | Val Acc: 66.79%
Epoch  50 | Train Loss: 0.638 | Train Acc:  68.75% | Val Loss: 0.64 | Val Acc: 67.68%
Epoch  60 | Train Loss: 0.621 | Train Acc:  70.39% | Val Loss: 0.63 | Val Acc: 68.35%
Epoch  70 | Train Loss: 0.604 | Train Acc:  70.48% | Val Loss: 0.61 | Val Acc: 69.53%
Epoch  80 | Train Loss: 0.591 | Train Acc:  70.81% | Val Loss: 0.60 | Val Acc: 69.53%
Epoch  90 | Train Loss: 0.578 | Train Acc:  71.20% | Val Loss: 0.59 | Val Acc: 70.13%
Epoch 100 | Train Loss: 0.571 | Train Acc:  71.28% | Val Loss: 0.59 | Val Acc: 70.79%
Epoch 110 | Train Loss: 0.566 | Train Acc:  71.72% | Val Loss: 0.58 | Val Acc: 71.76%
Epoch 120 | Train Loss: 0.561 | Train Acc:  72.15% | Val Loss: 0.57 | Val Acc: 71.16%
Epoch 130 | Train Loss: 0.553 | Train Acc:  72.66% | Val Loss: 0.57 | Val Acc: 70.79%
Epoch 140 | Train Loss: 0.553 | Train Acc:  72.37% | Val Loss: 0.58 | Val Acc: 71.46%
Epoch 150 | Train Loss: 0.550 | Train Acc:  72.31% | Val Loss: 0.57 | Val Acc: 70.13%
Epoch 160 | Train Loss: 0.542 | Train Acc:  73.31% | Val Loss: 0.57 | Val Acc: 72.13%
Epoch 170 | Train Loss: 0.543 | Train Acc:  73.52% | Val Loss: 0.56 | Val Acc: 71.24%
Epoch 180 | Train Loss: 0.539 | Train Acc:  72.96% | Val Loss: 0.56 | Val Acc: 72.20%
Epoch 190 | Train Loss: 0.537 | Train Acc:  72.91% | Val Loss: 0.56 | Val Acc: 71.76%
Epoch 200 | Train Loss: 0.536 | Train Acc:  73.50% | Val Loss: 0.55 | Val Acc: 72.79%

GAT test precision: 75.29%


GAT test recall: 67.41%


GAT test f1 score: 71.14%


GAT test accuracy: 72.87%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.781 | Train Acc:  50.26% | Val Loss: 0.78 | Val Acc: 49.52%
Epoch  10 | Train Loss: 0.717 | Train Acc:  51.67% | Val Loss: 0.72 | Val Acc: 51.00%
Epoch  20 | Train Loss: 0.681 | Train Acc:  54.99% | Val Loss: 0.68 | Val Acc: 54.34%
Epoch  30 | Train Loss: 0.663 | Train Acc:  61.01% | Val Loss: 0.67 | Val Acc: 60.64%
Epoch  40 | Train Loss: 0.648 | Train Acc:  65.23% | Val Loss: 0.65 | Val Acc: 65.23%
Epoch  50 | Train Loss: 0.633 | Train Acc:  68.53% | Val Loss: 0.64 | Val Acc: 68.50%
Epoch  60 | Train Loss: 0.621 | Train Acc:  68.98% | Val Loss: 0.62 | Val Acc: 69.83%
Epoch  70 | Train Loss: 0.607 | Train Acc:  69.48% | Val Loss: 0.61 | Val Acc: 70.35%
Epoch  80 | Train Loss: 0.593 | Train Acc:  70.00% | Val Loss: 0.60 | Val Acc: 69.90%
Epoch  90 | Train Loss: 0.584 | Train Acc:  70.55% | Val Loss: 0.59 | Val Acc: 71.61%
Epoch 100 | Train Loss: 0.575 | Train Acc:  70.85% | Val Loss: 0.58 | Val Acc: 71.31%
Epoch 110 | Train Loss: 0.570 | Train Acc:  71.05% | Val Loss: 0.58 | Val Acc: 70.64%
Epoch 120 | Train Loss: 0.566 | Train Acc:  70.98% | Val Loss: 0.57 | Val Acc: 72.13%
Epoch 130 | Train Loss: 0.565 | Train Acc:  71.40% | Val Loss: 0.56 | Val Acc: 72.05%
Epoch 140 | Train Loss: 0.564 | Train Acc:  71.83% | Val Loss: 0.56 | Val Acc: 72.57%
Epoch 150 | Train Loss: 0.556 | Train Acc:  71.39% | Val Loss: 0.56 | Val Acc: 72.87%
Epoch 160 | Train Loss: 0.557 | Train Acc:  71.98% | Val Loss: 0.56 | Val Acc: 72.72%
Epoch 170 | Train Loss: 0.551 | Train Acc:  71.92% | Val Loss: 0.56 | Val Acc: 72.50%
Epoch 180 | Train Loss: 0.549 | Train Acc:  72.72% | Val Loss: 0.55 | Val Acc: 72.35%
Epoch 190 | Train Loss: 0.544 | Train Acc:  72.79% | Val Loss: 0.55 | Val Acc: 73.46%
Epoch 200 | Train Loss: 0.542 | Train Acc:  73.09% | Val Loss: 0.55 | Val Acc: 73.46%

GAT test precision: 82.73%


GAT test recall: 63.10%


GAT test f1 score: 71.59%


GAT test accuracy: 74.65%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.721 | Train Acc:  51.43% | Val Loss: 0.72 | Val Acc: 51.22%
Epoch  10 | Train Loss: 0.718 | Train Acc:  50.74% | Val Loss: 0.72 | Val Acc: 51.22%
Epoch  20 | Train Loss: 0.680 | Train Acc:  54.89% | Val Loss: 0.68 | Val Acc: 55.74%
Epoch  30 | Train Loss: 0.666 | Train Acc:  62.29% | Val Loss: 0.66 | Val Acc: 64.34%
Epoch  40 | Train Loss: 0.655 | Train Acc:  62.51% | Val Loss: 0.65 | Val Acc: 65.16%
Epoch  50 | Train Loss: 0.644 | Train Acc:  66.88% | Val Loss: 0.64 | Val Acc: 69.83%
Epoch  60 | Train Loss: 0.629 | Train Acc:  68.22% | Val Loss: 0.62 | Val Acc: 70.57%
Epoch  70 | Train Loss: 0.615 | Train Acc:  69.55% | Val Loss: 0.61 | Val Acc: 72.57%
Epoch  80 | Train Loss: 0.603 | Train Acc:  69.89% | Val Loss: 0.60 | Val Acc: 71.61%
Epoch  90 | Train Loss: 0.592 | Train Acc:  70.29% | Val Loss: 0.58 | Val Acc: 72.20%
Epoch 100 | Train Loss: 0.585 | Train Acc:  70.01% | Val Loss: 0.57 | Val Acc: 72.79%
Epoch 110 | Train Loss: 0.578 | Train Acc:  70.52% | Val Loss: 0.56 | Val Acc: 73.09%
Epoch 120 | Train Loss: 0.574 | Train Acc:  70.76% | Val Loss: 0.56 | Val Acc: 73.17%
Epoch 130 | Train Loss: 0.567 | Train Acc:  71.09% | Val Loss: 0.56 | Val Acc: 73.46%
Epoch 140 | Train Loss: 0.565 | Train Acc:  71.35% | Val Loss: 0.55 | Val Acc: 74.05%
Epoch 150 | Train Loss: 0.561 | Train Acc:  71.79% | Val Loss: 0.55 | Val Acc: 73.91%
Epoch 160 | Train Loss: 0.561 | Train Acc:  71.22% | Val Loss: 0.55 | Val Acc: 72.94%
Epoch 170 | Train Loss: 0.556 | Train Acc:  72.13% | Val Loss: 0.55 | Val Acc: 72.79%
Epoch 180 | Train Loss: 0.553 | Train Acc:  72.26% | Val Loss: 0.54 | Val Acc: 74.20%
Epoch 190 | Train Loss: 0.552 | Train Acc:  72.31% | Val Loss: 0.55 | Val Acc: 73.17%
Epoch 200 | Train Loss: 0.550 | Train Acc:  72.68% | Val Loss: 0.53 | Val Acc: 73.98%

GAT test precision: 74.81%


GAT test recall: 72.26%


GAT test f1 score: 73.51%


GAT test accuracy: 73.98%

In [ ]:
print(f'\nGAT test precision: {(soma_prec/10)*100:.2f}%\n')
print(f'\nGAT test recall: {(soma_rec/10)*100:.2f}%\n')
print(f'\nGAT test f1 score: {(soma_f1/10)*100:.2f}%\n')
print(f'\nGAT test accuracy: {(soma_acc/10)*100:.2f}%\n')

GAT test precision: 76.18%


GAT test recall: 67.81%


GAT test f1 score: 71.32%


GAT test accuracy: 72.71%

# Experimento Classificação Dataset Dias de Semana

## Dataset RNP

### Carregar Vértices

In [ ]:
from torch_geometric.data import Data
from torch_geometric.loader import DataLoader

In [ ]:
path_dataset_metricas_rnp_transposto = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_1.csv'
path_dataset_metricas_rnp_transposto_final_semana = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_final_semana.csv'
path_dataset_metricas_rnp_transposto_dia_semana = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_dia_semana.csv'
path_dataset_rnp_3 = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_testes_2_dias_semana.csv'

In [ ]:
nos_retirados = [4, 14, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 52, 56, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 148, 158, 166, 176, 188, 189, 190, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215]

In [ ]:
len(nos_retirados)

84

In [ ]:
dados = pd.read_csv(path_dataset_metricas_rnp_transposto_dia_semana, delimiter=",")
dados = dados.T
dados

,0,1,2,3,4,5,6,7,8,9,...,302,303,304,305,306,307,308,309,310,311
id,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,302.0,303.000000,304.0,305.0,306.000000,307.0,308.0,309.00000,310.000000,311.0
f_0,845572.0,820199.0,7840729.0,866019.0,0.0,858103.0,884162.0,839173.0,4102432.0,869847.0,...,82010.0,16320.000000,51430.0,86720.0,101000.000000,105500.0,66540.0,43470.00000,28140.000000,112000.0
f_1,847565.0,787375.0,3424706.0,864759.0,0.0,878133.0,890030.0,869218.0,3399700.0,860043.0,...,81900.0,16300.000000,51400.0,86200.0,101000.000000,105000.0,59800.0,43400.00000,28100.000000,112000.0
f_2,803419.0,831836.0,3847770.0,861982.0,0.0,694367.0,904923.0,852103.0,3679127.0,817417.0,...,82200.0,16400.000000,51500.0,89800.0,101000.000000,106000.0,127000.0,43600.00000,28400.000000,112000.0
f_3,355415.0,808513.0,7283799.0,854601.0,0.0,873149.0,932813.0,894016.0,1751930.0,871788.0,...,82030.0,16290.000000,51440.0,86290.0,111300.000000,105100.0,59820.0,44430.00000,29670.000000,112000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_17572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47500.0,40351.896512,37500.0,49200.0,101313.714174,23600.0,19600.0,41237.69003,53190.357948,8830.0
f_17573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47500.0,40351.896512,37700.0,49400.0,101313.714174,24800.0,19800.0,41237.69003,53190.357948,9080.0
f_17574,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47520.0,40351.896512,37590.0,49863.0,101313.714174,23620.0,19630.0,41237.69003,53190.357948,52830.0
f_17575,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47400.0,40351.896512,37500.0,49300.0,101313.714174,23500.0,19600.0,41237.69003,53190.357948,46200.0
f_17576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47600.0,40351.896512,37700.0,51200.0,101313.714174,23700.0,19700.0,41237.69003,53190.357948,60800.0

In [ ]:
dados = dados.drop(columns=nos_retirados)

In [ ]:
dados

,0,1,2,3,5,6,7,8,9,10,...,302,303,304,305,306,307,308,309,310,311
id,0.0,1.0,2.0,3.0,5.0,6.0,7.0,8.0,9.0,10.0,...,302.0,303.000000,304.0,305.0,306.000000,307.0,308.0,309.00000,310.000000,311.0
f_0,845572.0,820199.0,7840729.0,866019.0,858103.0,884162.0,839173.0,4102432.0,869847.0,851390.0,...,82010.0,16320.000000,51430.0,86720.0,101000.000000,105500.0,66540.0,43470.00000,28140.000000,112000.0
f_1,847565.0,787375.0,3424706.0,864759.0,878133.0,890030.0,869218.0,3399700.0,860043.0,871157.0,...,81900.0,16300.000000,51400.0,86200.0,101000.000000,105000.0,59800.0,43400.00000,28100.000000,112000.0
f_2,803419.0,831836.0,3847770.0,861982.0,694367.0,904923.0,852103.0,3679127.0,817417.0,802633.0,...,82200.0,16400.000000,51500.0,89800.0,101000.000000,106000.0,127000.0,43600.00000,28400.000000,112000.0
f_3,355415.0,808513.0,7283799.0,854601.0,873149.0,932813.0,894016.0,1751930.0,871788.0,867068.0,...,82030.0,16290.000000,51440.0,86290.0,111300.000000,105100.0,59820.0,44430.00000,29670.000000,112000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_17572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47500.0,40351.896512,37500.0,49200.0,101313.714174,23600.0,19600.0,41237.69003,53190.357948,8830.0
f_17573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47500.0,40351.896512,37700.0,49400.0,101313.714174,24800.0,19800.0,41237.69003,53190.357948,9080.0
f_17574,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47520.0,40351.896512,37590.0,49863.0,101313.714174,23620.0,19630.0,41237.69003,53190.357948,52830.0
f_17575,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47400.0,40351.896512,37500.0,49300.0,101313.714174,23500.0,19600.0,41237.69003,53190.357948,46200.0
f_17576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47600.0,40351.896512,37700.0,51200.0,101313.714174,23700.0,19700.0,41237.69003,53190.357948,60800.0

In [ ]:
df_max_scaled = dados.copy() 
for column in df_max_scaled.columns: 
    df_max_scaled[column] = df_max_scaled[column]  / df_max_scaled[column].max() 
      
display(df_max_scaled)

,0,1,2,3,5,6,7,8,9,10,...,302,303,304,305,306,307,308,309,310,311
id,0.000000,0.000001,2.413240e-07,0.000003,0.000006,0.000006,0.000008,0.000002,0.000010,0.000011,...,0.000209,0.000154,0.000220,0.000251,0.000149,0.000044,0.000166,0.000167,0.000096,0.000222
f_0,0.927910,0.911870,9.460782e-01,0.965740,0.974980,0.929866,0.938655,0.807083,0.957579,0.944346,...,0.056833,0.008284,0.037214,0.071492,0.049316,0.014994,0.035948,0.023485,0.008723,0.080000
f_1,0.930097,0.875378,4.132319e-01,0.964335,0.997738,0.936037,0.972262,0.668833,0.946787,0.966271,...,0.056757,0.008274,0.037192,0.071063,0.049316,0.014923,0.032307,0.023447,0.008710,0.080000
f_2,0.881652,0.924808,4.642797e-01,0.961239,0.788942,0.951700,0.953118,0.723805,0.899861,0.890265,...,0.056965,0.008325,0.037265,0.074031,0.049316,0.015065,0.068612,0.023555,0.008803,0.080000
f_3,0.390024,0.898878,8.788779e-01,0.953008,0.992075,0.981032,1.000000,0.344662,0.959716,0.961735,...,0.056847,0.008269,0.037221,0.071138,0.054346,0.014937,0.032318,0.024003,0.009197,0.080000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_17572,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032918,0.020483,0.027135,0.040561,0.049470,0.003354,0.010589,0.022279,0.016488,0.006307
f_17573,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032918,0.020483,0.027279,0.040725,0.049470,0.003525,0.010697,0.022279,0.016488,0.006486
f_17574,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032931,0.020483,0.027200,0.041107,0.049470,0.003357,0.010605,0.022279,0.016488,0.037736
f_17575,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032848,0.020483,0.027135,0.040643,0.049470,0.003340,0.010589,0.022279,0.016488,0.033000
f_17576,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032987,0.020483,0.027279,0.042209,0.049470,0.003368,0.010643,0.022279,0.016488,0.043429

In [ ]:
dados = df_max_scaled

In [ ]:
dados = dados.fillna(0)
dados

,0,1,2,3,5,6,7,8,9,10,...,302,303,304,305,306,307,308,309,310,311
id,0.000000,0.000001,2.413240e-07,0.000003,0.000006,0.000006,0.000008,0.000002,0.000010,0.000011,...,0.000209,0.000154,0.000220,0.000251,0.000149,0.000044,0.000166,0.000167,0.000096,0.000222
f_0,0.927910,0.911870,9.460782e-01,0.965740,0.974980,0.929866,0.938655,0.807083,0.957579,0.944346,...,0.056833,0.008284,0.037214,0.071492,0.049316,0.014994,0.035948,0.023485,0.008723,0.080000
f_1,0.930097,0.875378,4.132319e-01,0.964335,0.997738,0.936037,0.972262,0.668833,0.946787,0.966271,...,0.056757,0.008274,0.037192,0.071063,0.049316,0.014923,0.032307,0.023447,0.008710,0.080000
f_2,0.881652,0.924808,4.642797e-01,0.961239,0.788942,0.951700,0.953118,0.723805,0.899861,0.890265,...,0.056965,0.008325,0.037265,0.074031,0.049316,0.015065,0.068612,0.023555,0.008803,0.080000
f_3,0.390024,0.898878,8.788779e-01,0.953008,0.992075,0.981032,1.000000,0.344662,0.959716,0.961735,...,0.056847,0.008269,0.037221,0.071138,0.054346,0.014937,0.032318,0.024003,0.009197,0.080000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_17572,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032918,0.020483,0.027135,0.040561,0.049470,0.003354,0.010589,0.022279,0.016488,0.006307
f_17573,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032918,0.020483,0.027279,0.040725,0.049470,0.003525,0.010697,0.022279,0.016488,0.006486
f_17574,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032931,0.020483,0.027200,0.041107,0.049470,0.003357,0.010605,0.022279,0.016488,0.037736
f_17575,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032848,0.020483,0.027135,0.040643,0.049470,0.003340,0.010589,0.022279,0.016488,0.033000
f_17576,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032987,0.020483,0.027279,0.042209,0.049470,0.003368,0.010643,0.022279,0.016488,0.043429

In [ ]:
média_RTT = dados[311].median()
print(média_RTT)

0.012785714285714286

In [ ]:
def classificar_alvo(x):
  if x < média_RTT:
    return 0
  return 1

### Obter Target

In [ ]:
target =dados[311].apply(classificar_alvo)

In [ ]:
target

id         0
f_0        1
f_1        1
f_2        1
f_3        1
          ..
f_17572    0
f_17573    0
f_17574    1
f_17575    1
f_17576    1
Name: 311, Length: 17578, dtype: int64

In [ ]:
target.value_counts()

1    8808
0    8770
Name: 311, dtype: int64

### Constantes

In [ ]:
path_adj = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/grafo.adj'
path_gexf = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/grafo_causalidade_rnp_1.gexf'
path_nodes = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto.csv'
path_dataset_rnp_final = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_1.csv'
path_dataset_metricas_rnp_transposto = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_1.csv'
path_gat_model = '/content/drive/MyDrive/Seagate/RNP/gat_model_1.csv'

### Carregar Arestas

In [ ]:
X = nx.read_gexf(path_gexf)

In [ ]:
n_vertices = X.number_of_nodes()
n_arestas = X.number_of_edges()
print(n_arestas)
print(n_vertices)

9085
225

In [ ]:
df_edge = nx.to_pandas_edgelist(X)

In [ ]:
df_edge

     source target    id
0         0      1     0
1         0      3     1
2         0      4     2
3         0      5     3
4         0      6     4
...     ...    ...   ...
9080    224     88  9080
9081    224     96  9081
9082    224    223  9082
9083    224     78  9083
9084    224    216  9084

[9085 rows x 3 columns]

In [ ]:
colunas = list(df_edge.columns)

In [ ]:
convert_dict = {}
for coluna in colunas:
  convert_dict[coluna] = float

In [ ]:
df_edge = df_edge.astype(convert_dict)  
print(df_edge.dtypes)

source    float64
target    float64
id        float64
dtype: object

In [ ]:
df_edge

      source  target      id
0        0.0     1.0     0.0
1        0.0     3.0     1.0
2        0.0     4.0     2.0
3        0.0     5.0     3.0
4        0.0     6.0     4.0
...      ...     ...     ...
9080   224.0    88.0  9080.0
9081   224.0    96.0  9081.0
9082   224.0   223.0  9082.0
9083   224.0    78.0  9083.0
9084   224.0   216.0  9084.0

[9085 rows x 3 columns]

In [ ]:
df_edge = df_edge.drop(columns=['id'])
df_edge

      source  target
0        0.0     1.0
1        0.0     3.0
2        0.0     4.0
3        0.0     5.0
4        0.0     6.0
...      ...     ...
9080   224.0    88.0
9081   224.0    96.0
9082   224.0   223.0
9083   224.0    78.0
9084   224.0   216.0

[9085 rows x 2 columns]

In [ ]:
df_edge = df_edge.T
df_edge

,0,1,2,3,4,5,6,7,8,9,...,9075,9076,9077,9078,9079,9080,9081,9082,9083,9084
source,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0,224.0
target,1.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,...,67.0,221.0,217.0,104.0,212.0,88.0,96.0,223.0,78.0,216.0

### Transformar em Tensores

In [ ]:
dados

,0,1,2,3,5,6,7,8,9,10,...,302,303,304,305,306,307,308,309,310,311
id,0.000000,0.000001,2.413240e-07,0.000003,0.000006,0.000006,0.000008,0.000002,0.000010,0.000011,...,0.000209,0.000154,0.000220,0.000251,0.000149,0.000044,0.000166,0.000167,0.000096,0.000222
f_0,0.927910,0.911870,9.460782e-01,0.965740,0.974980,0.929866,0.938655,0.807083,0.957579,0.944346,...,0.056833,0.008284,0.037214,0.071492,0.049316,0.014994,0.035948,0.023485,0.008723,0.080000
f_1,0.930097,0.875378,4.132319e-01,0.964335,0.997738,0.936037,0.972262,0.668833,0.946787,0.966271,...,0.056757,0.008274,0.037192,0.071063,0.049316,0.014923,0.032307,0.023447,0.008710,0.080000
f_2,0.881652,0.924808,4.642797e-01,0.961239,0.788942,0.951700,0.953118,0.723805,0.899861,0.890265,...,0.056965,0.008325,0.037265,0.074031,0.049316,0.015065,0.068612,0.023555,0.008803,0.080000
f_3,0.390024,0.898878,8.788779e-01,0.953008,0.992075,0.981032,1.000000,0.344662,0.959716,0.961735,...,0.056847,0.008269,0.037221,0.071138,0.054346,0.014937,0.032318,0.024003,0.009197,0.080000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_17572,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032918,0.020483,0.027135,0.040561,0.049470,0.003354,0.010589,0.022279,0.016488,0.006307
f_17573,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032918,0.020483,0.027279,0.040725,0.049470,0.003525,0.010697,0.022279,0.016488,0.006486
f_17574,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032931,0.020483,0.027200,0.041107,0.049470,0.003357,0.010605,0.022279,0.016488,0.037736
f_17575,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032848,0.020483,0.027135,0.040643,0.049470,0.003340,0.010589,0.022279,0.016488,0.033000
f_17576,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032987,0.020483,0.027279,0.042209,0.049470,0.003368,0.010643,0.022279,0.016488,0.043429

In [ ]:
dados = dados.drop(311,axis='columns')
dados

,0,1,2,3,5,6,7,8,9,10,...,301,302,303,304,305,306,307,308,309,310
id,0.000000,0.000001,2.413240e-07,0.000003,0.000006,0.000006,0.000008,0.000002,0.000010,0.000011,...,0.000190,0.000209,0.000154,0.000220,0.000251,0.000149,0.000044,0.000166,0.000167,0.000096
f_0,0.927910,0.911870,9.460782e-01,0.965740,0.974980,0.929866,0.938655,0.807083,0.957579,0.944346,...,0.032353,0.056833,0.008284,0.037214,0.071492,0.049316,0.014994,0.035948,0.023485,0.008723
f_1,0.930097,0.875378,4.132319e-01,0.964335,0.997738,0.936037,0.972262,0.668833,0.946787,0.966271,...,0.032321,0.056757,0.008274,0.037192,0.071063,0.049316,0.014923,0.032307,0.023447,0.008710
f_2,0.881652,0.924808,4.642797e-01,0.961239,0.788942,0.951700,0.953118,0.723805,0.899861,0.890265,...,0.032448,0.056965,0.008325,0.037265,0.074031,0.049316,0.015065,0.068612,0.023555,0.008803
f_3,0.390024,0.898878,8.788779e-01,0.953008,0.992075,0.981032,1.000000,0.344662,0.959716,0.961735,...,0.032366,0.056847,0.008269,0.037221,0.071138,0.054346,0.014937,0.032318,0.024003,0.009197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_17572,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.023340,0.032918,0.020483,0.027135,0.040561,0.049470,0.003354,0.010589,0.022279,0.016488
f_17573,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.023466,0.032918,0.020483,0.027279,0.040725,0.049470,0.003525,0.010697,0.022279,0.016488
f_17574,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.022707,0.032931,0.020483,0.027200,0.041107,0.049470,0.003357,0.010605,0.022279,0.016488
f_17575,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.021505,0.032848,0.020483,0.027135,0.040643,0.049470,0.003340,0.010589,0.022279,0.016488
f_17576,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.033270,0.032987,0.020483,0.027279,0.042209,0.049470,0.003368,0.010643,0.022279,0.016488

In [ ]:
x = torch.tensor(dados.values, dtype=torch.float)

In [ ]:
edge_index = torch.tensor(df_edge.values, dtype=torch.long)

In [ ]:
y = target.to_numpy()

In [ ]:
y = torch.tensor(target.values, dtype=torch.long)

## Criar Data

In [ ]:
dados

,0,1,2,3,5,6,7,8,9,10,...,301,302,303,304,305,306,307,308,309,310
id,0.000000,0.000001,2.413240e-07,0.000003,0.000006,0.000006,0.000008,0.000002,0.000010,0.000011,...,0.000190,0.000209,0.000154,0.000220,0.000251,0.000149,0.000044,0.000166,0.000167,0.000096
f_0,0.927910,0.911870,9.460782e-01,0.965740,0.974980,0.929866,0.938655,0.807083,0.957579,0.944346,...,0.032353,0.056833,0.008284,0.037214,0.071492,0.049316,0.014994,0.035948,0.023485,0.008723
f_1,0.930097,0.875378,4.132319e-01,0.964335,0.997738,0.936037,0.972262,0.668833,0.946787,0.966271,...,0.032321,0.056757,0.008274,0.037192,0.071063,0.049316,0.014923,0.032307,0.023447,0.008710
f_2,0.881652,0.924808,4.642797e-01,0.961239,0.788942,0.951700,0.953118,0.723805,0.899861,0.890265,...,0.032448,0.056965,0.008325,0.037265,0.074031,0.049316,0.015065,0.068612,0.023555,0.008803
f_3,0.390024,0.898878,8.788779e-01,0.953008,0.992075,0.981032,1.000000,0.344662,0.959716,0.961735,...,0.032366,0.056847,0.008269,0.037221,0.071138,0.054346,0.014937,0.032318,0.024003,0.009197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_17572,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.023340,0.032918,0.020483,0.027135,0.040561,0.049470,0.003354,0.010589,0.022279,0.016488
f_17573,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.023466,0.032918,0.020483,0.027279,0.040725,0.049470,0.003525,0.010697,0.022279,0.016488
f_17574,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.022707,0.032931,0.020483,0.027200,0.041107,0.049470,0.003357,0.010605,0.022279,0.016488
f_17575,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.021505,0.032848,0.020483,0.027135,0.040643,0.049470,0.003340,0.010589,0.022279,0.016488
f_17576,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.033270,0.032987,0.020483,0.027279,0.042209,0.049470,0.003368,0.010643,0.022279,0.016488

### Validação Cruzada

#### K-fold

In [ ]:
def kfold(k,random_indices):  
  print(random_indices)
  intervalo = len(random_indices)/k
  print('Intervalo = ',intervalo)
  folds = []
  for fold in range(k):
    if((fold+1)==k):
      dados_fold = random_indices[int(fold*intervalo):]
      folds.append(dados_fold)    
    else:
      dados_fold = random_indices[int(fold*intervalo):(int((fold+1)*intervalo))]
      folds.append(dados_fold)    
  return folds

In [ ]:
random_indices = np.random.permutation(range(dados.shape[0]))

In [ ]:
folds = kfold(10,random_indices)

[ 5792 11355 17487 ... 17571  5010 17151]
Intervalo =  1757.8

#### CrossVal

In [ ]:
from numpy.core.multiarray import concatenate
soma_acc=0
soma_prec=0
soma_rec=0
soma_f1=0
for rodada in range(len(folds)):
  teste = rodada
  val = 0  
  if(rodada!=9):
    val = teste + 1  
  test_data = folds[teste]
  val_data = folds[val]
  train_data = []
  for treino in range(len(folds)):
    if(treino!=teste and treino!=val):
      train_data = train_data + (folds[treino].tolist())
  train_mask = []
  test_mask = []
  val_mask = []

  for cont in range(len(random_indices)):
    if(cont in train_data):
      train_mask.append(True)
      test_mask.append(False)
      val_mask.append(False)
    else:
      train_mask.append(False)
      test_mask.append(True)
      val_mask.append(True)
  train_mask = torch.tensor(train_mask, dtype=torch.bool)
  test_mask = torch.tensor(test_mask, dtype=torch.bool)
  val_mask = torch.tensor(val_mask, dtype=torch.bool)
  data = Data(x=x, edge_index=edge_index, y=y)
  data.train_mask = train_mask
  data.test_mask = test_mask
  data.val_mask = val_mask
  

    # Create GAT model
  gat = GAT(dados.shape[1], 8, 2)
  print(gat)

# Train
  train(gat, data)

# Test
  acc,prec,rec,f1 = test(gat, data)
  print(f'\nGAT test precision: {prec*100:.2f}%\n')
  print(f'\nGAT test recall: {rec*100:.2f}%\n')
  print(f'\nGAT test f1 score: {f1*100:.2f}%\n')
  print(f'\nGAT test accuracy: {acc*100:.2f}%\n')
  soma_acc = soma_acc + acc
  soma_prec = soma_prec + prec
  soma_rec = soma_rec + rec
  soma_f1 = soma_f1 + f1

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.732 | Train Acc:  51.72% | Val Loss: 0.74 | Val Acc: 50.07%
Epoch  10 | Train Loss: 0.674 | Train Acc:  53.07% | Val Loss: 0.67 | Val Acc: 54.37%
Epoch  20 | Train Loss: 0.644 | Train Acc:  63.27% | Val Loss: 0.65 | Val Acc: 63.67%
Epoch  30 | Train Loss: 0.619 | Train Acc:  66.60% | Val Loss: 0.63 | Val Acc: 65.86%
Epoch  40 | Train Loss: 0.601 | Train Acc:  66.78% | Val Loss: 0.61 | Val Acc: 65.55%
Epoch  50 | Train Loss: 0.586 | Train Acc:  68.08% | Val Loss: 0.60 | Val Acc: 66.77%
Epoch  60 | Train Loss: 0.570 | Train Acc:  70.17% | Val Loss: 0.58 | Val Acc: 68.48%
Epoch  70 | Train Loss: 0.558 | Train Acc:  71.59% | Val Loss: 0.57 | Val Acc: 70.75%
Epoch  80 | Train Loss: 0.549 | Train Acc:  72.42% | Val Loss: 0.56 | Val Acc: 72.12%
Epoch  90 | Train Loss: 0.539 | Train Acc:  73.26% | Val Loss: 0.55 | Val Acc: 71.95%
Epoch 100 | Train Loss: 0.532 | Train Acc:  73.73% | Val Loss: 0.54 | Val Acc: 73.26%
Epoch 110 | Train Loss: 0.526 | Train Acc:  74.46% | Val Loss: 0.53 | Val Acc: 73.85%
Epoch 120 | Train Loss: 0.521 | Train Acc:  74.49% | Val Loss: 0.53 | Val Acc: 73.85%
Epoch 130 | Train Loss: 0.515 | Train Acc:  74.89% | Val Loss: 0.52 | Val Acc: 74.11%
Epoch 140 | Train Loss: 0.516 | Train Acc:  74.64% | Val Loss: 0.53 | Val Acc: 73.23%
Epoch 150 | Train Loss: 0.505 | Train Acc:  75.49% | Val Loss: 0.51 | Val Acc: 74.82%
Epoch 160 | Train Loss: 0.508 | Train Acc:  76.24% | Val Loss: 0.51 | Val Acc: 75.59%
Epoch 170 | Train Loss: 0.503 | Train Acc:  75.13% | Val Loss: 0.52 | Val Acc: 74.14%
Epoch 180 | Train Loss: 0.495 | Train Acc:  76.35% | Val Loss: 0.51 | Val Acc: 75.79%
Epoch 190 | Train Loss: 0.493 | Train Acc:  76.19% | Val Loss: 0.50 | Val Acc: 75.39%
Epoch 200 | Train Loss: 0.492 | Train Acc:  76.81% | Val Loss: 0.50 | Val Acc: 76.24%

GAT test precision: 82.30%


GAT test recall: 67.47%


GAT test f1 score: 74.15%


GAT test accuracy: 76.02%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.747 | Train Acc:  49.64% | Val Loss: 0.75 | Val Acc: 48.92%
Epoch  10 | Train Loss: 0.682 | Train Acc:  53.73% | Val Loss: 0.68 | Val Acc: 53.16%
Epoch  20 | Train Loss: 0.653 | Train Acc:  61.71% | Val Loss: 0.65 | Val Acc: 61.80%
Epoch  30 | Train Loss: 0.627 | Train Acc:  65.39% | Val Loss: 0.63 | Val Acc: 64.08%
Epoch  40 | Train Loss: 0.608 | Train Acc:  66.06% | Val Loss: 0.61 | Val Acc: 64.70%
Epoch  50 | Train Loss: 0.592 | Train Acc:  67.07% | Val Loss: 0.60 | Val Acc: 65.64%
Epoch  60 | Train Loss: 0.575 | Train Acc:  69.04% | Val Loss: 0.58 | Val Acc: 67.24%
Epoch  70 | Train Loss: 0.561 | Train Acc:  71.36% | Val Loss: 0.57 | Val Acc: 69.91%
Epoch  80 | Train Loss: 0.549 | Train Acc:  72.76% | Val Loss: 0.56 | Val Acc: 71.44%
Epoch  90 | Train Loss: 0.540 | Train Acc:  73.42% | Val Loss: 0.55 | Val Acc: 72.47%
Epoch 100 | Train Loss: 0.537 | Train Acc:  73.45% | Val Loss: 0.55 | Val Acc: 72.44%
Epoch 110 | Train Loss: 0.528 | Train Acc:  74.04% | Val Loss: 0.54 | Val Acc: 73.12%
Epoch 120 | Train Loss: 0.521 | Train Acc:  74.65% | Val Loss: 0.53 | Val Acc: 73.98%
Epoch 130 | Train Loss: 0.516 | Train Acc:  75.09% | Val Loss: 0.52 | Val Acc: 74.00%
Epoch 140 | Train Loss: 0.529 | Train Acc:  74.16% | Val Loss: 0.54 | Val Acc: 73.58%
Epoch 150 | Train Loss: 0.509 | Train Acc:  75.57% | Val Loss: 0.52 | Val Acc: 74.35%
Epoch 160 | Train Loss: 0.508 | Train Acc:  75.33% | Val Loss: 0.52 | Val Acc: 73.98%
Epoch 170 | Train Loss: 0.503 | Train Acc:  75.67% | Val Loss: 0.51 | Val Acc: 74.94%
Epoch 180 | Train Loss: 0.500 | Train Acc:  75.99% | Val Loss: 0.51 | Val Acc: 75.03%
Epoch 190 | Train Loss: 0.496 | Train Acc:  76.16% | Val Loss: 0.50 | Val Acc: 74.89%
Epoch 200 | Train Loss: 0.498 | Train Acc:  77.10% | Val Loss: 0.50 | Val Acc: 76.31%

GAT test precision: 85.77%


GAT test recall: 57.86%


GAT test f1 score: 69.11%


GAT test accuracy: 74.09%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.724 | Train Acc:  49.00% | Val Loss: 0.73 | Val Acc: 47.24%
Epoch  10 | Train Loss: 0.667 | Train Acc:  54.93% | Val Loss: 0.66 | Val Acc: 55.06%
Epoch  20 | Train Loss: 0.630 | Train Acc:  65.24% | Val Loss: 0.63 | Val Acc: 64.08%
Epoch  30 | Train Loss: 0.608 | Train Acc:  66.13% | Val Loss: 0.61 | Val Acc: 64.85%
Epoch  40 | Train Loss: 0.590 | Train Acc:  67.70% | Val Loss: 0.59 | Val Acc: 67.12%
Epoch  50 | Train Loss: 0.571 | Train Acc:  69.98% | Val Loss: 0.57 | Val Acc: 69.88%
Epoch  60 | Train Loss: 0.557 | Train Acc:  71.79% | Val Loss: 0.56 | Val Acc: 71.76%
Epoch  70 | Train Loss: 0.546 | Train Acc:  72.65% | Val Loss: 0.54 | Val Acc: 73.38%
Epoch  80 | Train Loss: 0.541 | Train Acc:  72.77% | Val Loss: 0.54 | Val Acc: 73.15%
Epoch  90 | Train Loss: 0.532 | Train Acc:  73.50% | Val Loss: 0.53 | Val Acc: 73.32%
Epoch 100 | Train Loss: 0.525 | Train Acc:  74.17% | Val Loss: 0.52 | Val Acc: 74.29%
Epoch 110 | Train Loss: 0.525 | Train Acc:  74.40% | Val Loss: 0.52 | Val Acc: 74.18%
Epoch 120 | Train Loss: 0.519 | Train Acc:  74.95% | Val Loss: 0.52 | Val Acc: 74.63%
Epoch 130 | Train Loss: 0.511 | Train Acc:  75.15% | Val Loss: 0.51 | Val Acc: 74.97%
Epoch 140 | Train Loss: 0.508 | Train Acc:  75.61% | Val Loss: 0.51 | Val Acc: 75.28%
Epoch 150 | Train Loss: 0.506 | Train Acc:  75.94% | Val Loss: 0.51 | Val Acc: 75.80%
Epoch 160 | Train Loss: 0.508 | Train Acc:  74.87% | Val Loss: 0.50 | Val Acc: 74.60%
Epoch 170 | Train Loss: 0.499 | Train Acc:  76.37% | Val Loss: 0.50 | Val Acc: 76.34%
Epoch 180 | Train Loss: 0.495 | Train Acc:  76.63% | Val Loss: 0.50 | Val Acc: 76.28%
Epoch 190 | Train Loss: 0.494 | Train Acc:  76.17% | Val Loss: 0.49 | Val Acc: 75.60%
Epoch 200 | Train Loss: 0.488 | Train Acc:  76.31% | Val Loss: 0.49 | Val Acc: 75.74%

GAT test precision: 80.48%


GAT test recall: 70.87%


GAT test f1 score: 75.37%


GAT test accuracy: 76.93%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.751 | Train Acc:  50.46% | Val Loss: 0.75 | Val Acc: 50.57%
Epoch  10 | Train Loss: 0.685 | Train Acc:  54.44% | Val Loss: 0.69 | Val Acc: 53.78%
Epoch  20 | Train Loss: 0.650 | Train Acc:  60.75% | Val Loss: 0.65 | Val Acc: 60.81%
Epoch  30 | Train Loss: 0.627 | Train Acc:  64.76% | Val Loss: 0.63 | Val Acc: 64.14%
Epoch  40 | Train Loss: 0.609 | Train Acc:  65.93% | Val Loss: 0.61 | Val Acc: 66.72%
Epoch  50 | Train Loss: 0.594 | Train Acc:  67.10% | Val Loss: 0.59 | Val Acc: 66.75%
Epoch  60 | Train Loss: 0.578 | Train Acc:  68.76% | Val Loss: 0.58 | Val Acc: 68.57%
Epoch  70 | Train Loss: 0.566 | Train Acc:  70.91% | Val Loss: 0.57 | Val Acc: 70.85%
Epoch  80 | Train Loss: 0.554 | Train Acc:  72.27% | Val Loss: 0.55 | Val Acc: 72.27%
Epoch  90 | Train Loss: 0.544 | Train Acc:  73.01% | Val Loss: 0.54 | Val Acc: 73.09%
Epoch 100 | Train Loss: 0.537 | Train Acc:  73.27% | Val Loss: 0.53 | Val Acc: 73.46%
Epoch 110 | Train Loss: 0.531 | Train Acc:  73.89% | Val Loss: 0.53 | Val Acc: 74.12%
Epoch 120 | Train Loss: 0.525 | Train Acc:  74.42% | Val Loss: 0.52 | Val Acc: 74.60%
Epoch 130 | Train Loss: 0.521 | Train Acc:  74.81% | Val Loss: 0.52 | Val Acc: 74.72%
Epoch 140 | Train Loss: 0.514 | Train Acc:  75.12% | Val Loss: 0.51 | Val Acc: 75.06%
Epoch 150 | Train Loss: 0.525 | Train Acc:  74.88% | Val Loss: 0.52 | Val Acc: 75.09%
Epoch 160 | Train Loss: 0.510 | Train Acc:  75.89% | Val Loss: 0.51 | Val Acc: 76.56%
Epoch 170 | Train Loss: 0.505 | Train Acc:  75.26% | Val Loss: 0.51 | Val Acc: 75.00%
Epoch 180 | Train Loss: 0.499 | Train Acc:  76.33% | Val Loss: 0.50 | Val Acc: 76.08%
Epoch 190 | Train Loss: 0.502 | Train Acc:  75.22% | Val Loss: 0.50 | Val Acc: 75.51%
Epoch 200 | Train Loss: 0.496 | Train Acc:  75.60% | Val Loss: 0.50 | Val Acc: 75.85%

GAT test precision: 75.91%


GAT test recall: 80.41%


GAT test f1 score: 78.10%


GAT test accuracy: 77.08%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.738 | Train Acc:  50.71% | Val Loss: 0.74 | Val Acc: 49.84%
Epoch  10 | Train Loss: 0.673 | Train Acc:  56.99% | Val Loss: 0.67 | Val Acc: 57.61%
Epoch  20 | Train Loss: 0.652 | Train Acc:  61.40% | Val Loss: 0.64 | Val Acc: 62.90%
Epoch  30 | Train Loss: 0.631 | Train Acc:  64.37% | Val Loss: 0.62 | Val Acc: 66.71%
Epoch  40 | Train Loss: 0.613 | Train Acc:  65.58% | Val Loss: 0.60 | Val Acc: 67.37%
Epoch  50 | Train Loss: 0.598 | Train Acc:  66.53% | Val Loss: 0.59 | Val Acc: 68.48%
Epoch  60 | Train Loss: 0.585 | Train Acc:  68.33% | Val Loss: 0.57 | Val Acc: 70.36%
Epoch  70 | Train Loss: 0.572 | Train Acc:  70.03% | Val Loss: 0.56 | Val Acc: 71.35%
Epoch  80 | Train Loss: 0.560 | Train Acc:  71.87% | Val Loss: 0.55 | Val Acc: 73.12%
Epoch  90 | Train Loss: 0.550 | Train Acc:  72.35% | Val Loss: 0.54 | Val Acc: 73.43%
Epoch 100 | Train Loss: 0.543 | Train Acc:  72.93% | Val Loss: 0.53 | Val Acc: 74.31%
Epoch 110 | Train Loss: 0.535 | Train Acc:  73.58% | Val Loss: 0.53 | Val Acc: 74.59%
Epoch 120 | Train Loss: 0.531 | Train Acc:  73.56% | Val Loss: 0.52 | Val Acc: 74.88%
Epoch 130 | Train Loss: 0.526 | Train Acc:  73.92% | Val Loss: 0.52 | Val Acc: 74.77%
Epoch 140 | Train Loss: 0.520 | Train Acc:  74.64% | Val Loss: 0.51 | Val Acc: 75.65%
Epoch 150 | Train Loss: 0.521 | Train Acc:  73.83% | Val Loss: 0.51 | Val Acc: 75.16%
Epoch 160 | Train Loss: 0.514 | Train Acc:  74.52% | Val Loss: 0.51 | Val Acc: 75.79%
Epoch 170 | Train Loss: 0.508 | Train Acc:  74.95% | Val Loss: 0.50 | Val Acc: 76.19%
Epoch 180 | Train Loss: 0.502 | Train Acc:  75.78% | Val Loss: 0.50 | Val Acc: 76.42%
Epoch 190 | Train Loss: 0.500 | Train Acc:  75.99% | Val Loss: 0.50 | Val Acc: 76.56%
Epoch 200 | Train Loss: 0.498 | Train Acc:  75.96% | Val Loss: 0.49 | Val Acc: 77.38%

GAT test precision: 78.11%


GAT test recall: 75.33%


GAT test f1 score: 76.69%


GAT test accuracy: 77.30%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.716 | Train Acc:  51.10% | Val Loss: 0.72 | Val Acc: 50.01%
Epoch  10 | Train Loss: 0.664 | Train Acc:  56.97% | Val Loss: 0.66 | Val Acc: 56.16%
Epoch  20 | Train Loss: 0.639 | Train Acc:  63.58% | Val Loss: 0.64 | Val Acc: 62.93%
Epoch  30 | Train Loss: 0.616 | Train Acc:  65.37% | Val Loss: 0.61 | Val Acc: 65.38%
Epoch  40 | Train Loss: 0.599 | Train Acc:  66.44% | Val Loss: 0.59 | Val Acc: 67.31%
Epoch  50 | Train Loss: 0.584 | Train Acc:  68.26% | Val Loss: 0.58 | Val Acc: 68.42%
Epoch  60 | Train Loss: 0.569 | Train Acc:  70.15% | Val Loss: 0.56 | Val Acc: 71.15%
Epoch  70 | Train Loss: 0.556 | Train Acc:  71.96% | Val Loss: 0.56 | Val Acc: 71.75%
Epoch  80 | Train Loss: 0.545 | Train Acc:  72.87% | Val Loss: 0.55 | Val Acc: 72.63%
Epoch  90 | Train Loss: 0.537 | Train Acc:  73.48% | Val Loss: 0.54 | Val Acc: 73.66%
Epoch 100 | Train Loss: 0.536 | Train Acc:  73.65% | Val Loss: 0.54 | Val Acc: 73.06%
Epoch 110 | Train Loss: 0.523 | Train Acc:  74.20% | Val Loss: 0.53 | Val Acc: 74.28%
Epoch 120 | Train Loss: 0.520 | Train Acc:  74.39% | Val Loss: 0.52 | Val Acc: 74.11%
Epoch 130 | Train Loss: 0.527 | Train Acc:  74.78% | Val Loss: 0.53 | Val Acc: 74.51%
Epoch 140 | Train Loss: 0.523 | Train Acc:  74.99% | Val Loss: 0.53 | Val Acc: 74.79%
Epoch 150 | Train Loss: 0.513 | Train Acc:  75.64% | Val Loss: 0.51 | Val Acc: 75.48%
Epoch 160 | Train Loss: 0.506 | Train Acc:  75.71% | Val Loss: 0.51 | Val Acc: 75.16%
Epoch 170 | Train Loss: 0.505 | Train Acc:  75.67% | Val Loss: 0.51 | Val Acc: 75.45%
Epoch 180 | Train Loss: 0.499 | Train Acc:  75.99% | Val Loss: 0.51 | Val Acc: 75.65%
Epoch 190 | Train Loss: 0.496 | Train Acc:  76.06% | Val Loss: 0.50 | Val Acc: 76.16%
Epoch 200 | Train Loss: 0.493 | Train Acc:  76.58% | Val Loss: 0.50 | Val Acc: 76.13%

GAT test precision: 81.79%


GAT test recall: 66.82%


GAT test f1 score: 73.55%


GAT test accuracy: 76.39%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.722 | Train Acc:  50.82% | Val Loss: 0.72 | Val Acc: 50.57%
Epoch  10 | Train Loss: 0.682 | Train Acc:  54.88% | Val Loss: 0.69 | Val Acc: 54.01%
Epoch  20 | Train Loss: 0.654 | Train Acc:  59.47% | Val Loss: 0.66 | Val Acc: 58.13%
Epoch  30 | Train Loss: 0.631 | Train Acc:  64.08% | Val Loss: 0.64 | Val Acc: 62.68%
Epoch  40 | Train Loss: 0.612 | Train Acc:  66.16% | Val Loss: 0.62 | Val Acc: 65.39%
Epoch  50 | Train Loss: 0.595 | Train Acc:  67.05% | Val Loss: 0.61 | Val Acc: 65.36%
Epoch  60 | Train Loss: 0.580 | Train Acc:  68.55% | Val Loss: 0.59 | Val Acc: 67.43%
Epoch  70 | Train Loss: 0.567 | Train Acc:  70.40% | Val Loss: 0.58 | Val Acc: 69.37%
Epoch  80 | Train Loss: 0.556 | Train Acc:  72.01% | Val Loss: 0.57 | Val Acc: 70.82%
Epoch  90 | Train Loss: 0.546 | Train Acc:  72.81% | Val Loss: 0.56 | Val Acc: 72.01%
Epoch 100 | Train Loss: 0.537 | Train Acc:  73.48% | Val Loss: 0.55 | Val Acc: 72.38%
Epoch 110 | Train Loss: 0.531 | Train Acc:  73.81% | Val Loss: 0.54 | Val Acc: 73.38%
Epoch 120 | Train Loss: 0.525 | Train Acc:  74.33% | Val Loss: 0.54 | Val Acc: 73.29%
Epoch 130 | Train Loss: 0.521 | Train Acc:  74.23% | Val Loss: 0.53 | Val Acc: 73.12%
Epoch 140 | Train Loss: 0.516 | Train Acc:  75.26% | Val Loss: 0.53 | Val Acc: 74.09%
Epoch 150 | Train Loss: 0.511 | Train Acc:  75.41% | Val Loss: 0.52 | Val Acc: 74.43%
Epoch 160 | Train Loss: 0.505 | Train Acc:  75.40% | Val Loss: 0.52 | Val Acc: 74.60%
Epoch 170 | Train Loss: 0.509 | Train Acc:  75.94% | Val Loss: 0.52 | Val Acc: 75.14%
Epoch 180 | Train Loss: 0.499 | Train Acc:  76.12% | Val Loss: 0.51 | Val Acc: 75.17%
Epoch 190 | Train Loss: 0.498 | Train Acc:  75.87% | Val Loss: 0.51 | Val Acc: 74.94%
Epoch 200 | Train Loss: 0.496 | Train Acc:  75.66% | Val Loss: 0.51 | Val Acc: 75.14%

GAT test precision: 81.00%


GAT test recall: 68.30%


GAT test f1 score: 74.11%


GAT test accuracy: 76.11%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.722 | Train Acc:  48.44% | Val Loss: 0.72 | Val Acc: 49.03%
Epoch  10 | Train Loss: 0.671 | Train Acc:  57.48% | Val Loss: 0.67 | Val Acc: 57.79%
Epoch  20 | Train Loss: 0.647 | Train Acc:  64.95% | Val Loss: 0.65 | Val Acc: 65.36%
Epoch  30 | Train Loss: 0.626 | Train Acc:  65.32% | Val Loss: 0.62 | Val Acc: 65.64%
Epoch  40 | Train Loss: 0.607 | Train Acc:  66.05% | Val Loss: 0.60 | Val Acc: 66.72%
Epoch  50 | Train Loss: 0.592 | Train Acc:  67.02% | Val Loss: 0.59 | Val Acc: 67.86%
Epoch  60 | Train Loss: 0.576 | Train Acc:  69.19% | Val Loss: 0.58 | Val Acc: 69.62%
Epoch  70 | Train Loss: 0.563 | Train Acc:  71.09% | Val Loss: 0.56 | Val Acc: 71.90%
Epoch  80 | Train Loss: 0.551 | Train Acc:  72.39% | Val Loss: 0.55 | Val Acc: 72.61%
Epoch  90 | Train Loss: 0.543 | Train Acc:  72.98% | Val Loss: 0.54 | Val Acc: 73.12%
Epoch 100 | Train Loss: 0.535 | Train Acc:  73.42% | Val Loss: 0.54 | Val Acc: 73.35%
Epoch 110 | Train Loss: 0.527 | Train Acc:  73.60% | Val Loss: 0.53 | Val Acc: 74.32%
Epoch 120 | Train Loss: 0.522 | Train Acc:  73.92% | Val Loss: 0.52 | Val Acc: 74.49%
Epoch 130 | Train Loss: 0.518 | Train Acc:  74.08% | Val Loss: 0.52 | Val Acc: 74.94%
Epoch 140 | Train Loss: 0.514 | Train Acc:  75.37% | Val Loss: 0.52 | Val Acc: 75.31%
Epoch 150 | Train Loss: 0.513 | Train Acc:  74.85% | Val Loss: 0.51 | Val Acc: 75.48%
Epoch 160 | Train Loss: 0.509 | Train Acc:  74.85% | Val Loss: 0.51 | Val Acc: 75.26%
Epoch 170 | Train Loss: 0.503 | Train Acc:  75.07% | Val Loss: 0.50 | Val Acc: 75.51%
Epoch 180 | Train Loss: 0.503 | Train Acc:  76.27% | Val Loss: 0.50 | Val Acc: 76.56%
Epoch 190 | Train Loss: 0.502 | Train Acc:  75.09% | Val Loss: 0.50 | Val Acc: 75.68%
Epoch 200 | Train Loss: 0.498 | Train Acc:  77.09% | Val Loss: 0.50 | Val Acc: 77.39%

GAT test precision: 86.20%


GAT test recall: 62.09%


GAT test f1 score: 72.18%


GAT test accuracy: 75.91%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.717 | Train Acc:  49.08% | Val Loss: 0.71 | Val Acc: 50.11%
Epoch  10 | Train Loss: 0.666 | Train Acc:  58.75% | Val Loss: 0.66 | Val Acc: 59.56%
Epoch  20 | Train Loss: 0.644 | Train Acc:  64.46% | Val Loss: 0.64 | Val Acc: 64.48%
Epoch  30 | Train Loss: 0.625 | Train Acc:  64.98% | Val Loss: 0.62 | Val Acc: 65.07%
Epoch  40 | Train Loss: 0.605 | Train Acc:  65.73% | Val Loss: 0.60 | Val Acc: 66.75%
Epoch  50 | Train Loss: 0.590 | Train Acc:  67.22% | Val Loss: 0.59 | Val Acc: 67.83%
Epoch  60 | Train Loss: 0.575 | Train Acc:  69.47% | Val Loss: 0.57 | Val Acc: 69.82%
Epoch  70 | Train Loss: 0.560 | Train Acc:  71.48% | Val Loss: 0.56 | Val Acc: 71.50%
Epoch  80 | Train Loss: 0.550 | Train Acc:  72.57% | Val Loss: 0.55 | Val Acc: 72.44%
Epoch  90 | Train Loss: 0.540 | Train Acc:  72.93% | Val Loss: 0.54 | Val Acc: 72.55%
Epoch 100 | Train Loss: 0.534 | Train Acc:  73.23% | Val Loss: 0.54 | Val Acc: 73.04%
Epoch 110 | Train Loss: 0.528 | Train Acc:  73.78% | Val Loss: 0.53 | Val Acc: 73.78%
Epoch 120 | Train Loss: 0.522 | Train Acc:  74.11% | Val Loss: 0.53 | Val Acc: 73.98%
Epoch 130 | Train Loss: 0.522 | Train Acc:  74.70% | Val Loss: 0.52 | Val Acc: 75.06%
Epoch 140 | Train Loss: 0.514 | Train Acc:  74.88% | Val Loss: 0.52 | Val Acc: 75.06%
Epoch 150 | Train Loss: 0.516 | Train Acc:  75.70% | Val Loss: 0.51 | Val Acc: 75.34%
Epoch 160 | Train Loss: 0.510 | Train Acc:  75.70% | Val Loss: 0.51 | Val Acc: 75.60%
Epoch 170 | Train Loss: 0.505 | Train Acc:  76.27% | Val Loss: 0.51 | Val Acc: 75.97%
Epoch 180 | Train Loss: 0.499 | Train Acc:  76.39% | Val Loss: 0.50 | Val Acc: 76.31%
Epoch 190 | Train Loss: 0.497 | Train Acc:  76.50% | Val Loss: 0.50 | Val Acc: 76.42%
Epoch 200 | Train Loss: 0.494 | Train Acc:  76.59% | Val Loss: 0.49 | Val Acc: 76.59%

GAT test precision: 84.18%


GAT test recall: 64.93%


GAT test f1 score: 73.31%


GAT test accuracy: 76.31%

GAT(
  (gat1): GATv2Conv(227, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.732 | Train Acc:  50.53% | Val Loss: 0.73 | Val Acc: 50.95%
Epoch  10 | Train Loss: 0.689 | Train Acc:  52.76% | Val Loss: 0.69 | Val Acc: 51.83%
Epoch  20 | Train Loss: 0.655 | Train Acc:  59.48% | Val Loss: 0.66 | Val Acc: 59.37%
Epoch  30 | Train Loss: 0.631 | Train Acc:  65.81% | Val Loss: 0.63 | Val Acc: 65.29%
Epoch  40 | Train Loss: 0.611 | Train Acc:  65.33% | Val Loss: 0.62 | Val Acc: 66.00%
Epoch  50 | Train Loss: 0.598 | Train Acc:  66.12% | Val Loss: 0.60 | Val Acc: 66.54%
Epoch  60 | Train Loss: 0.584 | Train Acc:  67.95% | Val Loss: 0.59 | Val Acc: 67.71%
Epoch  70 | Train Loss: 0.571 | Train Acc:  70.03% | Val Loss: 0.58 | Val Acc: 69.42%
Epoch  80 | Train Loss: 0.562 | Train Acc:  71.49% | Val Loss: 0.57 | Val Acc: 70.41%
Epoch  90 | Train Loss: 0.552 | Train Acc:  72.32% | Val Loss: 0.56 | Val Acc: 70.84%
Epoch 100 | Train Loss: 0.544 | Train Acc:  73.08% | Val Loss: 0.55 | Val Acc: 72.38%
Epoch 110 | Train Loss: 0.538 | Train Acc:  72.99% | Val Loss: 0.55 | Val Acc: 72.46%
Epoch 120 | Train Loss: 0.532 | Train Acc:  73.53% | Val Loss: 0.53 | Val Acc: 73.31%
Epoch 130 | Train Loss: 0.527 | Train Acc:  73.97% | Val Loss: 0.53 | Val Acc: 73.91%
Epoch 140 | Train Loss: 0.520 | Train Acc:  74.22% | Val Loss: 0.53 | Val Acc: 73.83%
Epoch 150 | Train Loss: 0.516 | Train Acc:  74.97% | Val Loss: 0.52 | Val Acc: 74.45%
Epoch 160 | Train Loss: 0.515 | Train Acc:  74.35% | Val Loss: 0.52 | Val Acc: 73.80%
Epoch 170 | Train Loss: 0.517 | Train Acc:  74.02% | Val Loss: 0.52 | Val Acc: 73.88%
Epoch 180 | Train Loss: 0.507 | Train Acc:  75.72% | Val Loss: 0.51 | Val Acc: 75.87%
Epoch 190 | Train Loss: 0.502 | Train Acc:  76.09% | Val Loss: 0.51 | Val Acc: 75.59%
Epoch 200 | Train Loss: 0.498 | Train Acc:  76.08% | Val Loss: 0.50 | Val Acc: 75.82%

GAT test precision: 81.47%


GAT test recall: 68.07%


GAT test f1 score: 74.17%


GAT test accuracy: 76.22%

In [ ]:
print(f'\nGAT test precision: {(soma_prec/10)*100:.2f}%\n')
print(f'\nGAT test recall: {(soma_rec/10)*100:.2f}%\n')
print(f'\nGAT test f1 score: {(soma_f1/10)*100:.2f}%\n')
print(f'\nGAT test accuracy: {(soma_acc/10)*100:.2f}%\n')

GAT test precision: 81.72%


GAT test recall: 68.21%


GAT test f1 score: 74.07%


GAT test accuracy: 76.23%

# Experimento Classificação Dataset Sem Causalidade

## Dataset RNP

### Carregar Vértices

In [ ]:
from torch_geometric.data import Data
from torch_geometric.loader import DataLoader

In [ ]:
path_dataset_metricas_rnp_transposto = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto.csv'

path_dataset_metricas_rnp_transposto_final_semana = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_final_semana.csv'
path_dataset_metricas_rnp_transposto_dia_semana = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_dia_semana.csv'
path_dataset_rnp_3 = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_testes_2_sem_causalidade.csv'

In [ ]:
dados = pd.read_csv(path_dataset_metricas_rnp_transposto, delimiter=",")
dados = dados.T
dados

,0,1,2,3,4,5,6,7,8,9,...,302,303,304,305,306,307,308,309,310,311
id,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,302.0,303.000000,304.0,305.0,306.000000,307.0,308.0,309.00000,310.000000,311.0
f_0,845572.0,820199.0,7840729.0,866019.0,0.0,858103.0,884162.0,839173.0,4102432.0,869847.0,...,82010.0,16320.000000,51430.0,86720.0,101000.000000,105500.0,66540.0,43470.00000,28140.000000,112000.0
f_1,847565.0,787375.0,3424706.0,864759.0,0.0,878133.0,890030.0,869218.0,3399700.0,860043.0,...,81900.0,16300.000000,51400.0,86200.0,101000.000000,105000.0,59800.0,43400.00000,28100.000000,112000.0
f_2,803419.0,831836.0,3847770.0,861982.0,0.0,694367.0,904923.0,852103.0,3679127.0,817417.0,...,82200.0,16400.000000,51500.0,89800.0,101000.000000,106000.0,127000.0,43600.00000,28400.000000,112000.0
f_3,355415.0,808513.0,7283799.0,854601.0,0.0,873149.0,932813.0,894016.0,1751930.0,871788.0,...,82030.0,16290.000000,51440.0,86290.0,111300.000000,105100.0,59820.0,44430.00000,29670.000000,112000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_24316,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47500.0,40351.896512,37500.0,49200.0,101313.714174,23600.0,19600.0,41237.69003,53190.357948,8830.0
f_24317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47500.0,40351.896512,37700.0,49400.0,101313.714174,24800.0,19800.0,41237.69003,53190.357948,9080.0
f_24318,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47520.0,40351.896512,37590.0,49863.0,101313.714174,23620.0,19630.0,41237.69003,53190.357948,52830.0
f_24319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47400.0,40351.896512,37500.0,49300.0,101313.714174,23500.0,19600.0,41237.69003,53190.357948,46200.0
f_24320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47600.0,40351.896512,37700.0,51200.0,101313.714174,23700.0,19700.0,41237.69003,53190.357948,60800.0

In [ ]:
df_max_scaled = dados.copy() 
for column in df_max_scaled.columns: 
    df_max_scaled[column] = df_max_scaled[column]  / df_max_scaled[column].max() 
      
display(df_max_scaled)

,0,1,2,3,4,5,6,7,8,9,...,302,303,304,305,306,307,308,309,310,311
id,0.000000,0.000001,2.413240e-07,0.000003,1.0,0.000006,0.000006,0.000008,0.000002,0.000010,...,0.000209,0.000154,0.000220,0.000251,0.000149,0.000044,0.000166,0.000145,0.000096,0.000203
f_0,0.927910,0.911870,9.460782e-01,0.965740,0.0,0.974980,0.929866,0.938655,0.807083,0.957579,...,0.056833,0.008284,0.037214,0.071492,0.049316,0.014994,0.035948,0.020456,0.008723,0.072964
f_1,0.930097,0.875378,4.132319e-01,0.964335,0.0,0.997738,0.936037,0.972262,0.668833,0.946787,...,0.056757,0.008274,0.037192,0.071063,0.049316,0.014923,0.032307,0.020424,0.008710,0.072964
f_2,0.881652,0.924808,4.642797e-01,0.961239,0.0,0.788942,0.951700,0.953118,0.723805,0.899861,...,0.056965,0.008325,0.037265,0.074031,0.049316,0.015065,0.068612,0.020518,0.008803,0.072964
f_3,0.390024,0.898878,8.788779e-01,0.953008,0.0,0.992075,0.981032,1.000000,0.344662,0.959716,...,0.056847,0.008269,0.037221,0.071138,0.054346,0.014937,0.032318,0.020908,0.009197,0.072964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_24316,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032918,0.020483,0.027135,0.040561,0.049470,0.003354,0.010589,0.019406,0.016488,0.005752
f_24317,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032918,0.020483,0.027279,0.040725,0.049470,0.003525,0.010697,0.019406,0.016488,0.005915
f_24318,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032931,0.020483,0.027200,0.041107,0.049470,0.003357,0.010605,0.019406,0.016488,0.034417
f_24319,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032848,0.020483,0.027135,0.040643,0.049470,0.003340,0.010589,0.019406,0.016488,0.030098
f_24320,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032987,0.020483,0.027279,0.042209,0.049470,0.003368,0.010643,0.019406,0.016488,0.039609

In [ ]:
dados = df_max_scaled

In [ ]:
dados = dados.fillna(0)
dados

,0,1,2,3,4,5,6,7,8,9,...,302,303,304,305,306,307,308,309,310,311
id,0.000000,0.000001,2.413240e-07,0.000003,1.0,0.000006,0.000006,0.000008,0.000002,0.000010,...,0.000209,0.000154,0.000220,0.000251,0.000149,0.000044,0.000166,0.000145,0.000096,0.000203
f_0,0.927910,0.911870,9.460782e-01,0.965740,0.0,0.974980,0.929866,0.938655,0.807083,0.957579,...,0.056833,0.008284,0.037214,0.071492,0.049316,0.014994,0.035948,0.020456,0.008723,0.072964
f_1,0.930097,0.875378,4.132319e-01,0.964335,0.0,0.997738,0.936037,0.972262,0.668833,0.946787,...,0.056757,0.008274,0.037192,0.071063,0.049316,0.014923,0.032307,0.020424,0.008710,0.072964
f_2,0.881652,0.924808,4.642797e-01,0.961239,0.0,0.788942,0.951700,0.953118,0.723805,0.899861,...,0.056965,0.008325,0.037265,0.074031,0.049316,0.015065,0.068612,0.020518,0.008803,0.072964
f_3,0.390024,0.898878,8.788779e-01,0.953008,0.0,0.992075,0.981032,1.000000,0.344662,0.959716,...,0.056847,0.008269,0.037221,0.071138,0.054346,0.014937,0.032318,0.020908,0.009197,0.072964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_24316,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032918,0.020483,0.027135,0.040561,0.049470,0.003354,0.010589,0.019406,0.016488,0.005752
f_24317,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032918,0.020483,0.027279,0.040725,0.049470,0.003525,0.010697,0.019406,0.016488,0.005915
f_24318,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032931,0.020483,0.027200,0.041107,0.049470,0.003357,0.010605,0.019406,0.016488,0.034417
f_24319,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032848,0.020483,0.027135,0.040643,0.049470,0.003340,0.010589,0.019406,0.016488,0.030098
f_24320,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032987,0.020483,0.027279,0.042209,0.049470,0.003368,0.010643,0.019406,0.016488,0.039609

In [ ]:
média_RTT = dados[311].median()
print(média_RTT)

0.005921824104234527

In [ ]:
def classificar_alvo(x):
  if x < média_RTT:
    return 0
  return 1

### Obter Target

In [ ]:
target =dados[311].apply(classificar_alvo)

In [ ]:
target

id         0
f_0        1
f_1        1
f_2        1
f_3        1
          ..
f_24316    0
f_24317    0
f_24318    1
f_24319    1
f_24320    1
Name: 311, Length: 24322, dtype: int64

In [ ]:
target.value_counts()

1    12197
0    12125
Name: 311, dtype: int64

### Constantes

In [ ]:
path_adj = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/grafo.adj'
path_gexf = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/grafo_causalidade_rnp_1.gexf'
path_nodes = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto.csv'
path_dataset_rnp_final = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_1.csv'
path_dataset_metricas_rnp_transposto = '/content/drive/MyDrive/Seagate/RNP/dataset_set_2022/dataset/dataset_rnp_transposto_1.csv'
path_gat_model = '/content/drive/MyDrive/Seagate/RNP/gat_model_1.csv'

### Carregar Arestas

In [ ]:
X = nx.read_gexf(path_gexf)

In [ ]:
n_vertices = X.number_of_nodes()
n_arestas = X.number_of_edges()
print(n_arestas)
print(n_vertices)

9085
225

In [ ]:
df_edge = nx.to_pandas_edgelist(X)

In [ ]:
df_edge

     source target    id
0         0      1     0
1         0      3     1
2         0      4     2
3         0      5     3
4         0      6     4
...     ...    ...   ...
9080    224     88  9080
9081    224     96  9081
9082    224    223  9082
9083    224     78  9083
9084    224    216  9084

[9085 rows x 3 columns]

In [ ]:
colunas = list(df_edge.columns)

In [ ]:
convert_dict = {}
for coluna in colunas:
  convert_dict[coluna] = float

In [ ]:
df_edge = df_edge.astype(convert_dict)  
print(df_edge.dtypes)

source    float64
target    float64
id        float64
dtype: object

In [ ]:
df_edge

      source  target      id
0        0.0     1.0     0.0
1        0.0     3.0     1.0
2        0.0     4.0     2.0
3        0.0     5.0     3.0
4        0.0     6.0     4.0
...      ...     ...     ...
9080   224.0    88.0  9080.0
9081   224.0    96.0  9081.0
9082   224.0   223.0  9082.0
9083   224.0    78.0  9083.0
9084   224.0   216.0  9084.0

[9085 rows x 3 columns]

In [ ]:
df_edge = df_edge.drop(columns=['id'])
df_edge

      source  target
0        0.0     1.0
1        0.0     3.0
2        0.0     4.0
3        0.0     5.0
4        0.0     6.0
...      ...     ...
9080   224.0    88.0
9081   224.0    96.0
9082   224.0   223.0
9083   224.0    78.0
9084   224.0   216.0

[9085 rows x 2 columns]

In [ ]:
for indice in range(9083):
  if(indice >= 2):
    df_edge = df_edge.drop(indice)

In [ ]:
df_edge = df_edge.drop(9083)
df_edge = df_edge.drop(9084)

In [ ]:
df_edge

   source  target
0     0.0     1.0
1     0.0     3.0

In [ ]:
df_edge = df_edge.T
df_edge

          0    1
source  0.0  0.0
target  1.0  3.0

In [ ]:
df_edge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, source to target
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      float64
 1   1       2 non-null      float64
dtypes: float64(2)
memory usage: 156.0+ bytes

In [ ]:
type(df_edge.values)

numpy.ndarray

### Transformar em Tensores

In [ ]:
dados

,0,1,2,3,4,5,6,7,8,9,...,302,303,304,305,306,307,308,309,310,311
id,0.000000,0.000001,2.413240e-07,0.000003,1.0,0.000006,0.000006,0.000008,0.000002,0.000010,...,0.000209,0.000154,0.000220,0.000251,0.000149,0.000044,0.000166,0.000145,0.000096,0.000203
f_0,0.927910,0.911870,9.460782e-01,0.965740,0.0,0.974980,0.929866,0.938655,0.807083,0.957579,...,0.056833,0.008284,0.037214,0.071492,0.049316,0.014994,0.035948,0.020456,0.008723,0.072964
f_1,0.930097,0.875378,4.132319e-01,0.964335,0.0,0.997738,0.936037,0.972262,0.668833,0.946787,...,0.056757,0.008274,0.037192,0.071063,0.049316,0.014923,0.032307,0.020424,0.008710,0.072964
f_2,0.881652,0.924808,4.642797e-01,0.961239,0.0,0.788942,0.951700,0.953118,0.723805,0.899861,...,0.056965,0.008325,0.037265,0.074031,0.049316,0.015065,0.068612,0.020518,0.008803,0.072964
f_3,0.390024,0.898878,8.788779e-01,0.953008,0.0,0.992075,0.981032,1.000000,0.344662,0.959716,...,0.056847,0.008269,0.037221,0.071138,0.054346,0.014937,0.032318,0.020908,0.009197,0.072964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_24316,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032918,0.020483,0.027135,0.040561,0.049470,0.003354,0.010589,0.019406,0.016488,0.005752
f_24317,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032918,0.020483,0.027279,0.040725,0.049470,0.003525,0.010697,0.019406,0.016488,0.005915
f_24318,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032931,0.020483,0.027200,0.041107,0.049470,0.003357,0.010605,0.019406,0.016488,0.034417
f_24319,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032848,0.020483,0.027135,0.040643,0.049470,0.003340,0.010589,0.019406,0.016488,0.030098
f_24320,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032987,0.020483,0.027279,0.042209,0.049470,0.003368,0.010643,0.019406,0.016488,0.039609

In [ ]:
dados = dados.drop(311,axis='columns')
dados

,0,1,2,3,4,5,6,7,8,9,...,301,302,303,304,305,306,307,308,309,310
id,0.000000,0.000001,2.413240e-07,0.000003,1.0,0.000006,0.000006,0.000008,0.000002,0.000010,...,0.000190,0.000209,0.000154,0.000220,0.000251,0.000149,0.000044,0.000166,0.000145,0.000096
f_0,0.927910,0.911870,9.460782e-01,0.965740,0.0,0.974980,0.929866,0.938655,0.807083,0.957579,...,0.032353,0.056833,0.008284,0.037214,0.071492,0.049316,0.014994,0.035948,0.020456,0.008723
f_1,0.930097,0.875378,4.132319e-01,0.964335,0.0,0.997738,0.936037,0.972262,0.668833,0.946787,...,0.032321,0.056757,0.008274,0.037192,0.071063,0.049316,0.014923,0.032307,0.020424,0.008710
f_2,0.881652,0.924808,4.642797e-01,0.961239,0.0,0.788942,0.951700,0.953118,0.723805,0.899861,...,0.032448,0.056965,0.008325,0.037265,0.074031,0.049316,0.015065,0.068612,0.020518,0.008803
f_3,0.390024,0.898878,8.788779e-01,0.953008,0.0,0.992075,0.981032,1.000000,0.344662,0.959716,...,0.032366,0.056847,0.008269,0.037221,0.071138,0.054346,0.014937,0.032318,0.020908,0.009197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_24316,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.023340,0.032918,0.020483,0.027135,0.040561,0.049470,0.003354,0.010589,0.019406,0.016488
f_24317,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.023466,0.032918,0.020483,0.027279,0.040725,0.049470,0.003525,0.010697,0.019406,0.016488
f_24318,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.022707,0.032931,0.020483,0.027200,0.041107,0.049470,0.003357,0.010605,0.019406,0.016488
f_24319,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.021505,0.032848,0.020483,0.027135,0.040643,0.049470,0.003340,0.010589,0.019406,0.016488
f_24320,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.033270,0.032987,0.020483,0.027279,0.042209,0.049470,0.003368,0.010643,0.019406,0.016488

In [ ]:
x = torch.tensor(dados.values, dtype=torch.float)

In [ ]:
edge_index = torch.tensor(df_edge.values, dtype=torch.long)

In [ ]:
y = target.to_numpy()

In [ ]:
y = torch.tensor(target.values, dtype=torch.long)

## Criar Data

In [ ]:
dados

,0,1,2,3,4,5,6,7,8,9,...,301,302,303,304,305,306,307,308,309,310
id,0.000000,0.000001,2.413240e-07,0.000003,1.0,0.000006,0.000006,0.000008,0.000002,0.000010,...,0.000190,0.000209,0.000154,0.000220,0.000251,0.000149,0.000044,0.000166,0.000145,0.000096
f_0,0.927910,0.911870,9.460782e-01,0.965740,0.0,0.974980,0.929866,0.938655,0.807083,0.957579,...,0.032353,0.056833,0.008284,0.037214,0.071492,0.049316,0.014994,0.035948,0.020456,0.008723
f_1,0.930097,0.875378,4.132319e-01,0.964335,0.0,0.997738,0.936037,0.972262,0.668833,0.946787,...,0.032321,0.056757,0.008274,0.037192,0.071063,0.049316,0.014923,0.032307,0.020424,0.008710
f_2,0.881652,0.924808,4.642797e-01,0.961239,0.0,0.788942,0.951700,0.953118,0.723805,0.899861,...,0.032448,0.056965,0.008325,0.037265,0.074031,0.049316,0.015065,0.068612,0.020518,0.008803
f_3,0.390024,0.898878,8.788779e-01,0.953008,0.0,0.992075,0.981032,1.000000,0.344662,0.959716,...,0.032366,0.056847,0.008269,0.037221,0.071138,0.054346,0.014937,0.032318,0.020908,0.009197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f_24316,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.023340,0.032918,0.020483,0.027135,0.040561,0.049470,0.003354,0.010589,0.019406,0.016488
f_24317,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.023466,0.032918,0.020483,0.027279,0.040725,0.049470,0.003525,0.010697,0.019406,0.016488
f_24318,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.022707,0.032931,0.020483,0.027200,0.041107,0.049470,0.003357,0.010605,0.019406,0.016488
f_24319,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.021505,0.032848,0.020483,0.027135,0.040643,0.049470,0.003340,0.010589,0.019406,0.016488
f_24320,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.033270,0.032987,0.020483,0.027279,0.042209,0.049470,0.003368,0.010643,0.019406,0.016488

### Validação Cruzada

#### K-fold

In [ ]:
def kfold(k,random_indices):  
  print(random_indices)
  intervalo = len(random_indices)/k
  print('Intervalo = ',intervalo)
  folds = []
  for fold in range(k):
    if((fold+1)==k):
      dados_fold = random_indices[int(fold*intervalo):]
      folds.append(dados_fold)    
    else:
      dados_fold = random_indices[int(fold*intervalo):(int((fold+1)*intervalo))]
      folds.append(dados_fold)    
  return folds

In [ ]:
random_indices = np.random.permutation(range(dados.shape[0]))

In [ ]:
folds = kfold(10,random_indices)

[18185 18238  8389 ... 18368 17400 13081]
Intervalo =  2432.2

#### CrossVal

In [ ]:
from numpy.core.multiarray import concatenate
soma_acc=0
soma_prec=0
soma_rec=0
soma_f1=0
for rodada in range(len(folds)):
  teste = rodada
  val = 0  
  if(rodada!=9):
    val = teste + 1  
  test_data = folds[teste]
  val_data = folds[val]
  train_data = []
  for treino in range(len(folds)):
    if(treino!=teste and treino!=val):
      train_data = train_data + (folds[treino].tolist())
  train_mask = []
  test_mask = []
  val_mask = []

  for cont in range(len(random_indices)):
    if(cont in train_data):
      train_mask.append(True)
      test_mask.append(False)
      val_mask.append(False)
    else:
      train_mask.append(False)
      test_mask.append(True)
      val_mask.append(True)
  train_mask = torch.tensor(train_mask, dtype=torch.bool)
  test_mask = torch.tensor(test_mask, dtype=torch.bool)
  val_mask = torch.tensor(val_mask, dtype=torch.bool)
  data = Data(x=x, edge_index=edge_index, y=y)
  data.train_mask = train_mask
  data.test_mask = test_mask
  data.val_mask = val_mask
  

    # Create GAT model
  gat = GAT(dados.shape[1], 8, 2)
  print(gat)

# Train
  train(gat, data)

# Test
  acc,prec,rec,f1 = test(gat, data)
  print(f'\nGAT test precision: {prec*100:.2f}%\n')
  print(f'\nGAT test recall: {rec*100:.2f}%\n')
  print(f'\nGAT test f1 score: {f1*100:.2f}%\n')
  print(f'\nGAT test accuracy: {acc*100:.2f}%\n')
  soma_acc = soma_acc + acc
  soma_prec = soma_prec + prec
  soma_rec = soma_rec + rec
  soma_f1 = soma_f1 + f1

GAT(
  (gat1): GATv2Conv(311, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.736 | Train Acc:  50.12% | Val Loss: 0.75 | Val Acc: 48.81%
Epoch  10 | Train Loss: 0.684 | Train Acc:  51.65% | Val Loss: 0.68 | Val Acc: 51.89%
Epoch  20 | Train Loss: 0.647 | Train Acc:  65.62% | Val Loss: 0.65 | Val Acc: 65.95%
Epoch  30 | Train Loss: 0.621 | Train Acc:  69.70% | Val Loss: 0.62 | Val Acc: 69.80%
Epoch  40 | Train Loss: 0.602 | Train Acc:  68.61% | Val Loss: 0.60 | Val Acc: 68.22%
Epoch  50 | Train Loss: 0.589 | Train Acc:  69.91% | Val Loss: 0.59 | Val Acc: 69.55%
Epoch  60 | Train Loss: 0.577 | Train Acc:  70.25% | Val Loss: 0.58 | Val Acc: 69.88%
Epoch  70 | Train Loss: 0.567 | Train Acc:  71.05% | Val Loss: 0.57 | Val Acc: 70.35%
Epoch  80 | Train Loss: 0.557 | Train Acc:  71.46% | Val Loss: 0.56 | Val Acc: 71.38%
Epoch  90 | Train Loss: 0.550 | Train Acc:  72.01% | Val Loss: 0.55 | Val Acc: 72.25%
Epoch 100 | Train Loss: 0.544 | Train Acc:  72.38% | Val Loss: 0.54 | Val Acc: 72.57%
Epoch 110 | Train Loss: 0.547 | Train Acc:  72.00% | Val Loss: 0.55 | Val Acc: 71.83%
Epoch 120 | Train Loss: 0.536 | Train Acc:  73.45% | Val Loss: 0.53 | Val Acc: 73.40%
Epoch 130 | Train Loss: 0.531 | Train Acc:  73.19% | Val Loss: 0.53 | Val Acc: 73.62%
Epoch 140 | Train Loss: 0.526 | Train Acc:  73.68% | Val Loss: 0.53 | Val Acc: 73.60%
Epoch 150 | Train Loss: 0.523 | Train Acc:  73.66% | Val Loss: 0.52 | Val Acc: 73.91%
Epoch 160 | Train Loss: 0.524 | Train Acc:  74.23% | Val Loss: 0.52 | Val Acc: 74.07%
Epoch 170 | Train Loss: 0.519 | Train Acc:  74.37% | Val Loss: 0.52 | Val Acc: 74.36%
Epoch 180 | Train Loss: 0.519 | Train Acc:  74.24% | Val Loss: 0.52 | Val Acc: 74.42%
Epoch 190 | Train Loss: 0.518 | Train Acc:  74.75% | Val Loss: 0.52 | Val Acc: 74.63%
Epoch 200 | Train Loss: 0.512 | Train Acc:  74.32% | Val Loss: 0.51 | Val Acc: 75.02%

GAT test precision: 78.94%


GAT test recall: 70.24%


GAT test f1 score: 74.34%


GAT test accuracy: 75.37%

GAT(
  (gat1): GATv2Conv(311, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.729 | Train Acc:  50.14% | Val Loss: 0.72 | Val Acc: 51.40%
Epoch  10 | Train Loss: 0.700 | Train Acc:  50.91% | Val Loss: 0.70 | Val Acc: 51.30%
Epoch  20 | Train Loss: 0.653 | Train Acc:  58.44% | Val Loss: 0.65 | Val Acc: 58.68%
Epoch  30 | Train Loss: 0.625 | Train Acc:  69.21% | Val Loss: 0.62 | Val Acc: 69.18%
Epoch  40 | Train Loss: 0.607 | Train Acc:  69.46% | Val Loss: 0.61 | Val Acc: 69.74%
Epoch  50 | Train Loss: 0.594 | Train Acc:  69.83% | Val Loss: 0.60 | Val Acc: 69.61%
Epoch  60 | Train Loss: 0.586 | Train Acc:  69.44% | Val Loss: 0.59 | Val Acc: 69.22%
Epoch  70 | Train Loss: 0.576 | Train Acc:  70.45% | Val Loss: 0.58 | Val Acc: 70.39%
Epoch  80 | Train Loss: 0.567 | Train Acc:  70.69% | Val Loss: 0.57 | Val Acc: 70.91%
Epoch  90 | Train Loss: 0.559 | Train Acc:  71.34% | Val Loss: 0.56 | Val Acc: 70.93%
Epoch 100 | Train Loss: 0.553 | Train Acc:  71.85% | Val Loss: 0.55 | Val Acc: 71.75%
Epoch 110 | Train Loss: 0.547 | Train Acc:  72.46% | Val Loss: 0.55 | Val Acc: 72.14%
Epoch 120 | Train Loss: 0.543 | Train Acc:  72.40% | Val Loss: 0.54 | Val Acc: 72.25%
Epoch 130 | Train Loss: 0.538 | Train Acc:  72.79% | Val Loss: 0.54 | Val Acc: 72.92%
Epoch 140 | Train Loss: 0.535 | Train Acc:  72.87% | Val Loss: 0.53 | Val Acc: 72.94%
Epoch 150 | Train Loss: 0.532 | Train Acc:  72.95% | Val Loss: 0.53 | Val Acc: 73.11%
Epoch 160 | Train Loss: 0.527 | Train Acc:  73.37% | Val Loss: 0.53 | Val Acc: 73.68%
Epoch 170 | Train Loss: 0.525 | Train Acc:  73.63% | Val Loss: 0.52 | Val Acc: 73.79%
Epoch 180 | Train Loss: 0.522 | Train Acc:  73.77% | Val Loss: 0.52 | Val Acc: 73.81%
Epoch 190 | Train Loss: 0.521 | Train Acc:  74.03% | Val Loss: 0.52 | Val Acc: 73.85%
Epoch 200 | Train Loss: 0.518 | Train Acc:  74.35% | Val Loss: 0.52 | Val Acc: 74.12%

GAT test precision: 80.62%


GAT test recall: 64.49%


GAT test f1 score: 71.66%


GAT test accuracy: 74.16%

GAT(
  (gat1): GATv2Conv(311, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.735 | Train Acc:  49.56% | Val Loss: 0.73 | Val Acc: 49.92%
Epoch  10 | Train Loss: 0.688 | Train Acc:  51.96% | Val Loss: 0.69 | Val Acc: 51.69%
Epoch  20 | Train Loss: 0.650 | Train Acc:  61.87% | Val Loss: 0.65 | Val Acc: 61.33%
Epoch  30 | Train Loss: 0.622 | Train Acc:  69.65% | Val Loss: 0.62 | Val Acc: 70.79%
Epoch  40 | Train Loss: 0.602 | Train Acc:  69.42% | Val Loss: 0.59 | Val Acc: 70.23%
Epoch  50 | Train Loss: 0.591 | Train Acc:  68.98% | Val Loss: 0.58 | Val Acc: 70.91%
Epoch  60 | Train Loss: 0.582 | Train Acc:  69.87% | Val Loss: 0.57 | Val Acc: 70.79%
Epoch  70 | Train Loss: 0.573 | Train Acc:  70.59% | Val Loss: 0.56 | Val Acc: 71.75%
Epoch  80 | Train Loss: 0.563 | Train Acc:  71.16% | Val Loss: 0.55 | Val Acc: 72.18%
Epoch  90 | Train Loss: 0.556 | Train Acc:  71.73% | Val Loss: 0.55 | Val Acc: 72.62%
Epoch 100 | Train Loss: 0.550 | Train Acc:  72.26% | Val Loss: 0.54 | Val Acc: 73.07%
Epoch 110 | Train Loss: 0.544 | Train Acc:  72.59% | Val Loss: 0.54 | Val Acc: 73.31%
Epoch 120 | Train Loss: 0.540 | Train Acc:  72.75% | Val Loss: 0.53 | Val Acc: 73.38%
Epoch 130 | Train Loss: 0.538 | Train Acc:  73.13% | Val Loss: 0.53 | Val Acc: 73.62%
Epoch 140 | Train Loss: 0.535 | Train Acc:  73.48% | Val Loss: 0.53 | Val Acc: 73.27%
Epoch 150 | Train Loss: 0.531 | Train Acc:  73.81% | Val Loss: 0.52 | Val Acc: 73.64%
Epoch 160 | Train Loss: 0.531 | Train Acc:  73.35% | Val Loss: 0.52 | Val Acc: 73.97%
Epoch 170 | Train Loss: 0.526 | Train Acc:  74.21% | Val Loss: 0.52 | Val Acc: 74.05%
Epoch 180 | Train Loss: 0.522 | Train Acc:  74.15% | Val Loss: 0.51 | Val Acc: 74.59%
Epoch 190 | Train Loss: 0.539 | Train Acc:  72.95% | Val Loss: 0.53 | Val Acc: 73.68%
Epoch 200 | Train Loss: 0.517 | Train Acc:  74.57% | Val Loss: 0.51 | Val Acc: 74.86%

GAT test precision: 83.01%


GAT test recall: 60.43%


GAT test f1 score: 69.94%


GAT test accuracy: 74.36%

GAT(
  (gat1): GATv2Conv(311, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.731 | Train Acc:  49.33% | Val Loss: 0.73 | Val Acc: 48.74%
Epoch  10 | Train Loss: 0.664 | Train Acc:  62.50% | Val Loss: 0.66 | Val Acc: 62.16%
Epoch  20 | Train Loss: 0.637 | Train Acc:  67.78% | Val Loss: 0.63 | Val Acc: 68.78%
Epoch  30 | Train Loss: 0.616 | Train Acc:  69.72% | Val Loss: 0.61 | Val Acc: 69.95%
Epoch  40 | Train Loss: 0.598 | Train Acc:  68.97% | Val Loss: 0.59 | Val Acc: 69.68%
Epoch  50 | Train Loss: 0.587 | Train Acc:  69.84% | Val Loss: 0.58 | Val Acc: 70.52%
Epoch  60 | Train Loss: 0.577 | Train Acc:  70.47% | Val Loss: 0.57 | Val Acc: 71.24%
Epoch  70 | Train Loss: 0.566 | Train Acc:  70.93% | Val Loss: 0.56 | Val Acc: 71.84%
Epoch  80 | Train Loss: 0.557 | Train Acc:  71.43% | Val Loss: 0.55 | Val Acc: 72.13%
Epoch  90 | Train Loss: 0.549 | Train Acc:  72.09% | Val Loss: 0.55 | Val Acc: 72.74%
Epoch 100 | Train Loss: 0.544 | Train Acc:  72.22% | Val Loss: 0.54 | Val Acc: 72.37%
Epoch 110 | Train Loss: 0.537 | Train Acc:  72.86% | Val Loss: 0.54 | Val Acc: 73.20%
Epoch 120 | Train Loss: 0.534 | Train Acc:  73.42% | Val Loss: 0.53 | Val Acc: 73.30%
Epoch 130 | Train Loss: 0.531 | Train Acc:  73.15% | Val Loss: 0.53 | Val Acc: 73.59%
Epoch 140 | Train Loss: 0.526 | Train Acc:  73.75% | Val Loss: 0.52 | Val Acc: 73.53%
Epoch 150 | Train Loss: 0.526 | Train Acc:  74.13% | Val Loss: 0.53 | Val Acc: 73.85%
Epoch 160 | Train Loss: 0.521 | Train Acc:  73.77% | Val Loss: 0.52 | Val Acc: 74.18%
Epoch 170 | Train Loss: 0.520 | Train Acc:  73.94% | Val Loss: 0.52 | Val Acc: 74.00%
Epoch 180 | Train Loss: 0.514 | Train Acc:  74.85% | Val Loss: 0.51 | Val Acc: 74.78%
Epoch 190 | Train Loss: 0.513 | Train Acc:  74.80% | Val Loss: 0.51 | Val Acc: 75.01%
Epoch 200 | Train Loss: 0.516 | Train Acc:  74.90% | Val Loss: 0.52 | Val Acc: 74.82%

GAT test precision: 84.08%


GAT test recall: 60.86%


GAT test f1 score: 70.61%


GAT test accuracy: 74.78%

GAT(
  (gat1): GATv2Conv(311, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.744 | Train Acc:  48.86% | Val Loss: 0.75 | Val Acc: 48.24%
Epoch  10 | Train Loss: 0.687 | Train Acc:  53.81% | Val Loss: 0.68 | Val Acc: 53.79%
Epoch  20 | Train Loss: 0.645 | Train Acc:  63.02% | Val Loss: 0.65 | Val Acc: 62.75%
Epoch  30 | Train Loss: 0.615 | Train Acc:  67.48% | Val Loss: 0.62 | Val Acc: 66.66%
Epoch  40 | Train Loss: 0.597 | Train Acc:  69.91% | Val Loss: 0.61 | Val Acc: 69.39%
Epoch  50 | Train Loss: 0.585 | Train Acc:  69.30% | Val Loss: 0.59 | Val Acc: 68.28%
Epoch  60 | Train Loss: 0.574 | Train Acc:  70.38% | Val Loss: 0.58 | Val Acc: 69.66%
Epoch  70 | Train Loss: 0.564 | Train Acc:  71.02% | Val Loss: 0.58 | Val Acc: 70.17%
Epoch  80 | Train Loss: 0.555 | Train Acc:  71.53% | Val Loss: 0.57 | Val Acc: 70.71%
Epoch  90 | Train Loss: 0.547 | Train Acc:  72.17% | Val Loss: 0.56 | Val Acc: 71.61%
Epoch 100 | Train Loss: 0.540 | Train Acc:  72.84% | Val Loss: 0.56 | Val Acc: 71.72%
Epoch 110 | Train Loss: 0.536 | Train Acc:  72.72% | Val Loss: 0.55 | Val Acc: 72.21%
Epoch 120 | Train Loss: 0.533 | Train Acc:  73.14% | Val Loss: 0.55 | Val Acc: 72.33%
Epoch 130 | Train Loss: 0.529 | Train Acc:  73.64% | Val Loss: 0.54 | Val Acc: 72.42%
Epoch 140 | Train Loss: 0.527 | Train Acc:  73.49% | Val Loss: 0.54 | Val Acc: 72.93%
Epoch 150 | Train Loss: 0.523 | Train Acc:  74.10% | Val Loss: 0.54 | Val Acc: 73.20%
Epoch 160 | Train Loss: 0.518 | Train Acc:  74.17% | Val Loss: 0.53 | Val Acc: 73.50%
Epoch 170 | Train Loss: 0.524 | Train Acc:  74.18% | Val Loss: 0.54 | Val Acc: 73.59%
Epoch 180 | Train Loss: 0.517 | Train Acc:  74.13% | Val Loss: 0.53 | Val Acc: 73.32%
Epoch 190 | Train Loss: 0.514 | Train Acc:  74.85% | Val Loss: 0.54 | Val Acc: 73.98%
Epoch 200 | Train Loss: 0.509 | Train Acc:  74.91% | Val Loss: 0.53 | Val Acc: 74.22%

GAT test precision: 75.85%


GAT test recall: 70.29%


GAT test f1 score: 72.97%


GAT test accuracy: 74.12%

GAT(
  (gat1): GATv2Conv(311, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.722 | Train Acc:  50.04% | Val Loss: 0.73 | Val Acc: 49.63%
Epoch  10 | Train Loss: 0.683 | Train Acc:  54.57% | Val Loss: 0.68 | Val Acc: 54.71%
Epoch  20 | Train Loss: 0.647 | Train Acc:  63.02% | Val Loss: 0.65 | Val Acc: 62.93%
Epoch  30 | Train Loss: 0.619 | Train Acc:  66.28% | Val Loss: 0.63 | Val Acc: 65.21%
Epoch  40 | Train Loss: 0.598 | Train Acc:  69.22% | Val Loss: 0.61 | Val Acc: 67.48%
Epoch  50 | Train Loss: 0.588 | Train Acc:  69.73% | Val Loss: 0.60 | Val Acc: 68.34%
Epoch  60 | Train Loss: 0.577 | Train Acc:  70.72% | Val Loss: 0.59 | Val Acc: 69.10%
Epoch  70 | Train Loss: 0.567 | Train Acc:  71.19% | Val Loss: 0.58 | Val Acc: 69.61%
Epoch  80 | Train Loss: 0.558 | Train Acc:  71.54% | Val Loss: 0.57 | Val Acc: 70.27%
Epoch  90 | Train Loss: 0.550 | Train Acc:  72.11% | Val Loss: 0.56 | Val Acc: 71.09%
Epoch 100 | Train Loss: 0.545 | Train Acc:  72.54% | Val Loss: 0.56 | Val Acc: 71.42%
Epoch 110 | Train Loss: 0.538 | Train Acc:  73.07% | Val Loss: 0.55 | Val Acc: 72.20%
Epoch 120 | Train Loss: 0.538 | Train Acc:  72.87% | Val Loss: 0.55 | Val Acc: 71.79%
Epoch 130 | Train Loss: 0.530 | Train Acc:  73.31% | Val Loss: 0.54 | Val Acc: 72.10%
Epoch 140 | Train Loss: 0.526 | Train Acc:  73.73% | Val Loss: 0.54 | Val Acc: 72.49%
Epoch 150 | Train Loss: 0.527 | Train Acc:  73.76% | Val Loss: 0.54 | Val Acc: 72.66%
Epoch 160 | Train Loss: 0.524 | Train Acc:  74.12% | Val Loss: 0.54 | Val Acc: 73.48%
Epoch 170 | Train Loss: 0.517 | Train Acc:  74.48% | Val Loss: 0.53 | Val Acc: 73.38%
Epoch 180 | Train Loss: 0.515 | Train Acc:  74.53% | Val Loss: 0.53 | Val Acc: 73.83%
Epoch 190 | Train Loss: 0.512 | Train Acc:  74.88% | Val Loss: 0.52 | Val Acc: 74.26%
Epoch 200 | Train Loss: 0.519 | Train Acc:  74.05% | Val Loss: 0.53 | Val Acc: 72.47%

GAT test precision: 75.41%


GAT test recall: 70.42%


GAT test f1 score: 72.83%


GAT test accuracy: 74.07%

GAT(
  (gat1): GATv2Conv(311, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.821 | Train Acc:  49.72% | Val Loss: 0.81 | Val Acc: 50.74%
Epoch  10 | Train Loss: 0.689 | Train Acc:  52.94% | Val Loss: 0.69 | Val Acc: 51.46%
Epoch  20 | Train Loss: 0.648 | Train Acc:  65.67% | Val Loss: 0.65 | Val Acc: 64.86%
Epoch  30 | Train Loss: 0.622 | Train Acc:  67.83% | Val Loss: 0.63 | Val Acc: 66.49%
Epoch  40 | Train Loss: 0.602 | Train Acc:  68.34% | Val Loss: 0.61 | Val Acc: 66.80%
Epoch  50 | Train Loss: 0.590 | Train Acc:  69.99% | Val Loss: 0.60 | Val Acc: 68.91%
Epoch  60 | Train Loss: 0.581 | Train Acc:  70.09% | Val Loss: 0.59 | Val Acc: 69.72%
Epoch  70 | Train Loss: 0.572 | Train Acc:  70.54% | Val Loss: 0.58 | Val Acc: 69.76%
Epoch  80 | Train Loss: 0.562 | Train Acc:  71.31% | Val Loss: 0.57 | Val Acc: 71.07%
Epoch  90 | Train Loss: 0.555 | Train Acc:  71.83% | Val Loss: 0.56 | Val Acc: 71.07%
Epoch 100 | Train Loss: 0.549 | Train Acc:  72.10% | Val Loss: 0.55 | Val Acc: 71.46%
Epoch 110 | Train Loss: 0.542 | Train Acc:  72.62% | Val Loss: 0.55 | Val Acc: 71.69%
Epoch 120 | Train Loss: 0.538 | Train Acc:  72.76% | Val Loss: 0.54 | Val Acc: 72.78%
Epoch 130 | Train Loss: 0.534 | Train Acc:  73.13% | Val Loss: 0.54 | Val Acc: 72.18%
Epoch 140 | Train Loss: 0.532 | Train Acc:  73.30% | Val Loss: 0.54 | Val Acc: 72.41%
Epoch 150 | Train Loss: 0.528 | Train Acc:  73.84% | Val Loss: 0.53 | Val Acc: 73.27%
Epoch 160 | Train Loss: 0.528 | Train Acc:  73.99% | Val Loss: 0.53 | Val Acc: 73.56%
Epoch 170 | Train Loss: 0.521 | Train Acc:  74.14% | Val Loss: 0.53 | Val Acc: 73.23%
Epoch 180 | Train Loss: 0.518 | Train Acc:  74.53% | Val Loss: 0.52 | Val Acc: 73.40%
Epoch 190 | Train Loss: 0.518 | Train Acc:  74.73% | Val Loss: 0.52 | Val Acc: 74.14%
Epoch 200 | Train Loss: 0.515 | Train Acc:  74.68% | Val Loss: 0.52 | Val Acc: 74.38%

GAT test precision: 82.85%


GAT test recall: 60.56%


GAT test f1 score: 69.97%


GAT test accuracy: 73.50%

GAT(
  (gat1): GATv2Conv(311, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.795 | Train Acc:  50.05% | Val Loss: 0.79 | Val Acc: 50.00%
Epoch  10 | Train Loss: 0.691 | Train Acc:  53.50% | Val Loss: 0.70 | Val Acc: 51.50%
Epoch  20 | Train Loss: 0.644 | Train Acc:  63.31% | Val Loss: 0.65 | Val Acc: 62.03%
Epoch  30 | Train Loss: 0.616 | Train Acc:  67.02% | Val Loss: 0.62 | Val Acc: 66.45%
Epoch  40 | Train Loss: 0.598 | Train Acc:  69.27% | Val Loss: 0.60 | Val Acc: 69.33%
Epoch  50 | Train Loss: 0.588 | Train Acc:  69.71% | Val Loss: 0.59 | Val Acc: 69.08%
Epoch  60 | Train Loss: 0.579 | Train Acc:  70.25% | Val Loss: 0.58 | Val Acc: 69.63%
Epoch  70 | Train Loss: 0.571 | Train Acc:  70.55% | Val Loss: 0.58 | Val Acc: 70.52%
Epoch  80 | Train Loss: 0.563 | Train Acc:  71.11% | Val Loss: 0.56 | Val Acc: 71.36%
Epoch  90 | Train Loss: 0.555 | Train Acc:  71.73% | Val Loss: 0.56 | Val Acc: 71.83%
Epoch 100 | Train Loss: 0.549 | Train Acc:  72.16% | Val Loss: 0.55 | Val Acc: 72.16%
Epoch 110 | Train Loss: 0.543 | Train Acc:  72.65% | Val Loss: 0.55 | Val Acc: 71.85%
Epoch 120 | Train Loss: 0.541 | Train Acc:  72.81% | Val Loss: 0.54 | Val Acc: 72.62%
Epoch 130 | Train Loss: 0.536 | Train Acc:  72.97% | Val Loss: 0.54 | Val Acc: 72.84%
Epoch 140 | Train Loss: 0.533 | Train Acc:  73.06% | Val Loss: 0.53 | Val Acc: 72.99%
Epoch 150 | Train Loss: 0.530 | Train Acc:  73.54% | Val Loss: 0.53 | Val Acc: 72.99%
Epoch 160 | Train Loss: 0.530 | Train Acc:  73.59% | Val Loss: 0.53 | Val Acc: 73.60%
Epoch 170 | Train Loss: 0.523 | Train Acc:  73.79% | Val Loss: 0.52 | Val Acc: 74.05%
Epoch 180 | Train Loss: 0.521 | Train Acc:  74.01% | Val Loss: 0.52 | Val Acc: 74.14%
Epoch 190 | Train Loss: 0.519 | Train Acc:  74.10% | Val Loss: 0.52 | Val Acc: 73.79%
Epoch 200 | Train Loss: 0.521 | Train Acc:  74.52% | Val Loss: 0.52 | Val Acc: 74.79%

GAT test precision: 84.62%


GAT test recall: 59.40%


GAT test f1 score: 69.81%


GAT test accuracy: 73.77%

GAT(
  (gat1): GATv2Conv(311, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.708 | Train Acc:  52.03% | Val Loss: 0.71 | Val Acc: 52.00%
Epoch  10 | Train Loss: 0.683 | Train Acc:  55.84% | Val Loss: 0.68 | Val Acc: 56.42%
Epoch  20 | Train Loss: 0.650 | Train Acc:  60.57% | Val Loss: 0.65 | Val Acc: 61.21%
Epoch  30 | Train Loss: 0.623 | Train Acc:  66.07% | Val Loss: 0.62 | Val Acc: 65.88%
Epoch  40 | Train Loss: 0.607 | Train Acc:  67.80% | Val Loss: 0.61 | Val Acc: 67.81%
Epoch  50 | Train Loss: 0.595 | Train Acc:  68.70% | Val Loss: 0.59 | Val Acc: 68.94%
Epoch  60 | Train Loss: 0.585 | Train Acc:  70.02% | Val Loss: 0.58 | Val Acc: 70.20%
Epoch  70 | Train Loss: 0.578 | Train Acc:  70.22% | Val Loss: 0.58 | Val Acc: 70.42%
Epoch  80 | Train Loss: 0.570 | Train Acc:  70.88% | Val Loss: 0.57 | Val Acc: 71.04%
Epoch  90 | Train Loss: 0.563 | Train Acc:  70.91% | Val Loss: 0.56 | Val Acc: 71.16%
Epoch 100 | Train Loss: 0.558 | Train Acc:  71.38% | Val Loss: 0.56 | Val Acc: 71.37%
Epoch 110 | Train Loss: 0.553 | Train Acc:  71.90% | Val Loss: 0.55 | Val Acc: 71.84%
Epoch 120 | Train Loss: 0.547 | Train Acc:  72.11% | Val Loss: 0.55 | Val Acc: 72.21%
Epoch 130 | Train Loss: 0.544 | Train Acc:  72.41% | Val Loss: 0.54 | Val Acc: 72.58%
Epoch 140 | Train Loss: 0.539 | Train Acc:  72.82% | Val Loss: 0.54 | Val Acc: 72.91%
Epoch 150 | Train Loss: 0.537 | Train Acc:  72.88% | Val Loss: 0.54 | Val Acc: 73.24%
Epoch 160 | Train Loss: 0.533 | Train Acc:  73.17% | Val Loss: 0.53 | Val Acc: 73.53%
Epoch 170 | Train Loss: 0.530 | Train Acc:  73.28% | Val Loss: 0.53 | Val Acc: 73.38%
Epoch 180 | Train Loss: 0.528 | Train Acc:  73.68% | Val Loss: 0.53 | Val Acc: 74.06%
Epoch 190 | Train Loss: 0.525 | Train Acc:  73.96% | Val Loss: 0.52 | Val Acc: 74.08%
Epoch 200 | Train Loss: 0.521 | Train Acc:  74.17% | Val Loss: 0.52 | Val Acc: 74.59%

GAT test precision: 79.08%


GAT test recall: 65.66%


GAT test f1 score: 71.75%


GAT test accuracy: 74.18%

GAT(
  (gat1): GATv2Conv(311, 8, heads=8)
  (gat2): GATv2Conv(64, 2, heads=1)
)
Epoch   0 | Train Loss: 0.719 | Train Acc:  51.28% | Val Loss: 0.72 | Val Acc: 51.24%
Epoch  10 | Train Loss: 0.688 | Train Acc:  53.32% | Val Loss: 0.69 | Val Acc: 52.68%
Epoch  20 | Train Loss: 0.653 | Train Acc:  60.47% | Val Loss: 0.65 | Val Acc: 60.29%
Epoch  30 | Train Loss: 0.627 | Train Acc:  69.53% | Val Loss: 0.62 | Val Acc: 70.24%
Epoch  40 | Train Loss: 0.609 | Train Acc:  69.32% | Val Loss: 0.60 | Val Acc: 70.46%
Epoch  50 | Train Loss: 0.595 | Train Acc:  68.83% | Val Loss: 0.59 | Val Acc: 69.48%
Epoch  60 | Train Loss: 0.587 | Train Acc:  69.76% | Val Loss: 0.58 | Val Acc: 70.69%
Epoch  70 | Train Loss: 0.577 | Train Acc:  70.16% | Val Loss: 0.57 | Val Acc: 71.20%
Epoch  80 | Train Loss: 0.567 | Train Acc:  70.94% | Val Loss: 0.56 | Val Acc: 71.28%
Epoch  90 | Train Loss: 0.559 | Train Acc:  71.39% | Val Loss: 0.56 | Val Acc: 72.15%
Epoch 100 | Train Loss: 0.551 | Train Acc:  71.97% | Val Loss: 0.55 | Val Acc: 72.76%
Epoch 110 | Train Loss: 0.547 | Train Acc:  72.13% | Val Loss: 0.54 | Val Acc: 73.01%
Epoch 120 | Train Loss: 0.541 | Train Acc:  72.77% | Val Loss: 0.54 | Val Acc: 73.26%
Epoch 130 | Train Loss: 0.537 | Train Acc:  72.94% | Val Loss: 0.53 | Val Acc: 73.81%
Epoch 140 | Train Loss: 0.531 | Train Acc:  73.51% | Val Loss: 0.53 | Val Acc: 73.55%
Epoch 150 | Train Loss: 0.529 | Train Acc:  73.42% | Val Loss: 0.53 | Val Acc: 73.63%
Epoch 160 | Train Loss: 0.529 | Train Acc:  73.83% | Val Loss: 0.53 | Val Acc: 74.53%
Epoch 170 | Train Loss: 0.523 | Train Acc:  74.26% | Val Loss: 0.52 | Val Acc: 74.57%
Epoch 180 | Train Loss: 0.518 | Train Acc:  74.02% | Val Loss: 0.52 | Val Acc: 74.90%
Epoch 190 | Train Loss: 0.518 | Train Acc:  74.33% | Val Loss: 0.52 | Val Acc: 74.78%
Epoch 200 | Train Loss: 0.514 | Train Acc:  74.33% | Val Loss: 0.52 | Val Acc: 74.92%

GAT test precision: 77.37%


GAT test recall: 71.54%


GAT test f1 score: 74.34%


GAT test accuracy: 75.35%

In [ ]:
print(f'\nGAT test precision: {(soma_prec/10)*100:.2f}%\n')
print(f'\nGAT test recall: {(soma_rec/10)*100:.2f}%\n')
print(f'\nGAT test f1 score: {(soma_f1/10)*100:.2f}%\n')
print(f'\nGAT test accuracy: {(soma_acc/10)*100:.2f}%\n')

GAT test precision: 80.18%


GAT test recall: 65.39%


GAT test f1 score: 71.82%


GAT test accuracy: 74.37%